<template>
  <form>
    <div class="form-group">
      <label for="name">
        <strong>Название материала</strong>
      </label>
      <input
        type="text"
        class="form-control"
        id="name"
        placeholder="Напишите название"
        v-model="name"
      >
    </div>
    <div class="form-group">
      <label for="material">
        <strong>Исходный материал </strong>
      </label>
      <select
        class="form-control"
        id="material"
        v-model="material"
      >
        <option
          v-for="material in parent"
          :key="material.tag"
          :value="material.id"
        >{{material.name}}</option>
      </select>
    </div>
    <div class="mb-5">
      <label>
        <strong>Выберите цвет</strong>
      </label>
      <chrome-picker v-model="colors" />
    </div>
    <button
      type="submit"
      class="btn btn-dark mb-2"
      @click.prevent="saveMaterial"
      :disabled="isLoading"
    >{{isLoading ? 'Сохраняем...' : 'Сохранить'}}</button>
  </form>
</template>

<script>
import { Chrome } from "vue-color";
import Input from "../common/Input";

export default {
  components: {
    Input,
    "chrome-picker": Chrome
  },
  props: ['parent'],
  data: function() {
    return {
      isLoading: false,
      name: "",
      colors: "#194d33",
      material: ""
    };
  },
  methods: {
    saveMaterial() {
      if (!this.name || !this.colors.hex | !this.material) {
        this.$toast.warn({
          title: "Внимание!",
          message: "Заполните все поля."
        });
        return;
      }
      this.isLoading = true;
      const data = new FormData();
      data.append("name", this.name);
      data.append("color", this.colors.hex);
      data.append("material_id", this.material);
      axios
        .post("/admin/material-types", data, {
          headers: {
            "Content-Type": "multipart/form-data"
          }
        })
        .then(response => {
          this.isLoading = false;
          if (response.status === 200 && response.data === "ok") {
            this.$toast.success({
              title: "Успешно!",
              message: "Материал сохранен."
            });
          }
        })
        .catch(err => {
          this.isLoading = false;
          this.$toast.error({
            title: "Ошибка.",
            message: "Упс, что-то пошло не так!(проверьте введенные данные)"
          });
        });
    }
  }
};
</script>
