.arrow-box {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 52px;
  height: 52px;
  bottom: 0;
  right: 40px;
  background-color: rgba(0,0,0,0.3);
  transition: opacity .2s linear;
  cursor: pointer;
  display: none;
  z-index: 100;
  &.hide {
    opacity: 0;
  }
  >.arrow-top {
    position: static;
    width: 2px;
    height: 35px;
    background-color: black;
    transition: background-color .2s linear;
    &:after, &:before {
      content: "";
      display: block;
      width: 2px;
      height: 15px;
      background-color: black;
      position: absolute;
      transition: background-color .2s linear;
    }
    &:after {
      transform: rotate(45deg) translate(-5px, 1.5px);
    }
    &:before {
      transform: rotate(-45deg) translate(5px, 1.5px);
    }
  }
  &:hover {
    >.arrow-top {
      background-color: #f7e2b9;
      &:after, &:before {
        background-color: #f7e2b9;
      }
    }
  }
}