.company-nav {
  width: 100%;
  max-width: 980px;
  height: 500px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 50% 50%;
  grid-gap: 2px;
  >.nav-plate {
    text-align: center;
    font-size: 35px;
    font-family: Arial;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    position: relative;
    &.plate-1 {
      background-image: url('/images/01_Company/00_Меню/1.webp');
    }
    &.plate-2 {
      background-image: url('/images/01_Company/00_Меню/2.webp');
    }
    &.plate-3 {
      background-image: url('/images/01_Company/00_Меню/3.webp');
    }
    &.plate-4 {
      background-image: url('/images/01_Company/00_Меню/4.webp');
    }
    >span {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      left: 0;
      bottom: 0;
      right: 0;
      top: 0;
      background-color: rgba(46, 45, 45, 0.85);
      transition: all .3s linear;
      user-select: none;
      &:hover {
        background-color: rgba(255, 255, 255, 0.85);
        color: black;
      }
    }
  }
}

nav.company-aside-menu {
  position: fixed;
  right: 15px;
  top: 30%;
  z-index: 101;
  ul {
    li.company-aside-link {
      padding: 5px;
      text-align: right;
      font-family: Futura;
      font-size: 20px;
      cursor: pointer;
      .link-label {
        display: none;
      }
      .point {
        display: inline-block;
        border: 2px solid black;
        width: 12px;
        height: 12px;
        border-radius: 50%;
      }
      &:hover {
        .point {
           background-color: black;
        }
        .link-label {
          display: inline-block;
          animation: appearance 0.3s linear;
        }
      }
    }
  }
}

@keyframes appearance {
  0%{
    opacity: 0;
    transform: translateX(10px);
  }
  50%{
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
@media screen and (max-width: 600px) {
  .company-nav {
    display: none;
  }
  nav.company-aside-menu {
    display: none;
  }
}