@font-face {
  font-family: 'Romul';
  src: url("../fonts/Romul.woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Futura';
  src: url("../fonts/futuralightc.woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Bernhard';
  src: url("../fonts/Bernhard-ScriptC.woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Asquets';
  src: url("../fonts/asquets.woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Goudy';
  src: url("../fonts/goudytrajan-regular-trial.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'LibreBaskerville';
  src: url("../fonts/LibreBaskerville.woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Favorit';
  src: url("../fonts/favoritlightc.otf");
  font-weight: normal;
  font-style: normal;
}

