$company_color: #FEE9BB;

.main-header {
  display: flex;
  height: 115px;
  background-color: #2F2E2E;
  >.header-body {
    width: 100%;
    height: 115px;
    max-width: 980px;
    margin: 0 auto;
    display: grid;
    color: $company_color;
    grid-template-areas:
	    "leftpart logo rightpart"
	    "header header header"
	    "navigation navigation navigation";
	  grid-template-rows: 1fr 1fr 38px;
    grid-template-columns: 1fr 1fr 1fr;
    .company-header {
      font-weight: normal;
	    text-transform: uppercase;
	    letter-spacing: 2px;
      font-family: Romul;
      margin: 0;
      font-size: .9rem;
      color: $company_color;
      text-align: center;
      grid-area: header;
      padding-top: 5px;
    }
    .left-part {
      grid-area: leftpart;
      display: flex;
      justify-content: flex-start;
      align-items: flex-end;
      padding-top: 8px;
      padding-left: 50px;
      >a.header-icon {
        margin: 0 10px;
        >svg {
          width: 26px;
	        height: 26px;
          fill: $company_color;
        }
        &.store {
           >svg {
          width: 26px;
	        height: 36px;
          }
        }
      }
    }
    .right-part {
      grid-area: rightpart;
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      padding-right: 50px;
      padding-top: 8px;
      >a.header-icon {
        margin: 0 10px;
        >svg {
          width: 26px;
	        height: 26px;
	        fill: $company_color;
        }
        &.shopping-bag {
          cursor: pointer;
        }
      }
      .account-btn {
        display: flex;
        align-items: center;
        margin-right: 10px;
        cursor: pointer;
        >img {
          border-radius: 50%;
        }
        >i {
          margin-left: 10px;
        }
      }
      .user-login {
        display: flex;
        margin-right: 10px;
        padding-top: 5px;
        cursor: pointer;
        >span {
          margin-left: 10px;
          margin-top: 5px;
          font-family: Arial;
        }
        >svg {
          width: 26px;
          height: 26px;
          fill: $company_color;
        }
      }
      .account-control {
        .account-btn {
          .img-user {
            width: 36px;
            height: 36px;
            background-repeat: no-repeat;
            background-size: cover;
            border-radius: 50%;
          }
        }
      }
    }
    .logo {
      grid-area: logo;
      .main-logo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        >img {
          width: 113px;
          height: auto;
          margin: 0 auto;
        }
      }
    }
    .navigation {
      grid-area: navigation;
      .nav-bar {
        display: flex;
        >li {
          height: 100%;
          flex: 1;
          >a {
            text-align: center;
            color: #fff;
            height: 100%;
	          transition: all ease 0.3s;
	          text-transform: uppercase;
	          font-size: 11.5px;
	          white-space: nowrap;
            font-family: Romul;
            letter-spacing: 0.5px;
            line-height: 38px;
            &:hover {
              background: $company_color;
	            color: #333;
            }
            &.active {
	            background-color: #403F3F;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .main-header {
    .navigation {
      display: none;
    }
    >.header-body {
      grid-template-areas:
	    "rightpart logo area"
	    "header header header"
      "leftpart leftpart leftpart";
      grid-template-rows: 1fr 1fr 1fr;
      grid-template-columns: 1fr 184px 1fr;
      .right-part {
        padding-right: 0;
        justify-content: center;
        .account-control{
          display: none;
        }
        .user-login {
          display: none;
        }
      }
      .left-part {
        justify-content: center;
        padding: 0;
        padding-bottom: 5px;
        >.header-icon.store {
          margin-top: -5px;
        }
      }
    }
  }
}

@media screen and (max-width: 540px) {
  .main-header {
    > .header-body {
      .company-header {
        font-size: 0.8rem;
        margin-bottom: 10px;
      }
    }
  }

}