.history-container {
  max-width: 980px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 80px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  .caption-history {
    width: 100%;
    height: 300px;
    background-image: url('/images/01_Company/02_История бренда/caption.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;
    background-position: center center;
    > h1 { 
      margin-top: 30px;
      text-transform: uppercase;
      letter-spacing: 20px;
      font-weight: lighter;
      color: #FFE8A5;
      font-size: 40px;
      text-align: center;
      font-weight: normal;
      font-family: Romul, serif;
    }
  }
  >p.history-description {
    width: 65%;
    margin-top: 40px;
    line-height: 1.3;
    text-align: center;
    font-size: 1.25rem;
    font-family: Futura;
    color: #4B4B4B;
    font-weight: lighter;
    &:last-of-type {
      margin-bottom: 40px;
    }
  }
  .history-road {
    >.road-left,
    >.road-right {
      width: 50%;
    }
    >.road-left {
      padding-top: 100px;
      padding-right: 50px;
      text-align: right;
      border-right: 3px solid #CECECE;
    }
    >.road-right {
      padding-top: 200px;
      padding-left: 50px;
      border-left: 3px solid #CECECE;
    }
    .history-part {
      margin-bottom: 100px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      &.left {
        -webkit-box-pack: end;
        -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
        justify-content: flex-end;
      }
      .history-picture {
        margin-left: 10px;
        margin-right: 10px;
        width: 90px;
        height: 90px;
        border: 5px solid #CECECE;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        position: relative;
        background-repeat: no-repeat;
        -webkit-background-size: cover;
        background-size: cover;
        background-position: center;
        &.h_p-1951 {
          background-image: url('/images/01_Company/02_История бренда/1951.jpg');
        }

        &.h_p-1962 {
          background-image: url('/images/01_Company/02_История бренда/1962.jpg');
        }
        &.h_p-1964 {
          background-image: url('/images/01_Company/02_История бренда/1964.jpg');
        }
        &.h_p-1979 {
          background-image: url('/images/01_Company/02_История бренда/1979.jpg');
        }
        &.h_p-2014 {
          background-image: url('/images/01_Company/02_История бренда/2014.jpg');
        }
        &.h_p-2017 {
          background-image: url('/images/01_Company/02_История бренда/2017.jpg');
        }
        &:before,
        &:after {
          content: "";
          display: block;
          position: absolute;
          background-color: #CECECE;
        }
        &:before {
          width: 50px;
          height: 2px;
          right: -56px;
          top: 50%;
        }
        &:after {
          width: 25px;
          height: 26px;
          top: -webkit-calc(50% - 15px);
          top: -webkit-calc(50% - 13px);
          top: calc(50% - 13px);
          right: -81px;
          -webkit-border-radius: 50%;
          border-radius: 50%;
        }
      }
      &:hover {
        .history-picture {
          border-color: #FEDE99;
        }
        .history-picture:before,
        .history-picture:after {
          background-color: #FEDE99;
        }
      }
      &.right {
        left: -56px;
        .history-picture:before {
          left: -56px;
        }
        .history-picture:after {
          left: -81px;
        }
      }
      .history-part-description {
        width: 70%;
        >p {
          font-weight: lighter;
          font-family: 'Rubik', sans-serif;
          color: #181818;
          line-height: 1.3;
          font-size: 15px;
        }
        >h3.year {
          font-size: 18px;
          font-weight: lighter;
          font-family: 'Rubik', sans-serif;
          color: #181818;
        }
      }
    }
  }
  .history-road-mobile {
    margin-left: 50px;
    display: none;
    padding-top: 30px;
    border-left: 5px solid #bababa;
    .history-part {
      padding-left: 50px;
      margin-bottom: 50px;
      font-family: Arial;
      font-size: 15px;
      position: relative;
      .history-part-description {
        >.year {
          display: inline-block;
          font-family: Futura;
          border-bottom: 1px solid #181818;
        }
      }
      .history-picture {
        width: 75px;
        height: 75px;
        border: 5px solid #bababa;
        border-radius: 50%;
        position: absolute;
        left: -40px;
        background-repeat: no-repeat;
        -webkit-background-size: cover;
        background-size: cover;
        background-position: center;
        &.h_p-1951 {
          background-image: url('/images/01_Company/02_История бренда/1951.jpg');
        }

        &.h_p-1962 {
          background-image: url('/images/01_Company/02_История бренда/1962.jpg');
        }
        &.h_p-1964 {
          background-image: url('/images/01_Company/02_История бренда/1964.jpg');
        }
        &.h_p-1979 {
          background-image: url('/images/01_Company/02_История бренда/1979.jpg');
        }
        &.h_p-2014 {
          background-image: url('/images/01_Company/02_История бренда/2014.jpg');
        }
        &.h_p-2017 {
          background-image: url('/images/01_Company/02_История бренда/2017.jpg');
        }
      }
    }
  }
}

@media screen and (max-width: 650px) {
  .history-description {
    width: 90%;
  }
  .history-road {
    display: none;
  }
  .history-container {
    .caption-history {
      -webkit-background-size: 650px;
      background-size: 650px;
      background-attachment: scroll;

      >h1 {
        font-size: 24px;
        letter-spacing: 0.4em;
      }
    }
    .history-road-mobile {
      display: block;
    }
  }
  .jewelry-caption {
    background-attachment: scroll;
  }

}