.jewelry-container {
  max-width: 980px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 80px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  .jewelry-caption {
    width: 100%;
    height: 300px;
    padding-top: 30px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;
    background-position: center center;
    background-image: url('/images/01_Company/03_Украшения PBo/caption.jpg');
    >h1 {
      text-transform: uppercase;
      letter-spacing: 20px;
      font-weight: lighter;
      color: #FFE8A5;
      font-size: 40px;
      text-align: center;
      font-weight: normal;
      font-family: Romul, serif;
    }
  }
  .scheme-ring {
    position: relative;
    margin-bottom: 100px;
    overflow: hidden;

    &:hover > .ring-tooltip {
      opacity: 1;
    }
    >img {
      width: 100%;
    }
    >.ring-tooltip {
      display: block;
      padding: 10px;
      background-color: black;
      color: #fff;
      font-family: Avenir Next Cyr Light;
      position: absolute;
      font-size: 22px;
      border: 1px solid black;
      opacity: 0;
      transition: all .5s linear;
      &:hover {
        background-color: #fff;
        color: black;
      }
      &:after {
        position: absolute;
        content: "";
        display: block;
        background-color: black;
      }
      &.tooltip-1 {
        top: 32%;
        left: 74%;
        &:after {
          width: 50%;
          height: 1px;
          left: -50%;
          top: -1px;
        }
      }
      &.tooltip-2 {
        top: 10%;
        left: 53%;
        &:after {
          width: 1px;
          height: 400%;
          left: -1px;
          top: 0;
        }
      }
      &.tooltip-3 {
        top: 58%;
        left: 43%;
        &:after {
          width: 1px;
          height: 150%;
          left: -1px;
          top: -150%;
        }
      }
      &.tooltip-4 {
        top: 15%;
        right: 66%;
        &:after {
          width: 1px;
          height: 380%;
          right: -1px;
          bottom: -380%;
        }
      }
    }
  }
  .jewelry-part {
    display: flex;
    margin-bottom: 100px;
    .parts-description {
      width: 50%;
      padding: 0 60px;
      display: flex;
      flex-direction: column;
      >h2 {
        color: #B4B4E6;
        font-family: Romul;
        text-transform: uppercase;
        font-size: 30px;
        font-weight: lighter;
        text-align: center;
        margin-bottom: 25px;
      }
      >article {
        flex: 1;
        >p.paragraph {
          font-family: Futura;
          text-align: center;
          font-size: 20px;
          margin-bottom: 25px;
          font-weight: normal;
          line-height: 1.2;
        }
      }

      >a {
        display: block;
        padding: 12px;
        margin: 0 auto;
        text-align: center;
        background-color: black;
        max-width: 350px;
        color: #fff;
        font-family: Favorit;
        white-space: nowrap;
        font-size: 19px;
        letter-spacing: 1px;
        transition: all .3s linear;
        &:hover {
          background-color: #fff;
          color: black;
        }
      }
    }
    .part-images {
      flex: 1;
      max-width: 490px;
      height: 50vw;
      max-height: 460px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-template-areas:
              'first second second'
              'third third for'
      ;
      grid-gap: 10px;
      >div.images {
        transition: all .3s linear;
        cursor: pointer;
        &:hover {
          filter: grayscale(100);
        }
        &:nth-child(1){
          grid-area: first;
          background-repeat: no-repeat;
          -webkit-background-size: cover;
          background-size: cover;
          background-position: center center;
        }
        &:nth-child(2){
          grid-area: second;
          -webkit-background-size: contain;
          background-size: cover;
          background-repeat: no-repeat;
        }
        &:nth-child(3){
          grid-area: third;
          -webkit-background-size: contain;
          background-size: cover;
          background-repeat: no-repeat;
        }
        &:nth-child(4){
          grid-area: for;
          background-repeat: no-repeat;
          -webkit-background-size: cover;
          background-size: cover;
          background-position: center center;
        }
      }
    }
  }
  .jewelry-part.metal {
    >.part-images {
      >div.images {
        &:nth-child(1){
          background-image: url('/images/01_Company/03_Украшения PBo/metal/1.jpg');
        }
        &:nth-child(2){
          background-image: url('/images/01_Company/03_Украшения PBo/metal/2.jpg');
        }
        &:nth-child(3){
          background-image: url('/images/01_Company/03_Украшения PBo/metal/3.jpg');
        }
        &:nth-child(4){
          background-image: url('/images/01_Company/03_Украшения PBo/metal/4.jpg');
        }
      }
    }
  }
  .stones {
    >.part-images {
      >div.images {
        &:nth-child(1){
          background-image: url('/images/01_Company/03_Украшения PBo/stones/1.jpg');
        }
        &:nth-child(2){
          background-image: url('/images/01_Company/03_Украшения PBo/stones/2.jpg');
        }
        &:nth-child(3){
          background-image: url('/images/01_Company/03_Украшения PBo/stones/3.jpg');
        }
        &:nth-child(4){
          background-image: url('/images/01_Company/03_Украшения PBo/stones/4.jpg');
        }
      }
    }
  }
  .gems {
    div.images {
      &:nth-child(1){
        background-image: url('/images/01_Company/03_Украшения PBo/gems/1.jpg');
      }
      &:nth-child(2){
        background-image: url('/images/01_Company/03_Украшения PBo/gems/2.jpg');

      }
      &:nth-child(3){
        background-image: url('/images/01_Company/03_Украшения PBo/gems/3.jpg');
      }
      &:nth-child(4){
        background-image: url('/images/01_Company/03_Украшения PBo/gems/4.jpg');
      }
    }
  }
  .diamonds {
    div.images {
      &:nth-child(1){
        background-image: url('/images/01_Company/03_Украшения PBo/diamonds/1.jpg');
      }
      &:nth-child(2){
        background-image: url('/images/01_Company/03_Украшения PBo/diamonds/2.jpg');
      }
      &:nth-child(3){
        background-image: url('/images/01_Company/03_Украшения PBo/diamonds/3.jpg');
      }
      &:nth-child(4){
        background-image: url('/images/01_Company/03_Украшения PBo/diamonds/4.jpg');
      }
    }
  }
}
@media screen and (max-width: 980px) {
  .jewelry-container {
    >.jewelry-part {
      >.parts-description {
        padding: 10px;
      }
      >.part-images {
        grid-gap: 6px;
      }
    }
  }
}

@media screen and (max-width: 780px) {
  .jewelry-container {
    >.jewelry-part {
      flex-direction: column;
      >.parts-description {
        padding: 15px;
        width: 100%;
        order: 1;
        >h2 {
          font-size: 25px;
        }
        >a {
          font-size: 15px;
        }
      }
      >.part-images {
        grid-gap: 2px;
        height: 90vw;
        margin: 0 auto;
        width: 100%;
        margin-bottom:30px;
      }
    }
  }
}
@media screen and (max-width: 600px) {
  .jewelry-container {
    .jewelry-caption {
      height: 300px;
      padding-top: 30px;
      background-repeat: no-repeat;
      background-attachment: scroll;
      -webkit-background-size: 200%;
      background-position: center center;
      background-image: url('/images/01_Company/03_Украшения PBo/caption.jpg');
      >h1 {
        letter-spacing: 0.4em;
        font-size: 24px;
      }
    }
    .scheme-ring {
      position: relative;
      margin-bottom: 100px;
      width: 100%;
      overflow: hidden;
      >img {
        width: 180%;
        height: 180%;
        position: relative;
        left: -35%;
        overflow: hidden;
      }
      >.ring-tooltip {
        font-size: 12px;
        padding: 4px;
        opacity: 1;
        &:hover {
          background-color: black;
          color: #fff;
        }
        &.tooltip-1 {
          top: 5%;
          left: 15%;
          &:after {
            width: 1px;
            height: 400%;
            left: 100%;
            bottom: 0;
          }
        }
        &.tooltip-2 {
          top: 10%;
          left: 60%;
          &:after {
            width: 1px;
            height: 500%;
            left: -1px;
            top: 0;
          }
        }
        &.tooltip-3 {
          top: 58%;
          left: 43%;
          &:after {
            width: 1px;
            height: 150%;
            left: -1px;
            top: -150%;
          }
        }
        &.tooltip-4 {
          top: 80%;
          right: 50%;
          &:after {
            width: 1px;
            height: 450%;
            left: 50%;
            top: -450%;
          }
        }
      }
    }
  }
}