.pdf {
  width: 100%;
  background-color: #333;
  margin: 0 auto;
  >.pdf-header {
    display: flex;
    width: 100%;
    height: auto;
    min-height: 15vh;
    justify-content: center;
    align-items: center;
    background-color: #333;
    >h1 {
      font-family: Romul, serif;;
      color: aliceblue;
      text-transform: uppercase;
      font-size: 25px;
    font-weight: 300;
    letter-spacing: 5px;
    line-height: 1.5;
    text-align: center;
    }
  }
  .pdf-text {
    background-color: #333;
  }
}

@media screen and (max-width: 480px) {
  .pdf {
  >.pdf-header {
    >h1 {
        font-size: 18px;
    }
  }
}
}

.shipping {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  >.shipping-header {
    display: flex;
    width: 100%;
    height: 30vh;
    justify-content: center;
    align-items: center;
    background:  url('/images/baac-bg.webp')no-repeat;
    background-size: 100%;
    background-position: top center;
    margin-bottom: 40px;
    background-attachment: fixed;
    position: relative;
    >h1 {
      color: aliceblue;
      width: 60%;
    font-weight: 300;
    font-family: LibreBaskerville;
    letter-spacing: 8px;
    font-size: 36px;
    text-align: center;
    z-index: 1;
    }
    &:after {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      z-index: 0;
      background-color:  rgba(51, 51, 51, 0.9)
    }
  }
  >.shipping-rules {
    margin: 0 auto;
    width: 70%;
    padding: 20px;
    .rules {
      margin-bottom: 30px;
      color: #424242;
      >h2 {
      font-family: Futura;
      margin-bottom: 17px;
      }
      >p {
        font-family: Futura;
        line-height: 2;
        font-size: 19px;
        
      }
    }
  }
}

.store-policy {
   width: 100%;
  max-width: 1080px;
  margin: 0 auto;
  >.store-policy-header {
    display: flex;
    width: 100%;
    height: 25vh;
    min-height: 250px;
    background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8) ), url('/img/list.webp');
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
    >h1 {
    font-family: Garamond;
    color: aliceblue;
    font-weight: 300;
    letter-spacing: 8px;
    text-align: center;
    }
  }
  >.store-policy-text {
    margin: 0 auto;
    width: 80%;
    padding: 20px;
    font-family: Futura;
    line-height: 1.5;
    text-align: justify;
    .list-item {
      margin-bottom: 30px;
      h3 {
        font-size: 20px;
        margin-bottom: 20px;
      }
      >p {
        margin-bottom: 20px;
      }
      .sub-list {
        padding-left: 40px;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .store-policy {
    >.store-policy-header {
      >h1 {
        font-size: 23px;
      }
    }
    >.store-policy-text {
      margin: 0;
      width: 100%;
      .list-item {
        h3 {
          text-align: left;
        }
      }
    }
  }
  .shipping {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  >.shipping-header {
      display: flex;
    width: 100%;
    height: 30vh;
    justify-content: center;
    align-items: center;
    background:  url('/images/baac-bg.webp')no-repeat;
    background-size: 100%;
    background-position: center center;
    margin-bottom: 40px;
    background-attachment: scroll;
    >h1 {
    width: 100%;
    font-size: 25px;
    }
  }
  >.shipping-rules {
    margin: 0 auto;
    width: 100%;
    padding: 10px;
    .rules {
      margin-bottom: 10px;
      >h2 {
      font-family: Futura;
      margin-bottom: 17px;
      }
      >p {
        font-family: Futura;
        line-height: 1.5;
        font-size: 16px;
        
      }
    }
  }
}
}