.success-order-container {
    width: 100%;
    max-width: 860px;
    margin: 0 auto;
    padding: 20px 10px;
    font-family: Futura;

    h2, h3 {
        font-weight: normal;
    }
    h2 {
        margin-bottom: 20px;
        text-align: center;
    }

    .order-instructions {
        margin: 15px 0 30px 0;
        text-align: center;
    }
    .order-info {
        max-width: 660px;
        margin: 0 auto;
        background-color: rgba($color: #e7e7e7, $alpha: 0.3) ;
        padding: 20px;
        border-radius: 2px;
    }
    .order-info-part {
        margin-bottom: 16px;
        padding: 5px;
        border-bottom: 1px solid #aaaaaa;
        display: flex;
        justify-content: space-between;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 15px;
        .label {
            font-weight: 500;
        }
        
    }
    .order-block {
        margin-bottom: 30px;
        h3 {
            margin-bottom: 15px;
            font-weight: 600;
        }
        p {
            margin-bottom: 8px;
        }
    }
    .return-store {
        display: flex;
        justify-content: center;
        a {
            text-decoration: underline;
        }
    }
}
