.target_container {
  background-color: #2E2D2D;
  width: 100%;
  height: 100%;
  > .company-aside-menu {
    color: #fede99;
    > ul {
      > li.company-aside-link {
          font-size: 17px;
        > span.point {
          border-color: #fede99;
        }
        &.visible, &:hover {
          > span.point {
          background-color: #fede99;
          }
        }
      }
    }
  }
}
.target {
  width: 100%;
  max-width: 900px;
  background-color: #fff;
  margin: 0 auto;
}
.section {
  width: 100%;
  max-width: 900px;
  height: auto;
  display: flex;
  overflow: hidden;
  .image {
    flex: 1;
    background-repeat: no-repeat;
    background-size: cover;
    .mobile_caption {
      font-family: Asquets;
      font-size: 40px;
      text-align: center;
      font-weight: normal;
      font-style: italic;
      letter-spacing: 7px;
      padding-bottom: 70%;
      padding-top: 10%;
      display: none;
    }
  }
  .slider_box {
    display: flex;
    max-width: 50%;
    flex-direction: column;
    position: relative;
    h2 {
      font-family: Asquets;
      font-size: 55px;
      text-align: center;
      font-weight: normal;
      font-style: italic;
      letter-spacing: 7px;
      margin-top: 40px;
      margin-bottom: 30px;
    }
    .target_slider {
      flex: 1;
      .slide {
        width: 100%;
        margin: 0;
        height: 550px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center bottom;

        .slide_content {
          width: 100%;
          padding-bottom: 100px;
        }
        .slide_text {
          width: 75%;
          margin: 0 auto;
          text-align: center;
          line-height: 1.5;
          font-family: Futura;
          font-size: 17px;
        }
      }
    } 
    .button-box {
      display: flex;
      justify-content: center;
      padding: 30px 0;
      a {
        font-size: 19px;
        padding: 5px 10px;
        font-family: Futura;
        background-color: #2E2D2D;
        color: #fff;
        border: none;
        transition: all 0.4s ease 0s;
        cursor: pointer;
        z-index: 3;
        &:hover {
          background-color: #DEBCB1;
        }
      }
    }
  }
  &.married {
    .image {
      background-image: url('/images/04_To whom/married.jpg');
    }
    .slider_box {
      background-color: rgba(108, 247, 247, .1);
      .target_slider {
        background-color: #fff;
        .slide {
          width: 100%;
          position: relative;
          &::after {
            content: '';
            display: block;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-color: rgba(108, 247, 247, .1);
          }
          &.slide_2 {
            background-image: url('/images/04_To whom/m_slide_1.jpg');
          }
          &.slide_1 {
            background-image: url('/images/04_To whom/m_slide_2.jpg');
          }
        }
      }
    }
  }
  &.wedding {
    flex-direction: row-reverse;
    .image {
      background-image: url('/images/04_To whom/wedding.jpg');
      order: 0;
    }
    .slider_box {
      order: 0;
      .target_slider {
        .slide {
          width: 100%;
          &.slide_2 {
            background-image: url('/images/04_To whom/wed_1.jpg');
          }
          &.slide_1 {
            background-image: url('/images/04_To whom/wed_2.jpg');
          }
        }
      }
    }
  }
  &.gift_women {
    .image {
      background-image: url('/images/04_To whom/gift_women.jpg');
    }
    .slider_box {
      background-color: rgba(247, 22, 22, .1);
      .target_slider {
        background-color: #fff;
        .slide {
          width: 100%;
          position: relative;
          &::after {
            content: '';
            display: block;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-color: rgba(247, 22, 22, .1);
          }
          &.slide_1 {
            background-image: url('/images/04_To whom/mg_1.jpg');
          }
          &.slide_2 {
            background-image: url('/images/04_To whom/mg_2.jpg');
          }
          &.slide_3 {
            background-image: url('/images/04_To whom/mg_3.jpg');
            background-position: 0 -50px;
            background-size: 110%;
          }
          &.slide_4 {
            background-image: url('/images/04_To whom/mg_4.jpg');
            background-position: center 20px;
          }
        }
      }
    }
  }
  &.gift_man {
    height: 650px;
    background-color: #fff;
    flex-direction: row-reverse;
    .image {
      background-image: url('/images/04_To whom/gift_man.jpg');
      background-size: cover;
    }
    .slider_box {
      .target_slider {
        .slide {
          height: 400px;
          &.slide_1 {
            background-image: url('/images/04_To whom/man_gift_1.jpg');
          }
          &.slide_2 {
            background-image: url('/images/04_To whom/man_gift_2.jpg');
            background-size: 100%;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .section {
    flex-direction: column;
    height: auto;
    .image {
      min-height: 140vw;
      flex: none;
      .mobile_caption {
        display: block;
      }
    }
    .slider_box {
      max-width: 100%;
      min-height: 50%;
      >h2 {
        display: none;
      }
      .target_slider {
        .slide {
          height: 100vh;
        }
      }
      .slide_text {
        &:first-of-type {
          padding-top: 20px;
        }
      }
    }
    &.wedding, &.gift_man {
      flex-direction: column;
    }
    &.married {
      .image {
        background-position: 0 0;
        .mobile_caption {
          color: #fff;
        }
      }
    }
    &.gift_man {
      height: auto;
      .image {
        .mobile_caption {
          color: grey;
        }
      }
    }
    &.gift_women {
      .image {
        .mobile_caption {
          color: #FCC2C6;
        }
      }
      .slider_box {
      .target_slider {
        .slide {
          &.slide_1 {
            background-image: url('/images/04_To whom/mg_1.jpg');
          }
          &.slide_2 {
            background-image: url('/images/04_To whom/mg_2.jpg');
          }
          &.slide_3 {
            background-position: center 30px;
            background-size: 150%;
          }
          &.slide_4 {
            background-image: url('/images/04_To whom/mg_4.jpg');
            background-position: center 80px;
            background-size: 120%; 
          }
        }
      }
    }
    }
  }
}