:root{--bg-color:#2F2D2D;--text-color:#FEDD98}.admin-template{width:100%;height:100%;min-height:100vh;display:flex}.navigation{flex-basis:180x;min-width:180px;background-color:var(--bg-color)}.content{flex:1;padding:20px}.navbar-nav .main-link{padding-left:10px;color:var(--text-color);margin-bottom:2px}.main-link:hover,.navbar-nav .main-link.active{background-color:var(--text-color);color:var(--bg-color)}.sub-menu{background-color:var(--bg-color);border:none}.btn.menu-btn{color:var(--text-color)}.btn.menu-btn:hover{color:var(--text-color)}.sub-menu-list{list-style:none}
