<template>
  <div class="auth-container">
    <div v-if="!reset">
      <h1>{{isReg ? 'Зарегистрироваться' : 'Войти'}}</h1>
      <p class="reg-message">
        {{isReg ? 'Уже есть аккаунт?' : 'Новичок на сайте?'}}
        <span
          @click="switchOnRegister"
          v-if="!isReg"
        >Зарегистрироваться</span>
        <span
          @click="switchOnRegister"
          v-if="isReg"
        >{{isLoading ? 'Входим..' : 'Войти'}}</span>
      </p>
      <div class="auth-form">
        <div
          class="social-links"
          v-if="!withEmail"
        >
          <a href="/login/vkontakte">
            <div class="facebook">Войти через Вконтакте</div>
          </a>
          <a href="/login/google">
            <div class="google">Войти через Google</div>
          </a>
        </div>
        <form v-if="withEmail">
          <div class="form-group user-email">
            <input
              type="email"
              :class="'form-control' + (authError || registrError.email ? ' invalid' : '')"
              v-model="email"
              required
            >
            <label>Email</label>
            <p class='error'>{{registrError.email}}</p>
          </div>
          <div class="form-group user-password">
            <input
              type="password"
              :class="'form-control' + (authError || registrError.password ? ' invalid' : '')"
              v-model="password"
              required
            >
            <label>Пароль</label>
            <p class='error'>{{registrError.password}}</p>
          </div>
          <span
            class="remember-pwd"
            @click="() => reset = true"
          >Не помню пароль</span>
          <button
            @click.prevent="() => { isReg ? registration() : auth() }"
            class="login-btn"
            :disabled="isLoading"
          >
            <span v-if="!isLoading">{{isReg ? 'Зарегистрироваться' : 'Войти'}}</span>
            <loader v-else></loader>
          </button>
          <p class='error'>{{this.authError}}</p>
        </form>
        <div class="taggle-or">
          <span></span>
          {{withEmail ? 'Или войдите через' : 'ИЛИ'}}
          <span></span>
        </div>
        <div
          class="small-social-btn"
          v-if="withEmail"
        >
          <a href="/login/vkontakte">
            <div class="facebook"></div>
          </a>
          <a href="/login/google">
            <div class="google"></div>
          </a>
        </div>
        <button
          @click="() => withEmail=true"
          v-if="!withEmail"
          class="auth-button"
        >{{isReg ? 'Через эл. почту' : ' Войти через почту'}}</button>
      </div>
      <p
        class="politics"
        v-if="isReg"
      >
        Регистрируясь, вы принимаетеусловия
        <a href="#">использования</a> и
        <a href="#">политику конфиденциальности</a>
      </p>
    </div>
    <div
      class="resetPasswordBlock"
      v-if="reset"
    >
      <h1>Смена пароля</h1>
      <h3>Пожалуйста, введите ваш email</h3>
      <form>
        <div class="form-group user-email">
          <input
            type="email"
            class="form-control"
            v-model="resetEmail"
            required
          >
          <label>Email</label>
          <p class="password-notify" v-bind:class="resetPwdError ? 'error' : 'success' ">{{resetPwdError || resetPwdSuccess}}</p>
        </div>
        <div>
          <button
            class='reset-pwd-btn'
            @click.prevent="resetPassword"
            v-bind:disabled="isLoading"
          >
            {{
            isLoading ? 'Сбрасываем...' : 'Сбросить пароль'
            }}</button>
        </div>
      </form>
      <span
        class="return"
        @click="toAuth"
      >Войти</span>
    </div>
  </div>
</template>

<script>
import Loader from "../Loader.vue";
export default {
  components: {
    Loader
  },
  data() {
    return {
      isReg: false,
      withEmail: false,
      email: null,
      password: null,
      resetEmail: null,
      reset: false,
      isLoading: false,
      registrError: {
        email: "",
        password: ""
      },
      authError: "",
      resetPwdError: "",
      resetPwdSuccess: ""
    };
  },
  methods: {
    switchOnRegister () {
      this.isReg = !this.isReg;
      this.authError = '';
    },
    registration() {
      const passwordPattern = /^(?=.*\d)(?=.*[a-z]).{6,}$/;
      if (!this.email) {
        this.registrError.email = "Укажите электронную почту.";
        return;
      }
      if (!this.password) {
        this.registrError.password = "Требуется указать пароль.";
        return;
      }
      if (this.password.length < 6 || !passwordPattern.test(this.password)) {
        this.registrError.password =
          "Пароль должен состоять из латинских букв не менее чем из 6 символов, содержать хотя-бы 1 цифру.";
        return;
      }
      this.registrError = {
        email: "",
        password: ""
      };
      axios
        .post("/register", {
          email: this.email,
          password: this.password
        })
        .then(response => {
          if (response) {
            if (response.status === 202) {
              this.registrError.email =
                "Пользователь с таким email уже существует";
              return;
            }
            if (response.status === 200) {
              window.location.href = "/";
            }
          } else {
            this.authError = "Возникла ошибка попробуйте позже";
          }
        })
        .catch(error => {
          this.authError = "Возникла ошибка попробуйте позже";
        });
    },

    auth() {
      this.isLoading = true;
      axios
        .post("/login", {
          email: this.email,
          password: this.password
        })
        .then(response => {
          this.isLoading = false;
          if (response.status === 200) {
            if (response.data) {
              window.location.href = "/";
            } else {
              this.authError = "Неверный email/пароль.";
              this.isLoading = false;
            }
          }
        })
        .catch(error => {
          this.authError = "Сервер не отвечает, попробуйте позже.";
        });
    },
    resetPassword() {
      if (!this.resetEmail) {
        this.resetPwdError = "Введите корректный email !";
        return;
      }
      
      this.resetPwdError = "";
      this.isLoading = true;
      axios
        .post("/password/create", {
          email: this.resetEmail
        })
        .then(({ data }) => {
          this.resetPwdSuccess = data.message;
          this.isLoading = false;
        })
        .catch(error => {
          this.resetPwdError = "Пользователя с таким email не существует!";
          this.isLoading = false;
        });
    },
    toAuth() {
      this.resetPwdError = "";
      this.reset = false;
    }
  }
};
</script>

<style lang='scss'>
.auth-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  > div {
    width: 100%;
    padding: 5px;
  }
  h1 {
    text-align: center;
    font-size: calc(2vw + 25px);
    font-weight: normal;
    margin-bottom: 16px;
  }
  .reg-message {
    text-align: center;
    font-size: 18px;
    font-family: Arial;
    margin-bottom: 40px;
    > span {
      color: blue;
      cursor: pointer;
    }
  }
  .auth-form {
    width: 100%;
    max-width: 320px;
    margin: 0 auto;
    .social-links {
      div {
        width: 100%;
        height: 48px;
        text-align: center;
        line-height: 48px;
        color: white;
        font-size: 14px;
        font-family: Arial;
        margin-bottom: 24px;
        transition: opacity 0.3s linear;
        position: relative;
        &::before {
          content: "";
          display: block;
          width: 36px;
          height: 36px;
          background-color: #fff;
          border-radius: 2px;
          background-repeat: no-repeat;
          background-size: contain;
          position: absolute;
          left: 5px;
          top: 5px;
        }
        &.facebook {
          background-color: #5181b8;
          &::before {
            background-image: url("/images/icon/vk-icon.svg");
          }
        }
        &.google {
          background-color: #4285f4;
          &::before {
            background-image: url("/images/icon/google-icon.svg");
          }
        }
        &:hover {
          opacity: 0.8;
        }
      }
    }
    .taggle-or {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 24px;
      font-family: Arial;
      > span {
        height: 1px;
        background-color: #aaa;
        flex: 1;
        margin: 0 10px;
      }
    }
    .auth-button {
      width: 100%;
      height: 46px;
      background-color: #fff;
      border: 1px solid rgba(166, 162, 162, 1);
      font-family: Arial;
      font-size: 14px;
      text-align: center;
      transition: all 0.3s linear;
      cursor: pointer;
      &:hover {
        border-color: black;
      }
    }
    > form {
      > .form-group {
        width: 100%;
        font-size: 14px;
        font-family: Arial;
        margin-bottom: 24px;
        position: relative;
        .form-control {
          width: 100%;
          height: 48px;
          background: none;
          border: none;
          border-bottom: 1px solid #666;
          border-radius: 0;
          box-shadow: none;
          &:focus,
          &:valid {
            outline: 0;
            + label {
              top: -12px;
              font-size: 11px;
            }
          }
          &.invalid {
            border-color: red;
          }
        }
        label {
          position: absolute;
          font-family: Arial;
          left: 1px;
          top: 10px;
          font-size: 14px;
          color: rgba(51, 51, 51, 0.54);
          pointer-events: none;
          transition: all 0.3s ease;
        }
      }
      .remember-pwd {
        display: block;
        font-size: 16px;
        font-family: Arial;
        margin-bottom: 16px;
        text-decoration: underline;
        cursor: pointer;
      }
      .login-btn {
        width: 100%;
        height: 48px;
        margin-bottom: 24px;
        text-align: center;
        line-height: 48px;
        color: #fff;
        font-family: Arial;
        font-size: 16px;
        background-color: #3e40b3;
        border: 1px solid #3e40b3;
        transition: all 0.3s ease;
        cursor: pointer;
        &:hover {
          opacity: 0.8;
        }
      }
    }
    .small-social-btn {
      display: flex;
      justify-content: center;
      div {
        margin: 0 15px;
        height: 38px;
        width: 38px;
        background-color: #fff;
        border-radius: 2px;
        background-repeat: no-repeat;
        background-size: contain;
        &.facebook {
          background-image: url("/images/icon/vk-icon.svg");
        }
        &.google {
          background-image: url("/images/icon/google-icon.svg");
        }
      }
    }
  }
  .politics {
    width: 100%;
    max-width: 540px;
    margin: 0 auto;
    margin-top: 30px;
    font-size: 14px;
    font-family: Arial;
    text-align: center;
    line-height: 2;
    a {
      display: inline;
      text-decoration: underline;
    }
  }
  .resetPasswordBlock {
    width: 100%;
    max-width: 320px;
    margin: 0 auto;
    h1 {
      text-align: center;
      font-size: 35px;
      font-weight: normal;
      margin-bottom: 16px;
    }
    h3 {
      font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
      font-weight: normal;
      font-size: 18px;
      text-align: center;
      margin-bottom: 40px;
    }
    form {
      > .form-group {
        font-size: 14px;
        font-family: Arial;
        margin-bottom: 24px;
        position: relative;
        .form-control {
          width: 100%;
          height: 48px;
          background: none;
          border: none;
          border-bottom: 1px solid #666;
          border-radius: 0;
          box-shadow: none;
          &:focus,
          &:valid {
            outline: 0;
            + label {
              top: -12px;
              font-size: 11px;
            }
          }
        }
        label {
          position: absolute;
          font-family: Arial;
          left: 1px;
          top: 12px;
          font-size: 14px;
          color: rgba(51, 51, 51, 0.54);
          pointer-events: none;
          transition: all 0.3s ease;
        }
      }
    }
    .reset-pwd-btn {
      width: 100%;
      height: 48px;
      margin-bottom: 24px;
      text-align: center;
      line-height: 48px;
      color: #fff;
      font-family: Arial;
      font-size: 16px;
      background-color: #3e40b3;
      border: 1px solid #3e40b3;
      transition: all 0.3s ease;
      cursor: pointer;
      &:hover {
        opacity: 0.8;
      }
      &:disabled {
        background-color: #aaa;
        border-color: #aaa;
      }
    }
    .return {
      font-family: Arial;
      font-size: 15px;
      text-decoration: underline;
      cursor: pointer;
    }
  }
}
.password-notify {
  font-family: Arial;
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}
.error {
  color: red;

}
.success {
  color: green;
}
input.error {
  border-bottom-color: red;
}

@media screen and (max-width: 330px) {
  .auth-container {
    .reg-message {
      margin-bottom: 30px;
    }
    .politics {
      margin-top: 15px;
    }
    .auth-form {
      .taggle-or {
        margin-bottom: 8px;
      }
    }
  }
}
</style>