<template>
  <div class="reset-password-container">
    <div class="reset-password-form">
      <h2 class="form-header">Придуймате новый пароль</h2>
      <form
        autocomplete="off"
        class="reset-form"
      >
        <div class="form-group">
          <label for="email">E-mail</label>
          <input
            type="email"
            id="email"
            class="form-control"
            placeholder="user@example.com"
            v-model="email"
            required
          >
        </div>
        <div class="form-group">
          <label for="email">Пароль</label>
          <input
            type="password"
            id="password"
            class="form-control"
            placeholder=""
            v-model="password"
            required
          >
        </div>
        <div class="form-group">
          <label for="email">Повторите пароль</label>
          <input
            type="password"
            id="password_confirmation"
            class="form-control"
            placeholder=""
            v-model="password_confirmation"
            required
          >
        </div>
        <p
          v-if="notifyMessage"
          class="notify"
          :class="{error: has_error}"
        >{{notifyMessage}}</p>
        <button
          type="submit"
          class="password-reset-btn"
          :class="{disabled: loading}"
          @click.prevent="resetPassword"
          :disabled="loading"
        >
          {{loading ? 'Обновляем' :'Обновить пароль'}}</button>
      </form>
    </div>
  </div>
</template>
<script>
export default {
  props: ["requesttoken"],
  data() {
    return {
      email: null,
      password: null,
      password_confirmation: null,
      has_error: false,
      notifyMessage: "",
      loading: false
    };
  },
  methods: {
    resetPassword() {
      const passwordPattern = /^(?=.*\d)(?=.*[a-z]).{6,}$/;
      if (!this.email || !this.password || !this.password_confirmation) {
        this.notifyMessage = "Заполните все поля!";
        this.has_error = true;
        return;
      }
      if (this.password.length < 6 || !passwordPattern.test(this.password)) {
        this.notifyMessage = "Пароль должен состоять из латинских букв не менее чем из 6 символов, содержать хотя-бы 1 цифру.";
        this.has_error = true;
        return;
      }
      if (this.password !== this.password_confirmation) {
        this.notifyMessage = "Пароли не совпадают!";
        this.has_error = true;
        return;
      }
      this.notifyMessage = "";
      this.has_error = false;
      const data = new FormData();
      data.append("token", this.requesttoken.token);
      data.append("email", this.email);
      data.append("password", this.password);
      data.append("password_confirmation", this.password_confirmation);
      this.loading = true;
      axios.post("/password/reset", data).then(
        result => {
          this.notifyMessage =
            "Пароль успешно изменен. Вы можете авторизоваться на странице логина.";
        },
        error => {
          this.notifyMessage = "Пользователя с таким email не существует.";
          this.has_error = true;
        }
      );
      this.loading = false;
    }
  }
};
</script>

<style lang="scss" scoped>
.reset-password-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
}
.reset-password-form {
  width: 100%;
  max-width: 400px;
  padding: 0 10px;
}
.form-header {
  font-family: Futura;
  font-size: 25px;
  margin-bottom: 20px;
  text-align: center;
}
.reset-form {
  width: 100%;
}
.form-group {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 10px;

  label {
    min-width: 100px;
    font-family: Futura;
    margin-bottom: 5px;
  }
  input {
    width: 100%;
    height: 35px;
    padding: 0 5px;
  }
}
.password-reset-btn {
  border: none;
  background-color: #242424;
  color: #ffffff;
  padding: 10px;
  cursor: pointer;
  font-family: Futura;
  transition: all 0.2s linear;
  border: 1px solid #242424;
  &:hover {
    background-color: #fff;
    color: #242424;
  }
  &.disabled {
    background-color: gray;
  }
}
.notify {
  text-align: center;
  font-family: Futura;
  margin-bottom: 15px;
}
.error {
  color: red;
}
</style>