<template>
  <div class="container">
    <div class="row">
      <div class="col-md-5 order-md-2 mb-4">
        <h4 class="d-flex justify-content-between align-items-center mb-3">
          <span class="text-muted">Украшения заказа</span>
          <span class="badge badge-secondary badge-pill">{{details.products.length}}</span>
        </h4>
        <ul class="list-group mb-3">
          <li class="list-group-item d-flex justify-content-between lh-condensed">
            <h4>
              Сумма заказа: <strong>{{currentOrder.sum_price}},00 руб.</strong>
            </h4>
          </li>

          <li
            class="list-group-item container lh-condensed"
            v-for="product in details.products"
            :key="product.id"
          >
            <div class="row">
              <header class="col-12 d-flex justify-content-between">
                <h5 class="my-0 ">{{product.name}}</h5>
                <div class="text-muted"><strong>{{product.productPrice}},00 руб.</strong></div>
              </header>
              <img
                :src="'/' + product.image"
                class="card-img-top w-50"
              >
            </div>
            <div
              class="row"
              v-if="Object.keys(product.props).length"
            >
              <div class="col-6">
                <h6>Параметры украшения:</h6>
                <div>
                  <small
                    v-if="product.props.size"
                    class="text-muted"
                  >Размер: {{product.props.size}}</small>
                </div>
                <div>
                  <small class="text-muted">Материал: {{product.props.material}}</small>
                </div>
                <div>
                  <small class="text-muted">Проба золота: {{product.props.gold}}</small>
                </div>
              </div>
              <div class="col-6">
                <h6>Сменные камни:</h6>
                <div
                  v-for="(stone, index) in product.props.stones"
                  :key="index"
                >
                  <small class="text-muted">{{index + 1}}. {{stone.name}}:
                    {{index === 0 ? Number(stone.price) - STONE_PRICE :  Number(stone.price)}},00 руб.
                  </small>
                </div>
              </div>
            </div>
          </li>
        </ul>
        <!-- <form class="card p-2">
          <div class="input-group">
            <input
              type="text"
              class="form-control"
              placeholder="Promo code"
            >
            <div class="input-group-append">
              <button
                type="submit"
                class="btn btn-secondary"
              >Redeem</button>
            </div>
          </div>
        </form> -->
      </div>
      <div class="col-md-7 order-md-1">
        <h4 class="mb-3">Информация о заказе</h4>
        <h5 :class="!currentOrder.completed ? 'alert alert-primary' : 'alert alert-success'">
          {{currentOrder.completed ? 'Завершен' : 'В работе'}}
          <span
            @click="completeOrder"
            class='close-btn'
          >
            <i :class="currentOrder.completed  ? 'fas fa-user-check' : 'fas fa-user-times'"></i>
            {{currentOrder.completed ? 'Открыть снова' : 'Завершить заказ'}}
          </span>
        </h5>
        <div class="card">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <h4 class="card-title">Заказ №: {{currentOrder.id}}</h4>
            </li>
            <li class="list-group-item">Поступил: {{formatDate(currentOrder.created_at)}}</li>
            <li class="list-group-item">Обновлен: {{formatDate(currentOrder.updated_at)}}</li>
            <li class="list-group-item">Доставка: {{currentOrder.delivery}}</li>
            <li class="list-group-item">Промокод: нет</li>
            <li class="list-group-item">
              <h5 class="card-title">Комментарий: </h5>
              <p class="card-text">
                {{currentOrder.comment || 'нет'}}
              </p>
            </li>
          </ul>
          <payment-form
            :payments="currentOrder.payments"
            :orderId="currentOrder.id"
          ></payment-form>
          <div class="col-12  mb-3">
            <div>
              <span
                class="status-button"
                v-if="statusEdit"
                @click="saveStatus"
              ><i class="far fa-save"></i></span>
              <span
                class="status-button"
                v-if="!statusEdit"
                @click="() => statusEdit = true"
              ><i class="far fa-edit"></i></span>
            </div>
            <label for="status">Стаус</label>
            <v-select
              :options="['поступил', 'обработка', 'изготовление', 'завершен', 'открыт снова']"
              v-model="status"
              class='status-select'
              :searchable="false"
              :disabled="!statusEdit"
            ></v-select>
          </div>
        </div>
        <h4 class="mb-3 mt-4">Информация о покупателе</h4>
        <div class="card">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Клиент: <a href="#"><b>{{currentOrder.customer.name}} {{currentOrder.customer.surname}}</b></a></li>
            <li class="list-group-item">Телефон: <b>{{currentOrder.customer.phone}}</b></li>
            <li class="list-group-item">Город: <b>{{currentOrder.customer.city}}</b></li>
            <li class="list-group-item">Адрес: <b>{{currentOrder.customer.address}}</b></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import PaymentForm from "./PaymentForm.vue";
import * as moment from "moment";
import vSelect from "vue-select";
import "vue-select/dist/vue-select.css";
import { categoryConstants, STONE_PRICE } from '../../../constants';


export default {
  name: "EditOrder",
  components: {
    "payment-form": PaymentForm,
    "v-select": vSelect
  },
  props: ["order"],
  data() {
    return {
      details: JSON.parse(this.order.details),
      currentOrder: this.order,
      status: this.order.status,
      statusEdit: false
    };
  },
  methods: {
    formatDate(date) {
      moment.locale("ru");
      const newDate = moment(date)
        .utcOffset(6)
        .format("LLL");
      return newDate;
    },
    completeOrder() {
      const isExactly = window.confirm("Завершить заказ?");
      if (!isExactly) {
        return;
      }
      axios
        .post(`/admin/orders/complete`, {
          id: this.currentOrder.id
        })
        .then(response => {
          this.currentOrder = response.data;
          this.status = this.currentOrder.status;
          this.$toast.success({
            title: "Успешно!",
            message: !this.currentOrder.completed
              ? "Заказ в работе"
              : "Заказ завершен"
          });
        })
        .catch(error => {
          this.$toast.error({
            title: "Ошибка!",
            message: "Что-то пошло не так!."
          });
        });
    },
    saveStatus() {
      axios
        .post("/admin/orders/status", {
          status: this.status,
          id: this.currentOrder.id
        })
        .then(response => {
          this.currentOrder.status = response.data;
          this.$toast.success({
            title: "Успешно!",
            message: `Статус заказ изменен на ${response.data}`
          });
          this.statusEdit = false;
        })
        .catch(error => {
          console.log(error);
          this.$toast.error({
            title: "Ошибка!",
            message: "Что-то пошло не так!."
          });
        });
    }
  }
};
</script>

<style scoped>
.close-btn {
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
  padding: 5px;
  border: 2px solid #333;
  border-radius: 5px;
}
.status-button {
  font-size: 20px;
  color: green;
  cursor: pointer;
}
</style>