<template>
  <div>
    <div>
      <span
        class="payment-button"
        v-if="isEdit"
        @click="savePayment"
      ><i class="far fa-save"></i></span>
      <span
        class="payment-button"
        v-if="!isEdit"
        @click="() => isEdit = true"
      ><i class="far fa-edit"></i></span>
    </div>
    <form>
      <div class="form-group  p-2">
        <label
          for="inputPassword"
          class="col-sm-10 col-form-label"
        >Оплата
        </label>
        <div class="col-sm-12">
          <textarea
            type="text"
            class="form-control"
            id="inputPassword"
            :disabled="!isEdit"
            v-model="newPayments"
          ></textarea>
        </div>
      </div>
    </form>
  </div>
</template>

<script>
export default {
  name: "PaymentForm",
  props: ["payments", 'orderId'],
  data() {
    return {
      isEdit: false,
      newPayments: this.payments
    };
  },
  methods: {
    savePayment() {
      if(!this.newPayments) {
        return;
      }
      const data = new FormData();
      data.append('orderId', this.orderId);
      data.append('payment', this.newPayments);

      axios
        .post("/admin/orders/payments", data)
        .then(response => {
          this.isEdit = false;
          this.$toast.success({
            title: "Успешно!",
            message: "Информация об оплате изменена."
          });
        })
        .catch(error => {
          console.log(error);
          this.$toast.error({
            title: "Ошибка!",
            message: "Что-то пошло не так!."
          });
        });
    }
  }
};
</script>

<style lang="scss" scoped>
.payment-button {
  padding: 5px;
  margin: 10px;
  cursor: pointer;
  font-size: 19px;
  color: rgb(43, 40, 231);
}
</style>