:root {
	--sub-header: Romul;
	--text: Futura;
}

.container.stones {
	background-color: rgba(252, 217, 136, .1);
}
.stone-scheme {
	height: 925px;
	width: 880px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	position: relative;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	margin: 0 auto;
}
.stone-scheme::before {
	content: '';
 	width: 100%;
 	height: 100%;
 	left: 0;
 	top: 0;
 	position: absolute;
	background-color: rgba(252, 217, 136, .1);
	z-index: 0;
} 
.stone-scheme > img {
	width: 100%;
	height: auto;
}
.stone-scheme > .stone-link {
	position: absolute;
	top: 500px;
}
.stone-scheme > .scheme-block {
	display: block;
	padding: 6px;
	min-width: 140px;
	text-align: center;
	background-color: #DEBCB1;
	color: #333;
	font-family: var(--text);
	position: absolute;
	font-size: 20px;
	opacity: 1;
	transition: all .3s linear;
	cursor: pointer;
}
.stone-scheme > .scheme-block:hover {
	background-color: black;
	color: #fff;
}
.stone-scheme > .scheme-block::after {
	content: '';
	position: absolute;
	display: block;
	background-color: black;
	width: 1px;
}
.stone-scheme > .scheme-block-topaz {
	top: 7%;
	left: 46%;
}
.stone-scheme > .scheme-block-topaz::after {
	height: 90px;
	right: 0;
	top: 100%;
}
.stone-scheme > .scheme-block-ametist {
	top: 45%;
	left: 20%;
}
.stone-scheme > .scheme-block-ametist::after {
	height: 70px;
	right: 0;
	bottom: 100%;
}
.stone-scheme > .scheme-block-crystal {
	top: 34%;
	left: 47%;
}
.stone-scheme > .scheme-block-crystal::after {
	height: 42px;
	left: 0;
	top: 100%;
}
.stone-scheme > .scheme-block-agate {
	top: 68%;
	left: 23%;
}
.stone-scheme > .scheme-block-agate::after {
	height: 42px;
	right: 0;
	bottom: 100%;
}
.stone-scheme > .scheme-block-pearls {
	top: 51%;
	left: 58%;
}
.stone-scheme > .scheme-block-pearls::after {
	height: 80px;
	left: 0;
	top: 100%;
}
.stone-scheme > .scheme-block-raspberry {
	top: 92%;
	left: 50%;
}
.stone-scheme > .scheme-block-raspberry::after {
	height: 80px;
	left: 0;
	bottom: 100%;
}

.about-stones-caption {
	padding: 30px 20px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	width: 100%;

	min-height: 100vh;
	background-color: #FFFCF5;
}
.about-stones-caption > h1 {
	max-width: 600px;
	margin-bottom: 30px;
	margin-top: 60px;
	line-height: 1.2;
	font-size: 2rem;
	letter-spacing: 1px;
	font-weight: lighter;
	text-align: center;
	color: #BC9B5D;
	text-transform: uppercase;
	font-family: var(--sub-header);
}
.about-stones-caption > p {
	max-width: 610px;
	text-align: center;
	font-size: 19px;
	margin-bottom: 30px;
	line-height: 1.2;
	letter-spacing: 0.5px;
	font-family: var(--text);
}
a.stone-link {
	padding: 15px 15px;
	max-width: 270px;
	margin: 0 auto;
	margin-bottom: 30px;
	background-color: rgb(222, 188, 177);
	text-align: center;
	font-family: Helvetica;
	text-transform: uppercase;
	color: black;
	font-weight: lighter;
	font-size: 13px;
	-webkit-transition: all ease .4s;
	-o-transition: all ease .4s;
	transition: all ease .4s;
	position: relative;
}

a.stone-link:hover {
	color: #fff;
	background-color: black;
}

.about-stones {
	width: 100%;

}
.about-stones > div {
	min-height: 90vh;
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
}
.stone-desription {
	padding: 0 15px;
	min-height: 700px;

}
.stone-desription > h2 {
	margin-top: 30px;
	margin-bottom: 30px;
	line-height: 1.2;
	font-size: 2rem;
	letter-spacing: 1px;
	font-weight: lighter;
	text-align: center;
	color: #BC9B5D;
	text-transform: uppercase;
	font-family: var(--sub-header);
}
.stone-desription > p {
	max-width: 320px;
	margin: 0 auto;
	text-align: center;
	font-size: 19px;
	line-height: 1.3;
	margin-bottom: 30px;
	font-family: var(--text);
}
.topaz .stone-image {
	background-image: url(../images/03_Gems/topaz-bg.jpg);
	background-repeat: no-repeat;
	-webkit-background-size: 50%;
	background-size: 50%;
	background-position: -100px 0;
	background-attachment: fixed;
}
.topaz div.stone-product-image {
	background-image: url(../images/03_Gems/product-topaz.jpg);
	background-repeat: no-repeat;
	background-position: 400px bottom;
	background-size: 120%;
	background-attachment: fixed;
}
div.stone-product-image {
	position: relative;
}

div.stone-product-image::after {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color:	rgba(252, 217, 136, .1);
}
.pearls .stone-image {
	background-image: url(../images/03_Gems/pearl-bg.jpg);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: -300px 0;
	background-attachment: fixed;
}
.pearls div.stone-product-image {
	background-image: url(../images/03_Gems/product-pearls.jpg);
	background-repeat: no-repeat;
	background-position: 480px 0%;
	background-size: 100%;
	background-attachment: fixed;
}
.ametist .stone-image {
	background-image: url(../images/03_Gems/ametist-bg.jpg);
	background-repeat: no-repeat;
	background-size: contain;
	background-attachment: fixed;
}
.ametist div.stone-product-image {
	background-image: url(../images/03_Gems/amrtisit-product.jpg);
	background-repeat: no-repeat;
	background-position: 400px bottom;
	background-size: 100%;
	background-attachment: fixed;
}
.agate .stone-image {
	background-image: url(../images/03_Gems/agate-bg.jpg);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: -320px center;
	background-attachment: fixed;
}
.agate div.stone-product-image {
	background-image: url(../images/03_Gems/agat-product.jpg);
	background-repeat: no-repeat;
	background-position: 500px bottom;
	background-size: 100%;
	background-attachment: fixed;
}
.crystal .stone-image {
	background-image: url(../images/03_Gems/cristal-bg.jpg);
	background-repeat: no-repeat;
	background-size: contain;
	background-attachment: fixed;
}
.crystal div.stone-product-image {
	background-image: url(../images/03_Gems/crystal-product.jpg);
	background-repeat: no-repeat;
	background-position: 400px bottom;
	background-size: 110%;
	background-attachment: fixed;
}
.raspberry .stone-image {
	background-image: url(../images/03_Gems/raspbarry-bg.jpg);
	background-repeat: no-repeat;
	background-size: 60% ;
	background-attachment: fixed;
}
.raspberry div.stone-product-image {
	background-image: url(../images/03_Gems/raspberry-product.jpg);
	background-repeat: no-repeat;
	background-position: 430px bottom;
	background-size: 100%;
	background-attachment: fixed;
}
.aside-menu-stone {
	position: fixed;
	top: 330px;
	left: 20px;
	z-index: 9999;
}
.aside-menu-stone li {
	margin-bottom: 10px;
}

.aside-menu-stone li > a {
	display: block;
	width: 12px;
	height: 12px;
	font-size: 12px;
	font-weight: bold;
	border: 2px solid #333;
	/*background-color: black;*/
	-webkit-border-radius: 50%;
	border-radius: 50%;
	position: relative;

}
.aside-menu-stone li > a > span{
	position: absolute;
	width: 200px;
	top: -4px;
	left: 10px;
	padding-left: 30px;
	font-size: 16px;
	font-family: var(--text);
	font-weight: bold;
	-webkit-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
	opacity: 0;


}
.aside-menu-stone li > a:hover > span {
	opacity: 1;

	-webkit-transform: translateX(-10px);
	-ms-transform: translateX(-10px);
	transform: translateX(-10px);
}
.aside-menu-stone li > a.active-menu-link {
	background-color: #FEDE99;
	border: 2px solid #FEDE99;
	color: #FEDE99;
}
.aside-menu-stone li > a.active-menu-link > span {
	opacity: 1;
	-webkit-transform: translateX(-10px);
	-ms-transform: translateX(-10px);
	transform: translateX(-10px);
}
@media screen and (max-width: 768px) {
	article.about-stones {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
	}

	article.about-stones > div.stone-image,
	article.about-stones > div.stone-product-image {
		background-attachment: scroll;
		-webkit-background-size: cover;
		background-size: cover;
		background-position: 0 0;
	}
	article.about-stones > div.stone-product-image {
		background-position: center;
	}
	.aside-menu-stone {
		display: none;
	}
	.stone-scheme {
		height: 725px;
		width: 680px;
	}
	.stone-scheme > img {
		max-width: 680px;
		height: auto;
	}

	.stone-scheme > .scheme-block-topaz {
	top: 7%;
	left: 43%;
}
.stone-scheme > .scheme-block-topaz::after {
	height: 60px;
	right: 0;
	top: 100%;
}
.stone-scheme > .scheme-block-ametist {
	top: 15%;
	left: 36%;
	min-width: 120px;
}
.stone-scheme > .scheme-block-ametist::after {
	height: 45px;
	left: 0;
	top: 100%;
}
.stone-scheme > .scheme-block-crystal {
	top: 34%;
	left: 47%;
}
.stone-scheme > .scheme-block-crystal::after {
	height: 42px;
	left: 0;
	top: 100%;
}
.stone-scheme > .scheme-block-agate {
	top: 66%;
	left: 35%;
	min-width: 130px;
	padding: 4px;
}
.stone-scheme > .scheme-block-agate::after {
	height: 42px;
	left: 0;
	bottom: 100%;
}
.stone-scheme > .scheme-block-pearls {
	top: 100%;
	left: 40%;
	min-width: 170px;
}
.stone-scheme > .scheme-block-pearls::after {
	height: 0px;
}
.stone-scheme > .scheme-block-pearls::before {
	content: '';
	position: absolute;
	display: block;
	background-color: black;
	width: 1px;
	height: 180px;
	right: 0;
	bottom: 100%;
}
.stone-scheme > .scheme-block-raspberry {
	top: 92%;
	left: 29%;
}
.stone-scheme > .scheme-block-raspberry::after {
	height: 55px;
	bottom: 100%;
	left: 100%;
	}
}
@media screen and (max-width: 600px) {
	article.about-stones > div.stone-image,
	article.about-stones > div.stone-product-image {
		min-height: 350px;
	}
}

@media screen and (max-width: 500px) {
	article.about-stones > div.stone-image,
	article.about-stones > div.stone-product-image {
		height: 350px;
	}
	.stone-scheme {
		height: 725px;
		width: 100vw;
	}
	.stone-scheme > img {
		width: auto;
		height: auto;
	}

	.stone-scheme > .scheme-block-topaz {
	top: 7%;
	left: 33%;
}
.stone-scheme > .scheme-block-topaz::after {
	height: 60px;
	right: 0;
	top: 100%;
}
.stone-scheme > .scheme-block-ametist {
	top: 15%;
	left: 26%;
	min-width: 120px;
}
.stone-scheme > .scheme-block-ametist::after {
	height: 45px;
	left: 0;
	top: 100%;
}
.stone-scheme > .scheme-block-crystal {
	top: 34%;
	left: 47%;
}
.stone-scheme > .scheme-block-crystal::after {
	height: 42px;
	left: 0;
	top: 100%;
}
.stone-scheme > .scheme-block-agate {
	top: 66%;
	left: 19%;
	min-width: 130px;
	padding: 4px;
}
.stone-scheme > .scheme-block-agate::after {
	height: 42px;
	left: 0;
	bottom: 100%;
}
.stone-scheme > .scheme-block-pearls {
	top: 100%;
	left: 23%;
	min-width: 170px;
}
.stone-scheme > .scheme-block-pearls::after {
	height: 0px;
}
.stone-scheme > .scheme-block-pearls::before {
	content: '';
	position: absolute;
	display: block;
	background-color: black;
	width: 1px;
	height: 180px;
	right: 0;
	bottom: 100%;
}
.stone-scheme > .scheme-block-raspberry {
	top: 92%;
	left: 9%;
}
.stone-scheme > .scheme-block-raspberry::after {
	height: 55px;
	bottom: 100%;
	
	}
.topaz .stone-image {
	background-size: contain;
}
}
