.about-us-container {
    height: auto;
    justify-content: center;
    width: 100%;
    max-width: 980px;
    margin: 0 auto;
}
div.about-us {
    width: 100%;
}

.about-us-description {
    padding: 25px;
    font-family: Futura;
    font-size: 16px;
}
.about-us-description > p {
    width: 65%;
    margin: 0 auto;
    text-align: center;
    line-height: 1.4;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 20px;
    font-size: 19px;
    color: #333;
}
.about-us-description > p:last-of-type {
    margin-bottom: 20px;
}

.about-us-image {
    height: 300px;
    background-image: url('/images/01_Company/01_Что такое PBo/about-us-bg.jpg');
    background-color: black;
    background-repeat: no-repeat;
    -webkit-background-size: 70%;
    background-size: 70%;
    background-position: center bottom;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}
.about-us-image > h1 {
    margin: 30px auto;
    width: 100%;
    text-align: center;
    letter-spacing: 20px;
    font-weight: lighter;
    color: #FFE8A5;
    font-size: 40px;
    font-family: Romul, serif;
    text-transform: uppercase;
}

@media screen and (max-width: 650px) {
    .about-us-description > p {
        width: 100%;
    }
    .about-us-image {
        -webkit-background-size: cover;
        background-size: cover;
        background-attachment: scroll;
    }
    .about-us-image > h1 {
        letter-spacing: 0.4em;
        font-size: 24px;
    }
}