
nav.company-aside-menu ul li.company-aside-link.visible .point {
    background-color: black;
}
nav.company-aside-menu ul li.company-aside-link.visible .link-label {
    display: inline-block;
    animation: appearance 0.3s linear;
}
@keyframes appearance {
    0%{
        opacity: 0;
        transform: translateX(10px);
    }
    50%{
        opacity: 0.5;
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}
