@import url('https://fonts.googleapis.com/css?family=Open+Sans');
.basket-container {
	justify-content: center;
	width: 100%;
	align-self: center;
}
.basket {
	min-width: 50%;
	width: 80%;
	padding: 2%;
	background: #fff;
	font-family: 'Open Sans', sans-serif;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.name-basket {
	text-align: center;
	margin-bottom: 3%;
	font-size: 2.8vmax;
}
.block-basket {
	display: block;
	margin: 0 auto 5% auto;
	width: 300px;
}
input.block-basket {
	height: 40px;
	border: none;
	border-bottom: 2px solid #333;
}
input.block-basket::-webkit-input-placeholder {
	font-family: 'Open Sans', sans-serif;	
	font-size: 10px;
}
.basket-deliver {
	background: #fff;
	min-height: 2vmax;
	font-family: 'Open Sans', sans-serif;
	border: none;
	border-bottom: 2px solid #333;
}
.basket-comment {
	min-height: 6vmax;
	border: none;
	border-bottom: 2px solid #333;
	text-align: left;
	font-family: 'Open Sans', sans-serif;
}
.basket-sity {
	min-height: 4vmax;
	border: none;
	border-bottom: 2px solid #333;
	text-align: left;
	font-family: 'Open Sans', sans-serif;
}
.buy-item {
	min-width: 13vmax;
	min-height: 4vmax;
	border: none;
	background: #333;
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	transition: background ease-out 0.3s;
}
.buy-item:hover {
	background: #fff;
	color: #333;
	border: 1px solid #333;
}