a {
	text-decoration: none;
}
.modal-window-basket {
	position: fixed;
	display: none;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.4);
	z-index: 9999;
}
.bаsket {
	position: absolute;
	top: 0;
	right: -380px;
	width: 380px;
	height: 100vh;
	overflow: scroll;
	padding-bottom: 35px;
	background-color: #fff;
	font-family: Arial;
	-webkit-transition: .5s;
	-o-transition: .5s;
	transition: .5s;
	z-index: 9999;
	-webkit-box-shadow: 0 2px 10px 0 #333;
	box-shadow: 0 2px 10px 0 #333;

}
.move {
	right: 0;
}
.basket-header {
	width: 100%;
	height: 100px;
	position: relative;
	padding-top: 35px;
	background-color: #181818;
	text-align: left;
	font-size: 1.5rem;
	padding-left: 30%;
	font-family: Futura;
	color: #fff;
}
.arrow {
	position: absolute;
	left: 30px;
	cursor: pointer;
	-webkit-transition: .3s;
	-o-transition: .3s;
	transition: .3s;

}
.rotate {
	-webkit-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	transform: rotate(360deg);
}
.basket-body {
	width: 100%;
	height: auto;
	padding: 40px 10px 10px 10px;
	text-align: center;
	font-size: 1.1rem;
	color: #333;
	overflow: auto;	
}
.order-btn {
	margin: 20px auto;
	padding: 10px 0;
	color: #fff;
	text-align: center;
	font-size: 16px;
	font-family: Futura;
	width: 80%;
	background-color: #333;
	-webkit-transition: .3s;
	-o-transition: .3s;
	transition: .3s;
}
.order-btn:hover {
	opacity: .9;
}
.product-mini-card {
	margin-bottom: 20px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-align: start;
	-webkit-align-items: flex-start;
	-ms-flex-align: start;
	align-items: flex-start;
	position: relative;
}
.product-mini-card img {
	width: 30%;
	height: auto;
}
.product-mini-card > .description {
	width: 60%;
	padding-left: 10px;
}
.product-mini-card > .description > .product-name {
	text-transform: capitalize;
}
.product-mini-card > .description > p {
	font-family: Futura;
	text-transform: capitalize;
	color: #424242;
	font-size: 16px;
}
.description > p {
	margin: 0;
	margin-bottom: 5px;
	text-align: left;
}
.delete-good {
	cursor: pointer;
	width: 16px;
	height: 16px;
	margin-right: 5px;
	margin-left: 5px;
}
.delete-good > img {
	width: 100%;
	height: auto;
}

.sum-basket {
	padding-left: 35px;
	font-family: Futura;
	font-size: 20px;
}

@media screen and (max-width: 500px) {
	.bаsket {
		width: 80vw;
	}
}