.product-card-container {
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
	padding: 10px;
	padding-top: 60px;
	padding-bottom: 60px;
	font-family: Futura;
	font-size: 20px;
	color: #575757;
	display: flex;
}
.nav-container {
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	margin-bottom: 60px;
}
.way *,
.navigation-arrows * {
	padding-right: 4px;
	font-size: 15px;
}
a {
	color: black;
}
fieldset {
	border: none;
}
.product-name,
.navigation-arrows span {
	color: #8C8C8C;
}
.navigation-arrows a  {
	vertical-align: middle;
	/*margin-top: -2px;*/
}
.navigation-arrows a ion-icon {
	vertical-align: top;
	/*font-size: 1rem;*/
}
.product-card {
	/* width: 100%; */
	/* max-width: 960px; */
	display: grid;
	grid-template-areas:
	"descrip descrip header"
	"descrip descrip form"
	"descrip descrip form";
	grid-template-rows: 100px 2fr 2fr;
	grid-template-columns: 2fr 1fr 2fr;
}
.product-card-description {
	grid-area: descrip;

	margin-right: 35px;
}
.product-header {
	grid-area: header;
}
.selection-form-container {
	grid-area: form;
	max-width: 370px;
}
.product-card-image {
	max-width: 600px;
	height: auto;
}
.product-card-image > img {
	width: 100%;
}
.description-product p{ margin-bottom: 10px; }

.product-header  h2.product-name {
	margin-bottom: 5px;
	font-weight: normal;
	color: #575757;
}
.selection-form-container h3 {
	margin-bottom: 15px;
	font-weight: normal;
	font-size: 1rem;
	color: #aaa;
}
.selection-form {
	width: 100%;
}

.price {
	margin-top: 10px;
	margin-bottom: 20px;
	font-size: 20px;
	color: #575757;
	font-family: 'Avenir Next Cyr Light';
}
.material-container {
	display: flex;
	margin-bottom: 15px;
	position: relative;
}
.material {
	display: inline-block;
	margin-top: 10px;
	margin-right: 5px;
	width: 26px;
	height: 26px;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	cursor: pointer;
}

.material:hover {
	border: 1px solid #aaa;
}
.material-input:checked + label.material {
	border: 1px solid gray;
}
.material-input {
	display: none;
}

.select-container {
	position: relative;
	width: 100%;
}
.select-container > label {
	margin-bottom: 10px;
}
.stone-container {
	margin-top: 10px;
	overflow: hidden;
}
.stone-select input {
	display: none;

}
.stone-select input[type="checkbox"]:checked + label {
	box-shadow: 0 1px 4px rgba(0, 0, 0, .3),
            -13px 0 20px -23px rgba(0, 0, 0, .6),
            13px 0 20px -23px rgba(0, 0, 0, .6),
            inset 0 0 30px rgba(190, 190, 190, 0.1);
	opacity: 1;
}
.stone-select > .stone {
	display: flex;
	justify-content: center;
	width: calc(65px + 2.5vw);
	height: calc(65px + 2.5vw);
	border-radius: 1px;
	opacity: 0.5;
	-webkit-transition: .3s;
	-o-transition: .3s;
	transition: .3s;
	cursor: pointer;
	overflow: hidden;
	background-repeat: no-repeat;
	background-size: 250%;
	background-position: center center;
}
.stone-select > .stone:hover {
		/* box-shadow: 0 1px 4px rgba(0, 0, 0, .3),
            -13px 0 20px -23px rgba(0, 0, 0, .6),
            13px 0 20px -23px rgba(0, 0, 0, .6),
            inset 0 0 30px rgba(190, 190, 190, 0.1); */
	opacity: 1;
	transform: scale(1.05);
}
fieldset {
	padding: 0;
}
.about-size {
	font-size: 15px;
}
.quantity {
	margin-top: 15px;
	margin-bottom: 10px
}
.selection-form input[type="text"],
.selection-form input[type="number"] {
	height: 45px;
	padding: 10px;
	border: 1px solid #C0C0C0;
	width: 100%;
}

/* .selection-form select:hover,
.selection-form input[type="text"]:hover,
.selection-form input[type="number"]:hover {
	border: 1px solid #333;
} */
.selection-form input[type="number"] {
	width: 80px;
}
.selection-form .add-btn {
	margin-top: 30px;
	padding: 15px 0;
	width: 100%;
	color: #fff;
	border: 1px solid black;
	background-color: black;
	text-transform: uppercase;
	-webkit-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
	cursor: pointer;
	font-size: 15px;
}
.selection-form .add-btn:hover {
	opacity: 0.8;
}

.size {
	font-size: 16px;
}

@media screen and (max-width: 600px) {
	.product-card {
	grid-template-areas:
	"header header header"
	"descrip descrip descrip"
	"form form form";
	grid-template-rows: 100px 1fr 1fr;
	grid-template-columns: minmax(1fr,600px) 1fr 1fr;
	}
	.selection-form-container {
		margin: 0 auto;
		padding-top: 30px;
	}
	.stone-container {
		max-width: 340px;
		margin: 0 auto;
		width: 90vw;
	}
	.selection-form .add-btn {
		max-width: 100%;
	}
}