.collection-cart-container {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	width: 100%;
	max-width: 980px;
	margin: 0 auto;
	margin-top: 20px;
	height: auto;
}

.collection-cart {
	margin: 12px;
	width: 300px;
	height: 300px;
	padding: 15px;
	background-color: #F0F0F0;
}
.collection-image {
	width: 100%;
	height: 230px;
	border: 1px solid #333;
	background-image: url(../img/main-collection/fon1.jpg);
}
.collection-image > img {
	width: 100%;
}
.collection-name {
	margin-top: 15px;
	text-align: center;
	font-weight: 400;

}