.collections-menu {
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 100%;
  max-width: 60vw;
  display: flex;
  flex-wrap: wrap;
}

.collection-plate {
  width: 50%;
  padding-bottom: 50%;
  position: relative;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: cover;
}

/* .collection-plate:nth-child(even) {
  background-position: right center;
} */

.collection-plate > span {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .3s linear;
  font-family: Asquets;
  font-style: italic;
  font-size: calc(15px + 5vw);
}

.collection-plate > span:hover {
  background-color: white;
}

.collection-container {
  margin-bottom: 50px;
  width: 80vw;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.specification-collection {
  min-height: 80vh;
  width: 100%;
  margin-right: 40px;
  max-width: 400px;
  text-align: center;
  padding: 25px;
  background-color: rgba(251, 243, 232, .7);
  display: flex;
  flex-direction: column;
  z-index: 2;
  position: relative;
  float: right;
}

.specification > p {
  line-height: 1.2;
  font-size: 18px;
  color: #333;
  font-family: Futura;
  margin-bottom: 15px;
}

.specification {
  flex: 1;
}  

.specification >.line {
  background-color: black;
  height: 1px;
  width: 100px;
  margin: 0 auto 20px auto;
}

.specification > h2 {
  font-weight: lighter;
  text-align: center;
  letter-spacing: 8px;
  margin: 0;
  font-size: calc(15px + 1vw);
  font-family: Romul;

}
 
.specification > h3 {
  font-size: calc(10px + 0.5vw);
  letter-spacing: 10px;
  text-align: center;
  font-weight: lighter;
  margin: 0;
  font-family: Romul;
}

.specification > .particular-qualities {
  margin-bottom: 10px;
  font-size: 37px;
  font-family: Bernhard;
  text-align: center;
  line-height: .8;
}

.collection-button {
  padding: 10px 5px;
  background-color: rgb(222, 188, 177);
  font-size: 14px;
  font-family: Romul;
  max-width: 320px;
  width: 100%;
  margin: 0 auto;
}

div.collection-slider-container {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.collection-slider {
  width: 100%;
  height: 100%;
}

.collection-slide {
  width: 100%;
  height: 100%;
  background-image: url('/images/02_Collections/01_Changeling/1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.collection-slide > img {
  width: 100%;
  height: auto;
}

/*Слайдер  */

div.swiper-button-collection {
  background-color: rgba(0, 0, 0, 0.1);
  width: 35px;
  height: 35px;
  background-image: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  color: #333;
}

div.swiper-button-collection.swiper-button-next {
  right: 1px;
}

div.swiper-button-collection.swiper-button-prev {
  left: 1px;
}

.swiper-pagination-collection > span {
  border-radius: 0;
  margin: 0 6px;
  width: 6px;
  height: 6px;
}

.swiper-pagination-collection > span.swiper-pagination-bullet-active {
  background: #333;
}


@media screen and (max-width: 760px) {
  .collections-menu {
    max-width: 100vw;
  }
  .collection-container {
    width: 100%;
  }
  div.collection-slider-container {
    position: relative;
    width: 100%;
    height: 100vw;
    margin-bottom: 30px;
  }

  .specification-collection {
    float: none;
    margin: 0 auto;
  }
}