.container-contact {
	width: 100%;
	max-width: 980px;
	margin: 0 auto;
	padding-top: 50px;
	padding-bottom: 50px;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	font-family: Futura;
}
.container-contact > section {
	flex: 1;
}
.container-contact h2 {
	text-align: left;
	margin-bottom: 30px;
	font-family: Arial;
	font-weight: normal;
	font-size: 1.4rem;
	font-family: Futura;
	font-weight: 700;

}
.contact-form {
	display: flex;
	flex-direction: column;
	margin-bottom: 40px;
}
.contact-form input, .contact-form textarea {
	margin: 6px;
	background-color: rgba(254, 222, 153, 0.5);
	border: none;
	padding: 10px 5px;
	font-size: 14px;
	font-style: oblique;
}
.container-contact h2.form-header {
	margin-bottom: 5px;
}
.contact-form textarea {
	resize: none;
	height: 150px;
}
.contact-form input::-webkit-input-placeholder,
.contact-form textarea::-webkit-input-placeholder {
	font-size: 14px;
	font-style: oblique;
}
.contact-form input[type="submit"] {
	background: #000000;
	color: #fff;
	font-family: Arial;
	font-style: normal;
	font-size: 1.2rem;
	cursor: pointer;
}
.section-address h2 {
	text-align: left;
	margin-bottom: 20px;
}
.section-address > * {
	font-size: 20px;
	font-family: Futura;
}
.section-address .social > a {
	display: inline-block;
	margin: 20px 20px 20px 0;
	font-size: 1.5rem;
	color: #000;
}
.contact-form .empty {
	position: relative;
	-webkit-box-shadow: inset 0 0 1px 1px red;
	box-shadow: inset 0 0 1px 1px red;
	background-color: rgba(249, 64, 64, 0.2);

	/*border: 1px solid red;*/
}
.alert-msg {
	color: black;
	text-align: center;
	font-family: Futura;
	font-size: 1rem;
	padding: 5px;
}
.partnership {
	font-size: 20px;
	margin-left: 10px;

}
.partnership h2 {
	margin-left: 30px;
}
.partnership p {
	padding: 0 30px;
	text-align: justify;
}
@media screen and (max-width: 990px) {

}

@media screen and (max-width: 768px) {
	.container-contact {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
	}

	.container-contact > * {
			margin: 0 auto;
			width: 400px;
	}
	.section-address > * {
		margin-left: 0;
	} 
	
@media screen and (max-width: 480px) {
	.container-contact > * {
		margin: 0 auto;
		max-width: 300px;
	}
	.form-input-container-contact {
		flex-wrap: nowrap;		
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
	}
	.partnership {
		padding: 10px;
	}
	.partnership h2 {
		margin-left: 0;
		margin-bottom: 15px;
	}
	.partnership p {
		padding: 0;
	}	
}
}