@font-face {
    font-family: 'Romul';
    src: url("../fonts/Romul.woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Futura';
    src: url("../fonts/futuralightc.woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'LibreBaskerville';
  src: url("../fonts/LibreBaskerville.woff");
  font-weight: normal;
  font-style: normal;
}