.footer {
	width: 100%;
  height: auto;
	background-color: #181818;
	color: #fff;
	font-family: Futura;
  font-size: 17px;
  padding-top: 20px;
}
.footer-nav {
	max-width: 1000px;
  padding: 0 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}
.footer-nav .footer-link {
  grid-column: 1/3;
}
.footer-link a {
	white-space: nowrap;
	color: #fff;
	padding-bottom: 14px;
	text-decoration: underline;
}
.footer-link > address {
	margin: 16px 0;
    font-weight: 300;
    font-style: normal;
	font-family: Futura;
}
.address {
  grid-column: 4/7;
  text-align: left;
  font-style: normal;
  font-size: 14px;
}

.address > span {
  display: block;
  margin-bottom: 8px;
}
.contact {
  grid-column: 1/4;
  display: flex;
  align-items: flex-end;
  padding-bottom: 5px;
  font-size: 15px;
}
.contact span {
	padding: 14px 20px 0 0;
	white-space: nowrap;
}
.social-link {
	text-align: center;
}
.social-link a {
	color: #fff;
	padding-bottom: 16px;
	font-size: 21px;
}
.subscribe-newsletter {
  grid-column: 4/7;
}
.subscribe-newsletter label {
	display: block;
  line-height: 1.5;
  margin-bottom: 10px;
}
.subscribe {
	-webkit-box-align: end;
	-webkit-align-items: flex-end;
	-ms-flex-align: end;
	align-items: flex-end;
} 
.subscribe * {
	margin: 10px  5px 10px 0;
	padding: 8px 8px;
	border: 1px solid #fff;
}
.subscribe input {
	width: 160px;
	background-color: #181818;
	color: #fff; 
	height: 35px;
}
.subscribe input::-webkit-input-placeholder {
	color: #fff; 
}
.subscribe input[type="submit"] {
	background-color: #fff;
	width: 140px;
	color: #181818;
  cursor: pointer;
}

.footer-signature {
	background-color: #2E2D2D;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.footer-signature > p {
	font-size: 14px;
	font-family: Rubik;
	padding: 15px;
	font-weight: 300;
	color: #A6A2A2;
}
@media screen and (max-width: 990px) {
  .footer-signature > p {
    font-size: 13px;
  }
}

@media screen and (max-width: 775px) {
  .footer-nav .footer-link {
    grid-column: 2/3;
  }
  .subscribe-newsletter {
    grid-column: 2/6;
    margin-bottom: 30px;
  }
  .social-link {
	  grid-column: 3/5;
  }
  .address {
    grid-column: 2/3;
  }
  .contact {
    grid-column: 2/3;
  }
}

@media screen and (max-width: 480px) {
  .social-link {
    grid-column: 1/7;
    grid-row: 1/2;
    display: flex;
    justify-content: center;
  }
  .social-link a {
    margin: 0 10px;
  }
  .footer-nav .footer-link {
    grid-column: 1/7;
    grid-row: 4/5;
  }
  .subscribe-newsletter {
    grid-column: 1/7;
    grid-row: 2/3;
  }
  .subscribe-newsletter label {
    text-align: center;
  }
  .subscribe {
    display: flex;
    flex-direction: column;
  }
  .subscribe input {
    width: 100%;
    max-width: 250px;
    margin: 10px auto;
  }
  .subscribe input[type="submit"] {
	  width: 100%;
    max-width: 250px;
  }
  .address {
    grid-column: 1/7;
    grid-row: 3/4;
    margin-bottom: 30px;
    font-size: 15px;
  }
  .contact {
    grid-column: 1/7;
    grid-row: 5/6;
  }
}
