.account-menu-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: transparent;
	display: none;
	z-index: 9999;
}
.account-menu {
	width: 150px;
	height: auto;
	padding: 20px;
	position: absolute;
	top: 50px;
	right: 15%;
	background-color: #2F2E2E;
}
.account-menu > a {
	margin-bottom: 15px;
	text-align: left;
	color: #FEDE99;
	font-family: Futura;
	font-size: 17px;
}
.account-menu > a:last-child {
	padding-top: 10px;
	border-top: 1px solid #aaa;
}
.hide {
	display: block;
}
.mobile-menu-btn {
	display: none;
}
/*Слайдер*/

.main-slider{
	overflow: hidden;
}
.main-slider  div {
	position: relative;
	height: 80vmin;
	max-height: 630px;
	background-repeat: no-repeat;
	-webkit-background-size: cover; 
	background-size: cover;
	background-position: 100% 0%;
	/* image-rendering: pixelated;	 */
}
.main-slider  div .slide-content {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	width: 320px;
	position: absolute;
	top: 70px;
	left: 100px;
	color: #fff;
	font-family: serif;
}
.main-slider  .slide4 .slide-content {
	left: 70%;
}

.main-slider  .slide2 .slide-content {
	top: 30%;
	left: 55%;
}

.main-slider  .slide4 .slide-content > a {
	color: #FEDE99;
	border-color: #FEDE99; 
} 

.main-slider  .slide3 .slide-content > a {
	color: #FEDE99;
	border-color: #FEDE99; 
} 

.main-slider  div .slide-content > h2 {
	margin-bottom: 25px;
	letter-spacing: 5px;
	text-transform: uppercase;
	font-size: 3rem;
	font-weight: normal;
	font-family: serif;
}
.main-slider  div .slide-content > p {
	text-align: center;
	line-height: 1.5;
	font-size: 21px;
	letter-spacing: 0.5px;
	margin-bottom: 30px;
	font-family: serif;
}
.main-slider  div .slide-content > a {
	color: #2E2D2D;
	text-align: center;
	display: block;
	width: 100%;
	line-height: 1.5;
	font-size: 1.2rem;
	font-family: serif;
	font-style: italic;
	transition: all .3s linear;
	border: 1px solid #2E2D2D;
	padding: 8px 30px;
}
.main-slider  div .slide-content > a:hover {
	color: #424242;
	border: 1px solid #fff;
	background-color: #fff;
}

.slick-dots li button:before {
    content: '';
	width: 8px;
	height: 8px;
	background-color: #FEDE99;
	opacity: 1;
}
.slick-dots li.slick-active button:before {
	background-color: #fff;
	opacity: 1;
}

.slick-next {
	margin-right: 40px;
	z-index: 1;
}
.slick-prev {
	margin-left: 40px;
	z-index: 1;
}

.slider {
	position: relative;
}
.dots-container {
	position: absolute;
	width: 200px;
	left: 50%;
	margin-left: -100px;
	top: 85%;
}
.karusel {
	height: auto;
	width: 100%;
	background-color: #fff;
	margin-bottom: 50px;
}
.karusel > h2 {
	margin-bottom: 25px;
	letter-spacing: 11px;
	text-transform: uppercase;
	font-size: 3rem;
	font-weight: normal;
	text-align: center;
}
.karusel .karusel-slider {
	max-width: 900px;
	height: auto;
	margin: 0 auto;
	position: relative;
}
.prewBtn, .nextBtn {
	position: absolute;
	background: none;
	border: none;
	font-size: 1rem;
	color: #fff;
	text-shadow: 0px 0px 5px #333;
	top: 50%;
	cursor: pointer;
}
.prewBtn {
	left: -20px;
}
.nextBtn {
	right: -20px;
}

.karusel-slide a {
	color: #424242;
	text-transform: uppercase;
}
.karusel-slide a > .slide-image {
	padding-top: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	margin-bottom: 15px;
}
.karusel-slide a h3 {
	margin-bottom: 15px;
	font-weight: normal;
	text-align: center;
	white-space: nowrap;
}
.karusel-slide hr {
	width: 80px;
	margin: 0 auto;
}
.karusel-slide a .price  {
	text-align: center;
	font-size: 1.2rem;
}

/*конец слайдера*/
.instagram {
	height: auto;
	width: 100%;
	background-color: #414141;
	padding-bottom: 50px;
}
.instagram > h2 {
	text-align: center;
	font-size: 40px;
	font-weight: normal;
	padding: 20px;
	text-transform: uppercase;
	color: #fff;
	letter-spacing: 3px;
}
.insta-window {
	height: 90vh;
	width: 100%;
	margin: 0 auto;
	border: none;
	display: flex;
}
.insta-window > iframe {
	height: 100%;
	flex: 1;
	border: none;
	overflow: hidden;
}

::-webkit-scrollbar { width: 8px; height: 8px;}
::-webkit-scrollbar-button {  display: none; }
::-webkit-scrollbar-track {  background-color: #aaa;}
::-webkit-scrollbar-track-piece { background-color: #ffffff;}
::-webkit-scrollbar-thumb { height: 50px; background-color: #aaa; border-radius: 5px; }
::-webkit-scrollbar-corner { background-color: #aaa;}
::-webkit-resizer { background-color: #aaa;}

.insta-window > iframe::-webkit-scrollbar { 
	display: none; 
	width: 0;
	height: 0;

}
@media screen and (max-width: 990px) {

	.main-slider div img {
		width: 130%;
		height: 110%;
	}
	.karusel .karusel-slider {
		width: 700px;
	}
}
@media screen and (max-width: 768px) {
	.karusel .karusel-slider {
		width: 100vw;
		max-width: 350px;
	}
	.main-slider  div .slide-content {
		left: 50%;
		margin-left: -160px;
	}
	.main-slider  div .slide-content > h2 {
		font-size: 2.5rem;
	}
	.karusel > h2 {
		font-size: 2.5rem;
	}
}


@media screen and (max-width: 600px) {
	.main-slider  div {
	background-position: center;
}
	.main-slider  div .slide-content {
	position: static;
	margin: 0 auto;
	margin-top: 50px;
	height: 80%;
	max-width: 80vw;
}
.main-slider  div .slide-content > h2 {
	font-size: 24px;
}
.main-slider  div .slide-content > p {
	flex: 1;
}
.main-slider  div .slide-content > a {
	width: 90%;
	font-size: 17px;
}
}


@media screen and (max-width: 480px) {
	.main-slider  div {
		overflow: hidden;
	}
	.main-slider  div .slide-content > p {
		font-size: 1.1rem;
	}
	.main-slider  div {
		height: 70vmax;
	}

	.karusel > h2 {
		font-size: 2rem;
	}
	.karusel div {
		overflow: hidden;
	}
	.karusel-slider button.prewBtn,
	.karusel-slider button.nextBtn {
		display: none;
	}
	.dots-container {
		display: none;
	}
}

