@import url('https://fonts.googleapis.com/css?family=PT+Serif+Caption');
@import url('https://fonts.googleapis.com/css?family=EB+Garamond');
@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,500,700,900');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Comfortaa:300,400,700&subset=cyrillic');


/*::-webkit-scrollbar { !* chrome based *!*/
  /*width: 0px;  !* ширина scrollbar'a *!*/
  /*background: transparent;  !* опционально *!*/
/*}*/

html {
  scroll-behavior: smooth;
  /*-ms-overflow-style: none;  !* IE 10+ *!*/
  /*scrollbar-width: none; !* Firefox *!*/
}


img {
  /* image-rendering: pixelated; */
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
}

.container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow: hidden;
  min-height: 100vh;
}
.content {
  flex: 1;
  /* min-height: 427px; */
}
.row-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
}
.flex-1 {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}
body * {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline:none;

  
}
a {
  text-decoration: none;
  display: block;
}
ul {
  list-style: none;
}

.app {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.company-container {
  background-color: #FFFCF5;
}

@font-face {
  font-family: 'Avenir Next Cyr Light';
  src: url('../fonts/AvenirNextCyr-Light.woff');
  font-weight: normal;
  font-style: normal;
}