.production {
	width: 100%;
	max-width: 980px;
	margin: 0 auto;
}

.video {
	width: 100%;
}
.production-caption {
	width: 100%;
	height: 300px;
	padding-top: 30px;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: contain;
	background-position: center center;
	background-image: url('/images/01_Company/04_Изготовление/caption.jpg');
}
.production-caption >h1 {
	text-transform: uppercase;
	letter-spacing: 20px;
	font-weight: lighter;
	color: #FFE8A5;
	font-size: 40px;
	text-align: center;
	font-weight: normal;
	font-family: Romul, serif;
}
.making-headline {
	width: 100%;
	height: 70vh;
	text-align: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;background-color: #333;
	background-color: #FFFCF5;
}
.making-headline > h1 {
	width: 500px;
	margin-top: 130px;
	margin-bottom: 30px;
	font-size: 2.5rem;
	text-transform: uppercase;
	letter-spacing: 10px;
	line-height: 1.5;
	font-weight: 400;
	color: #fff;
	font-family: Romul;
}
.making-headline > button {
	border: none;
	background: none;
	font-size: 1.2rem;
	font-family: Arial;
	font-weight: 500;
	border-bottom: 2px solid #fff;
	cursor: pointer;
	color: #fff;
	position: relative;
	-webkit-transition: .2s;
	-o-transition: .2s;
	transition: .2s;
}
.making-headline > button:before {
	content:"";
	display: block;
	width: 40px;
	height: 40px;
	position: absolute;
	left: -50px;
	top: -10px;
	background-image: url('/images/01_Company/04_Изготовление/iconfinder-icon.svg');
	-webkit-background-size: contain;
	background-size: contain;
	background-repeat: no-repeat;
}
.making-headline > button:hover {
	opacity: .6;
}
.making-stage {
	margin: 0 auto;
	margin-top: 20px;
	max-width: 980px;
	background-color: #FFFCF5;

}
.making-stage > .left-column,
.making-stage > .right-column {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	margin: 13px;
	
}
.stage {
	width: 100%;
	height: auto;
	margin-bottom: 26px;
	padding: 25px;
	text-align: justify;
	line-height: 1.3;
	background-color: #fff;
	-webkit-box-shadow: 0 0 15px -2px #cecece;
	box-shadow: 0 0 15px -2px #cecece;
}
.stage > h2 {
	margin-bottom: 10px;
	font-size: 1.8rem;
	font-weight: 300;
	letter-spacing: 3px;
	text-transform: uppercase;
	font-family: Romul;
	text-align: left;
}
.stage > .separator-line {
	margin-bottom: 20px;
	width: 70%;
	height: 3px;
	background-color: #F2BF5E;
}
.stage > .stage-description {
	margin-bottom: 30px;
	padding-right: 60px;
	font-family: Futura;
	font-size: 17px;
}
.stage > .stage-description > ul {
	padding-left: 30px;
	list-style: disc;
}
.stage > .img-stage {
	width: 100%;
	padding-bottom: 100%;
	margin: 0 auto;
	margin-bottom: 30px;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center;
}
.img-stage-1 {
	background-image: url('/images/01_Company/04_Изготовление/1.webp');
}
.img-stage-2 {
	background-image: url('/images/01_Company/04_Изготовление/2.jpg');
}
.img-stage-3 {
	background-image: url('/images/01_Company/04_Изготовление/3.jpg');
}
.img-stage-4 {
	background-image: url('/images/01_Company/04_Изготовление/4.jpg');
}
.img-stage-5 {
	background-image: url('/images/01_Company/04_Изготовление/5.jpg');
}
.img-stage-6 {
	background-image: url('/images/01_Company/04_Изготовление/6.jpg');
}
.img-stage-7 {
	background-image: url('/images/01_Company/04_Изготовление/7.jpg');
}
.img-stage-8 {
	background-image: url('/images/01_Company/04_Изготовление/8.jpg');
}
.img-stage-9 {
	background-image: url('/images/01_Company/04_Изготовление/9.jpg');
}
.making-stage-mobile {
	display: none;
}
.stage-9 >h2 {
	text-align: left;
}
@media screen and (max-width: 780px) {
	.making-stage {
		display: none;
	}
	.making-stage-mobile {
		display: block;
		max-width: 500px;
		margin: 0 auto;
	}
}
@media screen and (max-width: 600px) {
	.production-caption {
		background-attachment: scroll;
		background-size: cover;
	}
	.production-caption >h1 {
		letter-spacing: 0.4em;
		font-size: 24px;

	}
}