div.modal-menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 200;
  display: none;
}
nav.mobile-menu {
  /*display: none;*/
  position: absolute;
  top: 0;
  right: -250px;

  width: 250px;
  height: 100vh;
  background-color: #2F2E2E; 
  -webkit-transition: .3s; 
  -o-transition: .3s; 
  transition: .3s;
  }
nav.mobile-menu .user-login-container {
  padding-top: 30px;
  padding-left: 15px;
  background-color: #333;
  height: 140px;
}
nav.mobile-menu .user-login-container .open-login-mob {
  margin-top: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
}
nav.mobile-menu .user-login-container .open-login-mob > svg {
  width: 26px;
  height: 36px;
  fill: #FFE8A5;
}
nav.mobile-menu .user-login-container .open-login-mob > span {
  font-size: 19px;
  font-family: Futura;
  color: #FFE8A5;
  margin-right: 10px;
}
.user-account-mobile {
  width: 80%;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #aaa;
  padding-bottom: 5px;
}
.user-account-mobile > span {
  font-family: Futura;
  margin-left: 10px;
  color: #FEDE99;
}
.user-account-mobile > .mobile-img-user {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.user-login-container a {
  color: #FEDE99;
}
.mobile-logout {
  font-family: Futura;
  font-size: 16px;
}
nav.mobile-menu > ul {
  padding-top: 20px;
}
nav.mobile-menu li > a {
  width: 70%;
  margin-left: 20px;
  padding-bottom: 5px;
  margin-bottom: 20px;
  color: #FEDE99;
  font-family: Futura;
  font-size: 19px;
}
nav.show {
  right: 0;
}


/* Новая иконка */

.wrapper-menu {
  width: 50px;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  transition: transform 330ms ease-out;
  position: absolute;
  top: 5px;
  right: 10px;
  z-index: 300;
  display: none;
  transform: scale(.6, .6);
}

.wrapper-menu.open {
  transform:scale(.6, .6) rotate(-45deg);
}

.line-menu {
  background-color: #FEDE99;
  border-radius: 5px;
  width: 100%;
  height: 6px;
}

.line-menu.half {
  width: 50%;
}

.line-menu.start {
  transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  transform-origin: right;
}

.open .line-menu.start {
  transform: rotate(-90deg) translateX(3px);
}

.line-menu.end {
  align-self: flex-end;
  transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  transform-origin: left;
}

.open .line-menu.end {
  transform: rotate(-90deg) translateX(-3px);
}

@media screen and (max-width: 768px) {
  .wrapper-menu {
    display: flex;
  }
  div.modal-menu {

    display: none;
  }
}
@media screen and (min-width: 768px) {
  div.modal-menu.visibility {
    display: none;
  }
}
div.visibility {
  display: block;
}