div.order-success-info {
    width: 100%;
    height: 100%;
    margin: auto;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.order-success-info > p {
    margin-top: 50px;
    font-size: 18px;
    text-align: center;
    font-family: Arial;
}
