.partnership-container {
    width: 100%;
    height: auto;
    background-color: #fff;
    justify-content: center;
}
div.partnership {
    width: 100%;
    max-width: 980px;
}
div.partnership > div {
    flex: 1;
}
.partnership-description {
    margin-right: 25px;
    margin-bottom: 25px;
    padding-top: 25px;
    font-family: "Garamond";
    font-size: 19px;
}
.partnership-description > h1 {
    margin-top: 30px;
    padding-left: 20px;
    font-size: 2rem;
    text-align: left;
    letter-spacing: 7px;
    font-weight: lighter;
    text-transform: uppercase;
}
.partnership-description > p:first-of-type {
    margin-top: 25px;
}
.partnership-description > p {
    line-height: 1.5;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 18px;
    text-align: justify;

}
.partnership-description > p:last-of-type {
    margin-bottom: 20px;
}
.partnership-description > a {
    font-family: serif;
    font-size: 19px;
    padding-left: 20px;
    margin-bottom: 10px;
    color: #BE9E61;
    font-style: italic;
    transition: .3s;
}
.partnership-description > a:hover {
    color: #605E5E;
}
.partnership-image {
    width: 500px;
    background-image: url(../img/partnership/partnership_bg.jpg);
    background-position: 75%;
    background-repeat: no-repeat;
    background-size: 60%;
    background-attachment: fixed;
}