.p-a-c {
	margin: 0 auto;
	padding: 60px 20px 60px;
	font-family: Arial;
	display: flex;
	max-width: 1000px;
}
.personal-menu {
	width: 250px;
	margin-right: 60px;
}
.account-side-bar,
.account-nav {
	width: 100%;
	border: 1px solid #D1D1D1;
}
.account-side-bar {
	margin-bottom: 40px;
	padding: 30px;
}
.account-side-bar > * {
	margin-bottom: 20px;
}

.user-logo > * {
	margin-bottom: 10px;

}
.user-logo > .user-image {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #fff;
}
.user-logo > .user-image > img {
	width: 100%;
	height: 100%;
	border-radius: 50%;

}
input.user-name {
	padding-bottom: 5px;
	background-color: transparent;
	border: none;
	font-size: 15px;
}
input.user-name.available {
	border-bottom: 1px solid black;
}
.social-count > * {
	margin-bottom: 5px;
	font-size: 15px;
}
.edit-btn {
	margin-bottom: 0;
	width: 100%;
	padding: 10px;
	background-color: #fff;
	border: 1px solid #3E40B3;
	color: #3E40B3;
	font-size: 14px;
	cursor: pointer;
	-webkit-transition: .3s;
	-o-transition: .3s;
	transition: .3s;
}
.edit-btn:hover {
	color: #fff;
	background-color: #3E40B3;
}
.account-nav {
	padding: 10px 30px;
}
.account-nav li:first-of-type {
	margin-bottom: 20px;
}
.account-nav li {
	font-size: 15px;
	cursor: pointer;
}

.personal-info {
	max-width: 580px;
}
.account-headline {
	width: 100%;
	padding: 30px 0;
	margin-bottom: 25px;
	border-bottom: 1px solid #aaa; 
}
.account-headline > h1 {
	margin-bottom: 10px;
	font-weight: normal;
	font-size: 1.6rem;
}
.account-headline > p {
	font-size: 15px;
}
.invariable-info {
	font-size: 14px;
	margin-bottom: 25px;	
}
.invariable-info > * {
	margin-bottom: 10px;
}
.info-flag {
	margin-left: 10px;
	color: #333;
	cursor: pointer;
	position: relative;
}
.info-flag:before {
	content: "Эл. почту логина нельзя изменить";
	display: none;
	width: 150px;
	padding: 5px 10px;
	border: 1px solid #333;
	line-height: 1.5;
	font-size: 13px;
	text-align: left;
	background: rgba(255,255,255, 0.8);
	position: absolute;
	z-index: 2;
	top: -70px;
	left: -75px;
}
.info-flag:after {
	content: "";
	display: none;
	width: 25px;
	height: 25px;
	position: absolute;
	z-index: 3;
	background-color: #fff;
	top: -33px;
	left: -5px;	
	border-right: 1px solid #333;
	border-bottom: 1px solid #333;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);


}
.info-flag:hover:before, 
.info-flag:hover:after {
	display: block;
}
.form-input-container {
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
.input-container {
	width: 100%;
	max-width: 275px;
}


.input-container label,
.input-container input {
	width: 100%;
}
.input-container label {
	display: block;
	height: 40px;
	padding: 15px 0;
}
.input-container input {
	padding: 5px 10px;
	height: 40px;
	background-color: #fff;
	border: 1px solid #D1D1D1;
}
button.update-info {
	width: 100%;
	max-width: 275px;
	margin-top: 30px;
	padding: 10px;
	background-color: #3E40B3;
	border: 1px solid #3E40B3;
	color: #fff;
	cursor: pointer;
}
.input-avatar > input[type='file'] {
	display: none;
}
.input-avatar {
	display: block;
	width: 100%;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #ffffff;
	border: 1px solid #3E40B3;
	color: #3E40B3;
	/* border-radius: 10px; */
	font-size: 14px;
	cursor: pointer;
	transition: all linear .2s;
}
.input-avatar:hover  {
	background-color: rgba(62, 64, 179, .3);
}
.users-orders {
	flex: 1;
	font-family: Futura;
	max-height: 55vh;
	overflow-y: scroll;
	-ms-overflow-style: none; 
	overflow: -moz-scrollbars-none;
}
.users-orders::-webkit-scrollbar { width: 0 !important }

.order {
	background-color: rgb(252, 247, 240);
	padding: 8px;
	/* border-radius: 4px; */
	border: 1px solid rgb(221, 218, 218);
	margin-bottom: 20px;
}
.order-header {
	display: flex;
	flex-direction: column;
	margin-bottom: 5px;
}
.header-elem {
	margin-bottom: 5px;
}
.order-products {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	grid-gap: 5px;
}
.order-product {
	background-color: #fff;
	display: flex;
	border: 1px solid rgb(221, 218, 218);
	/* border-radius: 4px; */
}
.product-image {
	width: 80px;
	height: 80px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
}
.product-description > p {
	text-align: left;
	margin-bottom: 3px;
}
@media screen and (max-width: 600px) {
	.p-a-c {
		flex-direction: column;
	}
}