.cart_page {
	width: 100%;
	height: 100%;
	background-color: #ffffff;
	font-family: Futura;
	min-height: 383px;
}
.cart_container {
	width: 100%;
	max-width: 1024px;
	padding: 20px;
	margin: 0 auto;
  background-color: #ffffff;
}
.return_to_buy {
	display: flex;
	justify-content: space-between;
	font-family: Futura;
	flex-wrap: wrap;
}
.return_to_buy > * {
	padding: 15px 0;
}
.return_to_buy a {
	font-size: 18px;
	transition: all 0.3s ease;
}
.return_to_buy i {
	font-size: 14px;
}


.product_in_cart {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	margin: 20px 0;
	padding-bottom: 20px;
	border-bottom:  1px solid #D1D1D1;
}

.product_description {
	display: flex;
	flex: 1;
	/* max-width: 50%; */
}
.product_image  {
	width: 150px;
	height: 150px;
	min-width: 150px;
	margin-right: 15px;
	border:  1px solid #D1D1D1;
	background-color: #fff;
	overflow: hidden;
	display: flex;
	justify-content: center;
}
.product_image > img {
	width: auto;
	height: 100%;
}

.product_stones {
	display: flex;
	flex-wrap: wrap;
}
.product_stones > .product_stone {
	width: 50px;
	height: 50px;
	border:  1px solid #D1D1D1;
	overflow: hidden;
	margin: 2px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 250%;
}

.item_price {
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: space-around;
	max-width: 40%;
}
.quantity_block {
	width: 80px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.quantity_block > input.quantity-num {
	width: 50%;
	height: 30px;
	border: 1px solid #D1D1D1;
	text-align: center;
}

.quantity_block > input.quantity-num:disabled {
	background-color: #fff;
}

.quantity_button {
	background-color: transparent;
	border: none;
	text-align: center;
	font-size: 20px;
	font-family: Futura, serif;
	cursor: pointer;
}
.product_price {
	font-size: 25px;
	font-weight: bold;
	padding: 0 20px;
}

.delete_btn {
	background-color: transparent;
	border: none;
	cursor: pointer;
}

.delete_btn:hover {
	text-decoration: underline;
}

.order_details {
	margin-top: 20px;
	display: flex;
	justify-content: space-between;
}
.order_details > * {
	flex: 1;
}
.order_form {
	flex: 1;
	max-width: 620px;
	padding: 10px;
}
.order_form > h3 {
	margin-bottom: 10px;
}

.order_form > form .input,
.form-select {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.order_form > form .input > label,
.form-select > label {
	margin-bottom: 5px;
	margin-top: 10px;
}

.order_form > form .input > input,
.order_form > form .input > select {
	width: 90%;
	padding: 0 5px;
	height: 30px;
	height: 40px;

}

.input input {
	border: 1px solid #D1D1D1;
}

.input.input-invalid input {
		border: 1px solid red;
}

.order_form > form .input > input::-webkit-input-placeholder {
	font-size: 14px;
}
.additional-form {
	flex: 1;
}
.additional {
	margin-bottom: 20px;
}
.additional > span {
	font-size: 19px;
	cursor: pointer;
}
.city-select {
	width: 90%;
}

.city-select .vs__dropdown-toggle {
	height: 40px;
	border-radius: 0px;
	border-color: #D1D1D1;
}

.input-invalid  .vs__dropdown-toggle {
	border-color: red;
}

.coupon-input {
	margin-top: 10px;
	display: flex;
}


.coupon-input > input {
	flex: 2;
	max-width: 90%;
	height: 50px;
	border: 1px solid #D1D1D1;
	padding-left: 8px;
	border-right: none;
}

.coupon-input > input:hover {
	border-color: black;
}
.coupon-input > button {
	flex: 1;
	height: 50px;
	background-color: #fff;
	border: 1px solid black;
	font-size: 28px;
	color: #333;
	cursor: pointer;
}
.comment-input {
	margin-top: 10px;
}

.comment-input > textarea {
	width: 100%;
	min-height: 120px;
	border: 1px solid #D1D1D1;
	padding: 8px;
	resize: none;
}

.delivery-info {
	margin-top: 20px;
}

.delivery-info > h3 {
	margin-bottom: 10px;
}
.shipping-options {
	border: 1px solid #D1D1D1;
	width: 90%;
}
.option.delivery {
	border-bottom: 1px solid #D1D1D1;
}
.option > label {
	display: flex;
	padding: 20px;
	align-items: center;
	justify-content: space-between;
	font-size: 18px;
	cursor: pointer;
	flex-wrap: wrap;
}
.option > label > input {
	appearance: none;
	-webkit-appearance: none;
}

.option > label > section {
	flex: 1;
}

.option > label > .shipping-radio {
	min-width: 16px;
	height: 16px;
	box-shadow: 0 0 0 1px black;
	border-radius: 50%;
	margin-right: 15px;
}

.option > label > input:checked + .shipping-radio {
	background: radial-gradient(circle, #65AAFC 40%, #fff 46%, #fff 100%);
}

.shippig-description > p {
	margin-bottom: 5px;
	color: #a39d9d;
}

.shippig-description > p:first-child {
	color: black;
} 

.payment-info {
	margin-top: 15px;
}

.payment-info > h3 {
	margin-bottom: 10px;
}

.instructions-part {
	width: 90%;
	margin: 15px 0;
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #F4F4F4;
	padding: 14px;
	font-size: 14px;
	color: #676969;
}
.instructions-part p {
	margin-bottom: 8px;
}
.payment-info > section a {
	text-decoration: underline;
	display: inline;
}

.politics {
	margin-top: 15px;
	padding: 10px 0;
	border-top: 1px solid #dadada;
	border-bottom: 1px solid #dadada
}

.politics > p {
	margin-bottom: 10px;
	font-size: 17px;
	font-weight: bold;
}

.politics > label {
	display: flex;
	margin-bottom: 20px;
	cursor: pointer;
	user-select: none;
}

.politics > label .politics-checkbox {
	min-width: 20px;
	height: 20px;
	border: 1px solid black;
	position: relative;
}

.politics > label .politics-checkbox::after {
	content: '';
	display: none;
	position: absolute;
	border-bottom: 1px solid black;
	border-right: 1px solid black;
	width: 7px;
	height: 11px;
	transform: rotate(45deg);
	left: 5px;
	top: 1px;
} 

.politics > label > input {
	appearance: none;
	-webkit-appearance: none;
}

.politics > label > input:checked + .politics-checkbox::after {
	display: block;
}

.politics > label > p {
	font-size: 19px;
	margin-left: 10px;
}

.politics > label > p > a {
	display: inline;
	text-decoration: underline;
}

.order_checkout {
	flex: 1;
	max-width: 350px;
	font-size: 17px;
	padding: 10px;
	border:  1px solid #D1D1D1;
	background-color: #fff;
}

.order_checkout.fixed {
	position: fixed;
	left: 51%;
	top: 50px;
}
.payment_details > * {
	margin-bottom: 40px;
}
.sum_payment {
	display: flex;
	justify-content: space-between;
	font-size: 25px;
}

.sum_payment .sum-price {
	font-size: 25px;
	letter-spacing: 1px;
}
.details-part {
	display: flex;
	margin-bottom: 10px;
	justify-content: space-between;
}
.payment_method {
	display: flex;
	flex-direction: column;
}
.payment_method > button {
	margin-bottom: 20px;
	height: 45px;
	border: none;
	color: #fff;
	font-size: 18px;
	background-color: black;
	transition: all .5s ease;
	cursor: pointer;
}

.payment_method > button:disabled {
	background-color: #aaaa;
	cursor: no-drop;
}

.sum_payment div {
	font-size: 18px;
	font-weight: bold;
}
.payment_method > button:hover:not(:disabled) {
	color: #333;
	background-color: #FAE39B;
}
.payment > i {
	margin-right: 5px;
}


@media screen and (max-width: 768px) {
	.order_details {
		flex-direction: column;
	}
	.product_in_cart {
		display: block;
	}
	.order_checkout.fixed {
		position: static;
	}
	.product_in_cart > * {
		margin-bottom: 15px;
	}

	.item_price {
		max-width: 100%;
	}
	.delete_btn_container {
		margin: 10px 0;
		display: flex;
		justify-content: center;
	}
}

@media screen and (max-width: 468px) {
	.return_to_buy {
		flex-direction: column;
	}
	.order_form > form .input > input,
	.order_form > form .input > select {
		width: 100%;
	}
	.city-select {
	width: 100%;
	}
	.shipping-options {
		width: 100%;
	}
	.payment-info {
		width: 100%;
	}
	.shippig-description {
		font-size: 15px;
	}
}