div.modal-window {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-family: Arial;
  font-size: 0.9rem; 
  background-color: #fff;
  z-index: 400;
}
.close-modal {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 2%;
  right: 5%;
  font-size: calc(2vw + 15px);
  color: #181818;
  -webkit-transition: all ease .4s;
  -o-transition: all ease .4s;
  transition: all ease .4s;
  border: none;
  background: none;
  cursor: pointer;
}

.close-modal > img {
  width: 100%;
  height: auto;
}

.close-modal:hover {
  transform: scale(0.95);
}
.authorization-container,
.registration-container {
  margin-top: 120px;
  width: 100%;
  height: auto;
}
.authorization,
.registration {
  max-width: 920px;
  margin: 0 auto;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.modal-window  h1 {
  margin-bottom: 50px;
  font-weight: normal;
  font-size: 3.5rem;
  text-align: center;
}
.reg-form {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;

  padding: 20px 66px;
  border-right: 1px solid #A6A2A2;
}
.reg-form > * {
  margin-bottom: 25px;
}
.reg-form input[type="email"],
.reg-form input[type="text"],
.reg-form input[type="password"]{
  padding: 14px 10px;
  /*max-width: 330px;*/
  border: 1px solid #A6A2A2;
  border-left: 1px solid #000;
}
.reg-form input::-webkit-input-placeholder {
  font-size: 0.9rem; 
}
.reg-form .reg-btn {
  padding: 13px 0;
  /*max-width: 330px;*/
  color: #fff;
  background-color: #000;
  border: 1px solid #000;
  cursor: pointer;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
}
.reg-form .reg-btn:hover {
  color: #000;
  background-color: #fff;
}
.link a {
  display: inline;
  color: #000;
  font-weight: bold;
}
.link a:hover {
  text-decoration: underline;
}
.link {
  text-align: center;
}
.enter-link  {
  max-width: 330px;
}
.enter-link > span {
  font-weight: bold;
  cursor: pointer;
}
/**/
.social-reg {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  /*max-width: 463px;*/
  padding: 20px 66px;
  padding-bottom: 0;
}
.social-reg a {
  /*max-width: 330px;*/
  margin-bottom: 25px;
  padding: 14px 10px;

  text-align: center;
  color: #fff;
}
.social-reg a:hover {
  opacity: .9;
}
.social-reg .facebook {
  border: 1px solid #3B5998;
  background-color: #3B5998; 
}
.social-reg .google {
  border: 1px solid #E53935;
  background-color: #E53935; 
}
.privacy-link {
  margin-top: 50px;
}
.mobile-social-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  display: none;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.mobile-social-container > a {
  margin: 0 30px;
  font-size: 2rem;
  color: #333;
  text-align: center;
}
.mobile-social-container > a.facebook {
  color: #3B5998; 
}
.mobile-social-container > a.google {
  color: #E53935; 
}
/*Модальное окно входа*/

.get-password {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  max-width: 330px;

}
.get-password > div:first-child {
  margin-right: 20px;
  margin-bottom: 10px;
}
.get-password a {
  color: #000;
  font-weight: bold;
}
.save-password {
  position: relative;
  padding-left: 20px;
}
#remember {
  display: none;
}
.save-password::before {
  content: "";
  position: absolute;
  left: 0px;
  display: inline-block;
  border: 1px solid #A6A2A2;
  width: 13px;
  height: 13px;
  cursor: pointer; 
}

#remember:checked + label.save-password::before {
  background-image: url(../img/if_check-mark_511949.png);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: 160% 160%;
  background-size: 160% 160%;
}

.animation {
  -webkit-animation: appearance .5s  linear;
  animation: appearance .8s  linear;
}

@-webkit-keyframes appearance {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes appearance {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media screen and (max-width: 768px) {
  .authorization-container,
  .registration-container {
    margin-top: 50px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .authorization,
  .registration {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;

    /*margin: 0 auto;*/
  }
  .reg-form {
  /*margin: 0 auto;*/
    border: none;
    padding-bottom: 0;

  }
  div.social-reg {
   display: none;
  }
  .mobile-social-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .close-modal {
    width: 32px;
    height: 32px;
  }
}