.shop-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  padding-top: 60px;
  width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;

}

.filter-form-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 0 5px 0 5px;
  flex: 1;
  max-width: 200px;
  min-width: 200px;
  font-family: Futura;
}
.filter-form-container > h2 {
  padding-bottom: 20px;
  font-size: 1.9rem;
  font-weight: 400;
}
.filter-contaner {
  padding-top: 25px;
  border-top: 1px solid #D1D1D1;
}
.filter-material-container {
  border-bottom: 1px solid #D1D1D1;
}
.filter-name {
  margin-bottom: 25px;
  padding-right: 15px;
  display: block;
  position: relative;
  font-size: 1.2rem;
  font-weight: 400;
}

.filter {
  padding-bottom: 20px;
  -webkit-transition: all;
  -o-transition: all;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;

}

.filter-checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
}
.check {
  display: block;
  margin-left: 1.6em;
  margin-bottom: 10px;
  font-family: Futura;
  font-size: 16px;
  color: #333;
  font-weight: 300;
  cursor: pointer;
  transition: opacity .2s linear;
}
.check:hover {
  opacity: .7;
}
.check-box {
  margin-left: -1.6em;
  position: absolute;
  width: 16px;
  height: 16px;
  border: 1px solid #D1D1D1;
}
.filter-checkbox:checked + .check-box {
  border-color: black;
}
.filter-checkbox:checked + .check-box:after {
  content: '';
  margin-left: 4px;
  display: block;
  position: absolute;
  width: 5px;
  height: 9px;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  transform: rotate(45deg);
}

.filter-collection-toggle input[type="radio"] {
  display: none;
}
.filter-collection-toggle input[type="radio"]:checked + * {
  font-weight: bold;
}
.collection-label {
  font-family: Futura;
  font-size: 16px;
  text-transform: capitalize;
  color: #333;
  font-weight: 300;
  cursor: pointer;
}
.collection-label:hover {
  opacity: .8;
}
.shop-window-container {
  flex: 1;
  padding-top: 60px;
  max-width: 1000px;
  margin-left: 30px;
  margin-bottom: 40px;
  position: relative;
}
.shop-window-container > h1 {
  margin-top: 30px;
  padding-left: 20%;
  font-size: 2.2rem;
  font-weight: normal;
  letter-spacing: 8px;
  text-transform: uppercase;


}
.sort-select {
  position: absolute;
  top: 0;
  right: 0;
  font-family: Futura;
}

.sort > .vs__dropdown-toggle {
  border-radius: 0px;
  border-color: black;
}


.product-showcase {
  display: grid;
  grid-template-columns:repeat(auto-fill, minmax(300px, 300px));
  grid-template-rows: 350px;
  grid-gap: 10px;
  justify-content: center;
  transition: all linear .2s;

}
.product-showcase .product-cart:last-child {
  margin-right: auto;
}
.product-cart {
  max-width: 300px;
  height: auto;
  font-family: Futura;
  /*height: auto;*/
}

.product-image > div {
  width: 300px;
  height: 100%;

}
.product-description {
  text-align: center;
  font-weight: normal;
}
.product-description > .product-name {
  color: black;
  font-weight: bold;
  font-family: Futura;
  font-size: 18px;

}
.product-category {
  font-size: 14px;
}
.product-price {
  padding-top: 5px;
  text-align: center;
  font-size: 16px;
  font-family: Futura;
}
.close-filter {
  display: none;
}
@media screen and (max-width: 600px) {
  .shop-container {
    flex-direction: column;
    padding: 30px 0;
  }
  .filter-form-container {
    display: none;
  }
  .filter-form-container.mobile {
    display: block;
    position: fixed;
    max-width: 100%;
    top: 0;
    left: 0;
    right: 0;
    max-height: 100vh;
    background-color: #fff;
    z-index: 301;
    overflow-y: scroll;
  }

  .filter-form-container.mobile > .filter-form  {
    width: 90%;
  }
  div.sort-select {
    left: 0px;
  }
  .shop-window-container {
    margin: 0 auto;
  }

  .filter-form-container > h2 {
    font-size: 20px;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .close-filter {
    display: block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    cursor: pointer;
  }
  .close-filter > img {
    width: 100%;
    height: 100%;
  }
}