.slider-box .slick-dots li button:before {
  content: '';
  width: 6px;
  height: 6px;
  background-color: #aaa;
  opacity: 1;
}
.slider-box  .slick-dots li.slick-active button:before {
  background-color: #333;
  opacity: 1;
}

.target_slider   .prewBtn, .target_slider .nextBtn {
  position: absolute;
  background: none;
  border: none;
  width: 25px;
  height: 25px;
  font-size: 1.4rem;
  color: #333;
  font-weight: lighter;
  text-align: center;
  display: flex;
  justify-content: center;
  top: 50%;
  z-index: 100;
  display: flex;
  cursor: pointer;
  background-color: #aaa;
  opacity: .8; 
  -webkit-transition: .2s; 
  -o-transition: .2s; 
  transition: .2s;
  text-shadow: none;
}
.target_slider   .prewBtn > span {
  margin-top: -5px;
}
.target_slider   .nextBtn > span {
  margin-top: -5px;
}
.target_slider  .prewBtn {
  left: 10px;
}
.target_slider  .nextBtn {
  right: 10px;
}
.target_slider  .prewBtn:hover,
.target_slider  .nextBtn:hover {
  opacity: .6;
}

.slider_box  .dots_container {
  position: absolute;
  bottom: 60px;
  left: 50%;
  width: 100px;
  height: 20px;
} 