.vanilla-zoom {
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
}

.vanilla-zoom .sidebar {
    flex-basis: 30%;
    display: flex;
    flex-wrap: wrap;
}

.vanilla-zoom .sidebar img.small-preview{
    width: 100%;
    max-width: 150px;
    border: 1px solid #bababa;
    margin-bottom: 5px;
    cursor: pointer;
}

.vanilla-zoom .sidebar img.small-preview:last-child{
    margin-bottom: 0;
}

.vanilla-zoom .zoomed-image {
    flex: 1;  
    background-repeat: no-repeat;
    background-position: center; 
    background-size: cover;
    margin-left: 5px;
}

@media (max-width: 768px) {
  .vanilla-zoom .sidebar {
    flex: 1;
  }

  .vanilla-zoom .sidebar img.small-preview {
    cursor: auto;
    margin-bottom: 12px;
  }

  .vanilla-zoom .zoomed-image {
    display: none;
  }
}
