<template>
<div class="catalog" v-if="!loading">
  	<div class=pdf-body >
    <div class='control'>
      <button @click="prevPage" >Назад</button>
      <span>
        {{currentPage}} / {{pageCount}}
      </span>  
      
      <button @click="nextPage">Вперед</button>
    </div>
		
		<pdf
			:src="src"
      ref="myPdfComponent" 
			@num-pages="pageCount = $event"
			@page-loaded="currentPage = $event"
      :page="currentPage"
      @loaded="showLoad"      
		></pdf>
	</div>
  <div class='catalog-image'></div>
</div>
  <div v-else>
    <loader></loader>
  </div>
</template>

<script>
import pdf from 'vue-pdf'
import Loader from './Loader';

const loadingTask = pdf.createLoadingTask(
  "/images/pdf/katalog.pdf"
);


export default {
	components: {
    pdf,
    'loader':Loader
	},
	data() {
		return {
			currentPage: 1,
      pageCount: 0,
      src: loadingTask,
      loading: false     
		}
  },
  methods: {
    nextPage () {
      if(this.currentPage >= this.pageCount) {
        return
      }
      this.currentPage++;
    },
    prevPage () {
      if(this.currentPage <= 1) {
        return
      }
      this.currentPage--;
    }
  },
    mounted() {
    this.loading = true;
    this.src.then(pdf => {
      this.numPages = pdf.numPages;
      this.loading = false;
    });
  }
}
</script>

<style scoped lang='scss'>
.catalog {
  display: flex;
  max-width: 1080px;
  margin: 0 auto;
  margin-bottom: 40px;
}
.catalog-image {
  background-image: url('/images/catalog/catalog.jpg');
  width: 40%;
  background-repeat: no-repeat;
  background-size: cover;
}
.pdf-body {
  width: 60%;
  background: #fff;
  .control {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    padding-top: 10px;
    > * {
      margin: 0 20px;
      width: 60px;
      height: 35px;
      line-height: 35px;
      background: #fff;
      text-align: center;
      border-radius: 20px;
      border: 1px solid #bababa;
      font-family: Arial;
      font-size: 14px;
    }
    > button {
      cursor: pointer;
      transition: all .2s linear;
      width: 75px;
      &:hover {
        background-color: rgba($color: #000000, $alpha: 0.1);
      }
    }
  }
}
@media screen and (max-width: 480px) {
  .catalog {
    flex-direction: column;
    > * {
      width: 100%;
    }
    .catalog-image {
      order: 1;
      height: 400px;
    }
  }
}
</style>