<template>
    <text x="58.5" y="77" dy=".35em" text-anchor="middle" class="_1INsc" data-hook="items-count" fill="black">
        {{cartCount}}
    </text>
</template>

<script>
    export default {
        computed: {
            cartCount: function () {
                return this.$store.state.count;
            },
        }
    }
</script>

<style>
    .shopping-count {
        font-size: 12px;
    }
</style>