<template>
  <div class="row-container shop-container" itemscope itemtype="http://schema.org/Store">
    <transition name="slide-fade">
      <div
        class="filter-form-container"
        v-bind:class="{ mobile: modalFilter}"
      >
        <h2>
          Выбрать украшение
          <span class="close-filter">
            <img
              src="/images/icon/close.svg"
              alt="Закрыть"
              @click="() => {modalFilter = false}"
            >
          </span>
        </h2>
        <div class="filter-form">
          <form name="filter">
            <div class="filter-collection filter-contaner">
              <h3 class="filter-name">Коллекция</h3>
              <div class="filter-collection-toggle filter">
                <div>
                  <input
                    type="radio"
                    v-model="collection"
                    value=""
                    id="allCollection"
                  >
                  <label
                    for="allCollection"
                    class="collection-label"
                  >Все</label>
                </div>
                <div
                  v-for="collect in collections"
                  v-bind:key="collect.name"
                >
                  <input
                    type="radio"
                    v-model="collection"
                    v-bind:id="collect.name"
                    v-bind:value="collect.name.toLowerCase()"
                  >
                  <label
                    v-bind:for="collect.name"
                    class="collection-label"
                  >{{collect.name}}</label>
                </div>
              </div>
            </div>
            <div class="filter-price-container filter-contaner">
              <h3 class="filter-name">Цена</h3>
              <div class="filter-price filter">
                <vue-slider
                  v-model="rangePrice"
                  :enable-cross="false"
                  :tooltip-formatter="formatter2"
                  :max="max"
                  :min="min"
                ></vue-slider>
                <div class="price-container">
                  <div class="price min-price">{{rangePrice[0]}},00 руб.</div>
                  <div class="price max-price">{{rangePrice[1]}},00 руб.</div>
                </div>
              </div>
            </div>
            <div class="filter-category-container filter-contaner">
              <h3 class="filter-name">Категория украшений</h3>
              <div class="filter-category filter">
                <div
                  v-for="categor in categories"
                  v-bind:key="categor.name"
                >
                  <label class="check">
                    <input
                      type="checkbox"
                      v-bind:id="categor.name"
                      v-model="category"
                      v-bind:value="categor.id"
                      class="filter-checkbox"
                    >
                    <span
                      class="check-box"
                      style="text-transform: capitalize"
                    ></span>
                    {{categor.name}}
                  </label>
                </div>
              </div>
            </div>
            <div class="filter-material-container filter-contaner">
              <h3 class="filter-name">Материал</h3>
              <div class="filter-material filter">
                <div
                  v-for="metal in metals"
                  v-bind:key="metal.tag"
                >
                  <label
                    class="check"
                    :for="metal.tag"
                  >
                    <input
                      type="checkbox"
                      v-model="material"
                      :value="metal.id"
                      class="filter-checkbox"
                      :id="metal.tag"
                    >
                    <span class="check-box"></span>
                    {{metal.name}}
                  </label>
                </div>
                <div
                  v-for="ins in insertions"
                  v-bind:key="ins.tag"
                >
                  <label
                    class="check"
                    :for="ins.tag"
                  >
                    <input
                      type="checkbox"
                      v-model="insertion"
                      :value="ins.id"
                      class="filter-checkbox"
                      :id="ins.tag"
                    >
                    <span class="check-box"></span>
                    {{ins.name}}
                  </label>
                </div>
                <div>
                  <label
                    class="check"
                    for="has_stone"
                  >
                    <input
                      type="checkbox"
                      v-model="hasStone"
                      class="filter-checkbox"
                      id="has_stone"
                    >
                    <span class="check-box"></span>
                    Со сменными камнями
                  </label>
                </div>
              </div>
            </div>
            <div class="filter-collection filter-contaner">
              <h3 class="filter-name">Поводы для покупки</h3>
              <div class="filter-material filter">
                <div
                  v-for="target in targets"
                  v-bind:key="target.tag"
                >
                  <label
                    class="check"
                    :for="target.tag"
                  >
                    <input
                      type="checkbox"
                      v-model="toWhom"
                      :value="target.tag"
                      class="filter-checkbox"
                      :id="target.tag"
                    >
                    <span class="check-box"></span>
                    {{target.name}}
                  </label>
                </div>
              </div>
            </div>
            <div>
              <button
                class="reset-btn"
                @click.prevent="reset"
              >Сбросить фильтры</button>
            </div>
          </form>
        </div>
      </div>
    </transition>
    <div class="shop-window-container" itemscope  itemtype="http://schema.org/Store">
      <div class="sort-select">
        <v-select
          :options="options"
          v-model="sort"
          :reduce="opt => opt.value"
          :clearable="false"
          class='sort'
          :searchable="false"
        ></v-select>
      </div>
      <span
        class="filter_btn"
        @click="() => {modalFilter = !modalFilter}"
      >
        <img
          src="/images/icon/filter.svg"
          alt
        >
      </span>
      <!-- <div
        class="product-showcase"
        v-if="!isLoad"
      > -->
      <transition-group
        name="flip-list"
        tag="div"
        class="product-showcase"
        v-if="!isLoad"
      >
        <div
          itemscope itemtype="http://schema.org/Product"
          class="product-cart"
          v-for="product in items"
          v-bind:key="product.id"
        >
          <a v-bind:href="'/store/product/' + product.id">
            <div
              class="product-image"
              v-if="product.images.length > 1"
            >
              <div
                class="gold-img"
                v-bind:style="{ backgroundImage: 'url('+ '/' + product.images[0].path + ')' }"
              ></div>
              <div
                class="white-gold-img"
                v-bind:style="{ backgroundImage: 'url('+ '/' + product.images[1].path + ')' }"
              ></div>
            </div>
            <div
              v-else
              class="product-image"
            >
              <div
                class="gold-img"
                v-bind:style="{ backgroundImage: 'url('+ '/' + product.images[0].path + ')' }"
              ></div>
              <div
                class="white-gold-img"
                v-bind:style="{ backgroundImage: 'url('+ '/' + product.images[0].path + ')' }"
              ></div>
            </div>
            <h3 class="product-description">
              <span
                class="product-name"
                id="productName"
              >{{product.name}}</span>
            </h3>
            <span class="line"></span>
            <p class="product-price">
              <span itemprop="price" id="productPrice">{{addSpace(product.price)}}
              <meta itemprop="priceCurrency" content="RUB">                
              </span> руб.
            </p>
          </a>
        </div>
      </transition-group>
      <!-- </div> -->
      <div
        v-if="!items[0]"
        class="empty-card"
      >Нет товаров, соответствующих вашим критериям. Попробуйте расширить критерии поиска.
      </div>
    </div>
  </div>
</template>

<script>
import VueSlider from "vue-slider-component";
import "vue-slider-component/theme/default.css";
import vSelect from "vue-select";
import "vue-select/dist/vue-select.css";

export default {
  props: [
    "products",
    "categories",
    "collections",
    "filters",
    "metals",
    "targets",
    "insertions"
  ],
  components: {
    VueSlider,
    "v-select": vSelect
  },
  data: function() {
    return {
      modalFilter: false,
      product: [],
      material: [],
      category: [],
      collection: null,
      hasStone: null,
      insertion: [],
      toWhom: [],
      price: null,
      isLoad: false,
      sort: "all",
      rangePrice: [100, 1000],
      min: 100,
      max: 1000,
      formatter2: v => `${("" + v).replace(/\B(?=(\d{3})+(?!\d))/g, " ")} руб.`,
      options: [
        { label: "Сортировка", value: "all" },
        { label: "Новейшие", value: "new" },
        { label: "Артикул", value: "vendor" },
        { label: "Цена (низкая - высокая)", value: "min" },
        { label: "Цена (высокая - низкая)", value: "max" },
        { label: "Название А-Я", value: "name_first" },
        { label: "Название Я-А", value: "name_last" }
      ]
    };
  },
  computed: {
    items: {
      get: function() {
        return this.product
          .filter(item => {
            return (
              (this.category.length === 0 ||
                this.category.includes(item.category.id)) &&
              (!this.rangePrice[0] || item.price >= this.rangePrice[0]) &&
              (!this.rangePrice[1] || item.price <= this.rangePrice[1]) &&
              (!this.collection ||
                item.collections.map(c => c.name.toLowerCase()).includes(this.collection)) &&
              (!this.hasStone || (item.property && item.property.has_stone)) &&
              (this.toWhom.length === 0 ||
                (item.property &&
                  item.property.targets.some(t => this.toWhom.includes(t.tag)))) &&
              (this.insertion.length === 0 ||
                (item.property &&
                  item.property.insertions.some(i => this.insertion.includes(i.id)))) &&
              (this.material.length === 0 ||
                (item.property &&
                  this.material.includes(item.property.material_id)))
            );
          })
          .sort((a, b) => {
            switch (this.sort) {
              case "min":
                return a.price - b.price;
              case "max":
                return b.price - a.price;
              case "new":
                return a.id - b.id;
              case "name_first":
                if (a.name < b.name) return -1;
                if (a.name > b.name) return 1;
                return 0;
              case "name_last":
                if (a.name > b.name) return -1;
                if (a.name < b.name) return 1;
                return 0;
              case "vendor":
                if (!a.vendor) return 1;
                if (!b.vendor) return -1;
                if (a.vendor < b.vendor) return -1;
                if (a.vendor > b.vendor) return 1;
              default:
                return this.product;
            }
          });
      },

      set: function(val) {
        return (this.product = val);
      }
    }
  },
  methods: {
    filter() {
      this.isLoad = true;
      const params = {
        material: this.material,
        category: this.category,
        collection: this.collection,
        hasStone: this.hasStone
      };
      axios
        .get("/store", {
          params
        })
        .then(response => {
          this.items = response.data;
          this.isLoad = false;
        })
        .catch(error => {
          this.isLoad = false;
        });
    },
    addSpace(price) {
      const stringPrice = String(price);
      return stringPrice.replace(/(\d)(?=(\d{3})+(\D|$))/g, "$1 ");
    },
    fetch() {
      this.product = this.products;
    },
    getCoords(elem) {
      let box = elem.getBoundingClientRect();
      return {
        top: box.top + window.pageYOffset,
        left: box.left + window.pageXOffset
      };
    },
    reset() {
      this.collection = null;
      this.category = [];
      this.material = [];
      this.insertion = [];
      this.toWhom = [];
      this.rangePrice = [this.min, this.max];
      this.hasStone = null;
    },
  },
  created () {
    this.fetch();
    let price = this.product.map(item => {
      return item.price;
    });
    let maxPrice = Math.max(...price);
    let minPrice = Math.min(...price);
    this.min = minPrice;
    this.max = maxPrice;
    this.rangePrice = [minPrice, maxPrice];

  },

  mounted() {
    // insertion
    // 2 - брилианты
    // 3 - лунные камни
    const { material, collection, category, has_stone, target, insertion } = this.filters;
    this.material = material ? [material] : [];
    this.collection = collection || null;
    this.category = category ? [Number(category)] : [];
    this.hasStone = has_stone ? Number(has_stone) : null;
    this.toWhom = target ? [target] : [];
    this.insertion = insertion ? [Number(insertion)] : [];
  }
};
</script>

<style scoped lang="scss">
.flip-list-move {
  transition: transform 0.5s;
}
.flip-list-item {
  display: inline-block;
  margin-right: 10px;
}
.flip-list-enter-active,
.flip-list-leave-active {
  transition: all 0.5s;
}
.flip-list-enter,
.flip-list-leave-to {
  opacity: 0;
  transform: translateY(30px);
}
.vue-slider-dot-tooltip-inner {
  border-color: #333;
  background-color: #333;
}

.empty-card {
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
  font-family: Arial;
  font-weight: 400;
}

.price {
  font-family: Montserrat;
  font-size: 12px;
  color: #333;
  user-select: none;
}

.reset-btn {
  margin-top: 15px;
  padding: 15px 0 25px;
  font-size: 12px;
  background: none;
  border: none;
  font-family: Montserrat;
  cursor: pointer;
}

.reset-btn:hover {
  opacity: 0.8;
}

.sort-select {
  width: 230px;
  height: 32px;
  border-radius: 0px;
  border: none;
  background-color: #fff;
  font-family: Futura;
  font-size: 16px;
}

.sort-select-body {
  box-shadow: 0 0 0 1px #333;
  height: 32px;
}

.product-image {
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  position: relative;
  .white-gold-img,
  .gold-img {
    background-position: center center;
    background-repeat: no-repeat;
    background-color: white;
    transition: all ease-out 0.3s;
    background-size: contain;
  }
  &:hover .white-gold-img {
    opacity: 1;
  }
  &:hover .gold-img {
    opacity: 0;
  }
}

.gold-img {
  position: absolute;
  transition: opacity 0.4s;
}

.price-container {
  width: 100%;
  min-width: 200px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  .price {
    margin-bottom: 10px;
    &.max-price {
      text-align: right;
    }
  }
}

.filter_btn {
  position: absolute;
  cursor: pointer;
  top: 0;
  right: 10px;
  display: none;
  > img {
    width: 30px;
    height: 30px;
  }
}

.filter-price {
  width: 90%;
  margin: 0 auto;
}

.slide-fade-enter-active {
  transition: all 0.3s ease;
}

.slide-fade-leave-active {
  transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter, .slide-fade-leave-to
    /* .slide-fade-leave-active до версии 2.1.8 */
 {
  transform: translateX(10px);
  opacity: 0;
}
.line {
  width: 45px;
  display: block;
  height: 1px;
  margin: 8px auto;
  margin-bottom: 3px;
  background-color: #333;
}
// Селект
$vs-border-radius: 0px;

@media screen and (max-width: 600px) {
  .filter_btn {
    display: block;
  }
}
</style>

