<template>
  <div v-if="!loading" class='instructions'>
    <pdf
      v-for="i in numPages"
      :key="i"
      :src="src"
      :page="i"
    ></pdf>
  </div>
  <div v-else>
    <loader></loader>
  </div>
</template>

<script>
import pdf from "vue-pdf";
import Loader from './Loader';

const loadingTask = pdf.createLoadingTask(
  "/images/pdf/instructions.pdf"
);

export default {
  components: {
    pdf,
    'loader':Loader
  },
  data() {
    return {
      src: loadingTask,
      numPages: undefined,
      loading: false
    };
  },
  mounted() {
    this.loading = true;
    this.src.then(pdf => {
      this.numPages = pdf.numPages;
      this.loading = false;
    });
  }
};
</script>
<style lang="scss">
  .instructions {
    max-width: 880px;
    margin: 0 auto;
  }
</style>
