<template>
    <div class='instagram-gallery' v-if="posts">
        <div class="instagram-photo" v-for="post in posts">
            <a v-bind:href="post.link" target="_blank">
                <img v-bind:src="post.images.standard_resolution.url" alt="">
                <div class="description-photo">
                    <p>{{post.caption && post.caption.text}}</p>
                    <p>
                <span class="photo-likes">
                   <img src="/img/icon/like.svg"/>
                    {{post.likes.count}}
                </span>
                        <span class="photo-comments">
                   <img src="/img/icon/comment.svg"/>
                    {{post.comments.count}}
                </span>
                    </p>
                </div>
            </a>
        </div>
    </div>
    <div v-else>
        Loading...
    </div>
</template>

<script>
    import fetchJsonp from 'fetch-jsonp'

    export default {
        name: "Instagram",
        data() {
            return {
                posts: null,
           }
        },
        computed: {

        },
        methods: {
            getPhoto() {
                const token = '580879321.d185006.d4619064c6f445babe23813e64a3080d';
                fetchJsonp(`https://api.instagram.com/v1/users/self/media/recent/?access_token=${token}`)
                    .then((response) => {
                        return response.json()
                    }).then((json) => {
                    console.log(json.data);
                    this.posts = json.data;
                    }).catch((ex) => {
                    console.log('parsing failed', ex)
                    })
            }
        },
        mounted () {
            this.getPhoto();

        }
    }

</script>

<style lang='scss'>
    .instagram-gallery {
        margin: 0 auto;
        display: grid;
        max-width: 980px;
        grid-gap: 0;
        grid-template-columns: repeat(auto-fill, 196px);
        grid-template-rows: 196px;
        grid-auto-rows: 196px;
        background: transparent;
        justify-content: center;
    }

    .instagram-photo {
        background-color: #2E2D2D;
        position: relative;
        cursor: pointer;
        img {
            width: 100%;
            height: auto;
        }
        .description-photo {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            display: flex;
            flex-direction: column;
            opacity: 0;
            background-color: rgba(0,0,0,0.5);
            transition: all .2s linear;

            >p{
                flex: 1;
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                color: #fff;
                font-family: Rubik;
                font-size: 12px;
                .photo-likes,
                .photo-comments{
                    font-size: 16px;
                    font-weight: 300;
                    >img {
                        width: 16px;
                    }
                }
                .photo-likes {
                    margin-right: 10px;
                }
            }
        }
        &:hover .description-photo {
            opacity: 1;
        }
    }
</style>
