<template>
    <div class="form-container">
        <h1>Оформление заказа</h1>
        <form>
            <div class="form-block">
                <label>Ваше имя</label>
                <input type="text" v-model="name" required/>
            </div>
            <div class="form-block">
                <label>Ваш email</label>
                <input type="email"  v-model="email" required/>
            </div>
            <div class="form-block">
                <label>Ваш номер телефона</label>
                <input type="tel" v-model="phone" required/>
            </div>
            <div class="form-block">
                <label>Выберите способ получения товара</label>
                <div>
                    <select>
                        <option value="true">Доставка</option>
                        <option value="false">Самовывоз</option>
                    </select>
                </div>
            </div >
            <div class="form-block">
                <textarea v-model="comment">

                </textarea>
            </div>
            <button type="submit" class="order-btn" @click.prevent="sendOrderInfo">Оформить заказ</button>
        </form>
    </div>
</template>

<script>
    export default {
        data: function () {
            return {
                name: null,
                email: null,
                phone: null,
                comment: null,
                loading: false
            }
        },
        methods: {
            sendOrderInfo() {
                this.isLoad = true;
                let cart  = JSON.parse(localStorage.getItem("cart"));
                let products = cart.map( (item)=> {
                    return item.id
                });
                console.log(products);
                axios.post('/store/order', {
                    name: this.name,
                    email:this.email,
                    phone: this.phone,
                    comment: this.comment,
                    products: products
                })
                    .then( response => {
                        this.isLoad = false;
                    })
                    .catch( (error) => {
                        console.log(error)
                    })
            }
        }
    }
</script>

<style scoped>
    .form-container {
        width: 100%;
        max-width: 400px;
        padding: 30px;
    }
    .form-container > h1 {
        font-size: 25px;
        font-family: Garamond;

    }
    .form-block {
        width: 100%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: auto;
        margin-bottom: 15px;
    }
    .form-block > textarea {
        padding: 6px;
        resize: none;
        height: 100px;
    }
    .form-block select, input {
        width: 100%;
        padding: 6px;
        border: 1px solid #aaaaaa;
    }
    .form-block select:hover, input:hover {
        border: 1px solid #333;
    }
    .order-btn {
        width: 100%;
        margin: auto;
        border: none;
        cursor: pointer;
    }
</style>