<template>
  <section>
    <div class='sk-three-bounce_1'>
      <div class='sk-bounce-1 sk-child'></div>
      <div class='sk-bounce-2 sk-child'></div>
      <div class='sk-bounce-3 sk-child'></div>
    </div>
    <p class="text_loader">Пожалйуста, подождите...</p>
  </section>
</template>
<script>
  export default {
    name: "PreLoader"
  }
</script>


<style lang="scss">
  $spinkit-size: 5em !default;
  $spinkit-spinner-color: #333 !default;
  .sk-three-bounce_1 {
    $animationDuration: 1.4s;
    $delayRange: 0.32s;
    width: ($spinkit-size * 2);
    margin: auto;
    text-align: center;

    .sk-child {
      width: ($spinkit-size / 2);
      height: ($spinkit-size / 2);
      background-color: $spinkit-spinner-color;

      border-radius: 100%;
      display: inline-block;
      animation: sk-three-bounce $animationDuration ease-in-out 0s infinite both;
    }

    .sk-bounce-1 {
      animation-delay: -$delayRange;
    }
    .sk-bounce-2 {
      animation-delay: (-$delayRange / 2);
    }
  }
  .text_loader {
    text-align: center;
    font-size: 23px;
  }

  @keyframes sk-three-bounce {
    0%, 80%, 100% {
      transform: scale(0);
    }
    40% {
      transform: scale(1.0);
    }
  }
</style>
