<template>
  <div>
    <div class="product-gallery">
      <div
        class="zoomer"
        v-on:mousemove="moveBG"
      >
        <div
          class="img normal"
          v-bind:style="{ backgroundImage: 'url('+ '/' + mainImage + ')' }"
        ></div>
        <div
          class="img zoom"
          v-bind:style="{ backgroundImage: 'url('+ '/' + mainImage + ')' }"
        ></div>
      </div>
      <div
        class="image-gallery"
        v-if="images.length >= 2"
      >
        <div
          v-for="(image, index) in images"
          class="small-image"
          v-bind:class="{ zoomed: image == activeImage}"
          v-on:click="checkActive(image)"
          v-bind:key="index"
          v-bind:style="{ backgroundImage: 'url('+ '/' +  image.path + ')' }"
        >
        </div>
      </div>
    </div>
    <div class="mobile-product-gallery">
      <slider-mobile v-bind:images="this.images"></slider-mobile>
    </div>
  </div>
</template>


<script>
export default {
  name: "ProductGallery",
  props: ["images", "activeImage", "changeImage"],
  computed: {
    mainImage() {
      return this.activeImage.path;
    }
  },
  methods: {
    checkActive(image) {
      this.changeImage(image);
    },
    moveBG: function(ev) {
      let imgZoom = document.querySelector(".zoom");
      const container = document.querySelector(".zoomer");

      let e = {
        w: imgZoom.offsetWidth,
        h: imgZoom.offsetHeight
      };

      let c = {
        x: Math.round(
          (ev.clientX - (container.offsetLeft - window.scrollX)) / (e.w / 100)
        ),
        y: Math.round(
          (ev.clientY - (container.offsetTop - window.scrollY)) / (e.h / 100)
        )
      };
      imgZoom.style.backgroundPosition = c.x + "% " + c.y + "%";
    }
  }
};
</script>

<style lang="scss">
.product-gallery {
  width: 100%;
  max-width: 500px;
  height: 500px;
  .zoomer {
    position: relative;
    width: 100%;
    height: 80%;
    border: 0;
    overflow: hidden;
    max-width: 100%;
    max-height: 100%;
    transition: all 0.5s ease-out;

    &:hover {
      // border-radius: 50%;
      cursor: move;
      .normal {
        opacity: 0;
        transform: scale(1.3);
      }
      .plus {
        opacity: 0;
        transform: scale(0.8);
      }
    }
  }

  .img {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: white;
    transition: all ease-out 0.3s;
  }

  .normal {
    z-index: 20;
    background-size: 100%;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
  }

  img.normal {
    opacity: 0;
    width: 100%;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
  }

  .zoom {
    z-index: 10;
    transition: none;
    background-size: 150%;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
  }

  .plus {
    position: absolute;
    transition: all ease-out 0.4s;
    width: 60px;
    height: 60px;
    z-index: 30;
    left: calc(50% - 30px);
    top: calc(50% - 30px);
  }
  .image-gallery {
    padding: 5px;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: flex-start;
    .small-image {
      width: 60px;
      height: 60px;
      margin-right: 5px;
      transition: all 0.3s ease;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
    }
    .zoomed {
      box-shadow: 0px 0px 0px 2px #aaaaaa;
    }
  }
}
.mobile-product-gallery {
  height: 300px;
  width: 300px;
  display: none;
}
@media screen and (max-width: 600px) {
  .product-gallery {
    display: none;
  }
  .mobile-product-gallery {
    display: block;
    margin: 0 auto;
    height: 300px;
    width: 300px;
  }
  .product-card-description {
    margin-right: 0;
  }
}
</style>