<template>
  <div class="container product-card-container"  itemscope itemtype="http://schema.org/Product">
    <div class="row-container nav-container">
      <div class="way row-container">
        <a href="/">Главная</a>
        <span>/</span>
        <a href="/store">Магазин</a>
        <span>/</span>
        <span class="product-name">{{product.name}}</span>
      </div>
      <div class="navigation-arrows row-container"></div>
    </div>
    <div class="product-card">
      <div class="product-card-description">
        <div class="product-card-image">
          <gallery
            v-bind:images="images"
            v-bind:activeImage="activeImage"
            v-bind:changeImage="changeImage"
          ></gallery>
        </div>
        <div class="selected-stones">
          <transition-group
            name="list"
            tag="div"
          >
            <div
              v-for="(stone) in this.stoneSelect"
              v-bind:key="stone.name"
              class="selected-stone"
              :style="{backgroundImage: `url(/${stone.images[0].path})`}"
            >
            </div>
          </transition-group>
        </div>
        <div class="prew-product-image"></div>
        <div class="description-product">
          <span v-html="product.description"></span>
        </div>
      </div>
      <div class="product-header">
        <h2 class="product-name">
          {{product.name}}
        </h2>
        <div class="price">
          <b><span>{{addSpace(finalPrice)}}</span>
            руб.</b>
        </div>
      </div>
      <div class="selection-form-container">
        <form
          class="selection-form"
          id="productForm"
        >
          <div v-if="property[0]">
            <label>
              Материал
              <span id="material">{{this.productMaterial ? ': ' + this.productMaterial : null}}</span>
            </label>
            <div style="position: relative;">
              <div class="material-container">
                <div
                  v-for="(material) in materials"
                  :key="material.id"
                >
                  <input
                    type="radio"
                    v-model="productMaterial"
                    :value="material.name"
                    :id="material.name"
                    class="material-input"
                  >
                  <label
                    :for="material.name"
                    class="material"
                    :style="material.color"
                    :title="material.name"
                    @click="changeImage(material.image)"
                  ></label>
                </div>
              </div>
              <div
                class="form-error"
                v-if="!this.productMaterial && this.isError"
              >Выберите материал</div>
            </div>
            <label>Проба золота</label>
            <div class="gold-сontent">
              <input
                type="radio"
                v-model="goldСontent"
                value="585"
                id="gold585"
              >
              <label for="gold585">585</label>
              <input
                type="radio"
                v-model="goldСontent"
                value="750"
                id="gold750"
              >
              <label for="gold750">750</label>
              <div
                class="form-error"
                v-if="!this.goldСontent && this.isError"
              >Выберите пробу золота</div>
            </div>
          </div>

          <div v-if="property[0]">
            <div
              class="select-container"
              v-if="property[0].has_stone"
            >
              <label>
                Сменные камни
              </label>
              <div class="stone-container">
                <hooper
                  :itemsToShow="3"
                  pagination="no"
                  class="stone-select-slider"
                >
                  <slide
                    v-for="(stone, index) in stones"
                    :key="stone.id"
                     :index="index"
                  >
                    <div class="stone-select">
                      <input
                        type="checkbox"
                        v-bind:id="stone.id"
                        v-bind:data-path="stone.images[0].path"
                        v-model="stoneSelect"
                        v-bind:value="stone"
                        @click="selectStone"
                      >
                      <label
                        class="stone"
                        v-bind:for="stone.id"
                        :style="{backgroundImage: `url(/${stone.images[0].path})`}"
                      >
                      </label>
                    </div>
                  </slide>
                  <hooper-navigation slot="hooper-addons"></hooper-navigation>
                </hooper>
              </div>
              <div
                class="form-error"
                v-if="this.stoneSelect.length === 0 && this.isError"
              >Выберите сменные камни</div>
            </div>

            <div
              class="select-container"
              v-if="product.category.tag === constants.RING_CATEGORY"
            >
              <label>Размер <small>(от 15 до 22)</small>
                <v-popover
                  offset=10
                  placement='auto'
                  class='size-info'
                  popoverClass="size-message"
                >
                  <i class="fas fa-info-circle info-btn"></i>
                  <template slot="popover">
                    <span>Посмотрите наши <a
                        class="inst-link"
                        href="/instructions"
                      >инструкции</a>, что бы точнее определить размер кольца
                    </span>
                  </template>
                </v-popover>
              </label>
              <div class="size-block">
                <input
                  class="size"
                  v-model="size"
                  type="text"
                  v-mask="'99.90'"
                  placeholder="Напирмер: 16.50"
                >
              </div>
              <div
                class="form-error"
                v-if="!this.size && this.isError || this.sizeError"
              >
                {{this.sizeError || 'Выберите размер'}}
              </div>
            </div>
          </div>
          <div>
            <button
              class="add-btn"
              :disabled="this.isLoading"
              @click.prevent="addToCart"
            >Добавить в заказ </button>
          </div>
        </form>
      </div>
    </div>
    <h3
      class="similar"
      v-if="sameproducts.length"
    >Похожие товары:</h3>
    <div
      class="similar-goods"
      v-if="sameproducts.length"
    >
      <div
        class="good"
        v-for="sameproduct in sameproducts"
        :key="sameproduct.id"
      >
        <a v-bind:href="'/store/product/' + sameproduct.id">
          <div class="good-img">
            <img v-bind:src="'/' + sameproduct.images[0].path">
          </div>
          <p class="good-name">{{sameproduct.name}}</p>
        </a>
      </div>
    </div>
  </div>
</template>

<script>
import { categoryConstants, STONE_PRICE } from "../constants";
import { Hooper, Slide, Navigation as HooperNavigation } from "hooper";

export default {
  components: {
    Hooper,
    Slide,
    HooperNavigation
  },
  props: ["product", "stones", "sameproducts", "images", "property"],
  data: function() {
    return {
      isLoading: false,
      constants: categoryConstants,
      productMaterial: null,
      goldСontent: null,
      stoneSelect: [],
      size: 15.5,
      quantity: 1,
      message: null,
      isError: false,
      sizeError: "",
      materials: [],
      activeImage: this.images[0]
    };
  },
  computed: {
    thumbs() {
      return this.product.images.map((image, index) => {
        return { id: index, url: "/" + image.path };
      });
    },
    productPrice() {
      return this.goldСontent === "750"
        ? Number(this.product.max_price)
        : Number(this.product.price);
    },
    finalPrice() {
      let price =
        this.productPrice +
        this.stoneSelect
          .map(stone => Number(stone.price))
          .reduce((sum, price, index) => {
            if (index === 0) {
              price = price - STONE_PRICE;
            }
            return sum + price;
          }, 0);
      return price;
    }
  },
  methods: {
    changeImage(image) {
      this.activeImage = image;
    },
    bgColor(color) {
      return {
        background: `radial-gradient(circle closest-side, ${color} 9px,#D1D1D1 10px, white 11px, white 12px);`
      };
    },
    addToCart: async function() {
      const { category, images, name, id } = this.product;
      let options = {};
      if (this.property.length) {
        if (!this.productMaterial) {
          this.isError = true;
          return;
        } else {
          this.isError = false;
        }
        if (
          (!this.size ||
            Number(this.size) < 15 ||
            Number(this.size) > 22 ||
            isNaN(Number(this.size))) &&
          this.product.category.tag === constants.RING_CATEGORY
        ) {
          this.isError = true;
          this.sizeError = "Размер кольца может быть от 15 до 22.";
          return;
        } else {
          this.isError = false;
          this.sizeError = "";
        }
        if (!this.goldСontent) {
          this.isError = true;
          return;
        } else {
          this.isError = false;
        }
        if (this.stoneSelect.length === 0 && this.property[0].has_stone) {
          this.isError = true;
          return;
        } else {
          this.isError = false;
        }
        options = {
          material: this.productMaterial,
          gold: this.goldСontent,
          defaultPrice:  this.productPrice
        };
      }
      if (this.isError) {
        return;
      }
      const product = {
        id: id,
        price: this.finalPrice,
        name: name,
        quantity: this.quantity,
        options
      };
      this.product.category.tag  === "ring" ? (product.options.size = this.size) : null;
      this.stoneSelect.length !== 0
        ? (product.options.stones = this.stoneSelect)
        : null;
      product.options.time = Number(Date.now());
      product.options.image = this.activeImage.path;
      product.options.category = category;
      try {
        this.isLoading = true;
        const { data } = await axios.post('/add-to-cart', product);
        this.$store.dispatch('updateCart', data);
      } catch (error) {
        this.isError = true;
      } finally {
        this.isLoading = false;
      }

      if (!JSON.parse(localStorage.getItem("cart"))) {
        let cart = [];
        cart.push(product);
        localStorage.setItem("cart", JSON.stringify(cart));
        // this.$store.dispatch("update");
      } else {
        let cart = JSON.parse(localStorage.getItem("cart"));
        cart.push(product);
        localStorage.setItem("cart", JSON.stringify(cart));
        // this.$store.dispatch("update");
      }
      const modal = document.getElementById("basketModal");
      const closeBtn = document.getElementById("closeBtn");
      const basket = document.getElementById("basket");
      modal.style.display = "block";
      setTimeout(function() {
        basket.classList.add("move");
        closeBtn.classList.add("rotate");
      }, 100);
    },
    selectStone: function() {
      const myAudio = new Audio();
      myAudio.src = "/audio/schelchok.mp3";
      myAudio.play();
    },
    addSpace(price) {
      const stringPrice = String(price);
      return stringPrice.replace(/(\d)(?=(\d{3})+(\D|$))/g, "$1 ");
    }
  },
  created: function() {
    if (this.images.some(i => i.material)) {
      this.materials = this.images
        .filter(i => i.material_type_id !== null)
        .sort((a, b) => {
          return a.material.id - b.material.id;
        })
        .map(img => ({
          color: {
            background:
              "radial-gradient(circle closest-side," +
              img.material.color +
              " 9px, #D1D1D1 10px, white 11px, white 13px)"
          },
          id: img.material.id,
          name: img.material.name,
          image: img
        }));
    }
  }
};
</script>

<style lang="scss">
h3.similar {
  margin-top: 30px;
  margin-bottom: 15px;
  font-size: 16px;
  font-family: "Avenir Next Cyr Light";
  font-weight: 600;
}
.similar-goods {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 200px));
  grid-template-rows: auto;
  justify-content: center;
  font-size: 0;
  grid-gap: 5px;
  > .good {
    width: 200px;
    height: 200px;
    margin: 0 10px;
    padding: 5px;
    transition: all 0.2s linear;
    .good-img {
      width: 100%;
      height: 80%;
      > img {
        width: 100%;
        height: 100%;
      }
    }
    .good-name {
      font-size: 14px;
      text-align: center;
      font-family: "Avenir Next Cyr Light";
    }
    &:hover {
      // box-shadow: 0 0 10px 1px rgba($color: black, $alpha: 0.1);
      transform: scale(1.05);
    }
  }
}
.selected-stones {
  margin: 10px 0;
  > div {
    height: 70px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(60px, 60px));
    > .selected-stone {
      overflow: hidden;
      background-repeat: no-repeat;
      background-position: center, center;
      background-size: 250%;
    }
  }
}
.list-item {
  display: inline-block;
  margin-right: 10px;
}
.list-enter-active,
.list-leave-active {
  transition: all 0.5s;
}
.list-enter, .list-leave-to /* .list-leave-active до версии 2.1.8 */ {
  opacity: 0;
}
.gold-сontent {
  position: relative;
  margin-bottom: 15px;
  > input[type="radio"] {
    display: none;
  }
  > label {
    margin-top: 10px;
    display: inline-block;
    padding: 5px 15px;
    padding-bottom: 4px;
    border: 2px solid #aaaaaa;
    border-radius: 10px;
    font-weight: 800;
    color: #aaa;
    cursor: pointer;
    opacity: 0.6;
    transition: all 0.3s ease;
    font-family: Arial;
    font-weight: normal;
    &:hover {
      opacity: 1;
    }
  }
  #gold585:checked + label,
  #gold750:checked + label {
    opacity: 1;
    background-color: #ffe8a5;
    color: #d99b45;
    border: 2px solid #d99b45;
  }
}
.size-block {
  width: 100%;
  position: relative;
  margin-top: 10px;
  transition: all 0.3s ease;
  &:hover {
    > button {
      opacity: 1;
    }
  }
  > input[type="number"] {
    width: 100%;
    -moz-appearance: textfield;
    outline: none;
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
    }
  }
  > button {
    background-color: transparent;
    border: none;
    position: absolute;
    color: #424242;
    font-weight: 300;
    transition: all 0.3 ease;
    opacity: 0;
    cursor: pointer;
    &.size-arrow-minus {
      right: 10px;
      bottom: 0px;
    }
    &.size-arrow-plus {
      right: 10px;
      top: 5px;
    }
  }
}
.material {
  position: relative;
}
.form-error {
  position: absolute;
  right: 105%;
  top: calc(50% - 10px);
  z-index: 100;
  white-space: nowrap;
  font-size: 16px;
  padding: 5px;
  background-color: #ed5f4b;
  color: white;
  border-radius: 5px;
  &:after {
    content: "";
    display: block;
    width: 8px;
    height: 8px;
    position: absolute;
    z-index: 1;
    right: -4px;
    top: calc(50% - 4px);
    transform: rotate(45deg);
    background-color: #ed5f4b;
  }
}
.quantity {
  .quantity-container {
    position: relative;
    margin-top: 10px;

    width: 80px;
    &:hover {
      .quantity-button {
        opacity: 1;
      }
    }
  }

  .quantity-num {
    background-color: #fff;
  }
  .quantity-button {
    background: none;
    border: none;
    position: absolute;
    font-size: 14px;
    cursor: pointer;
    opacity: 0;
    transition: all 0.2s ease;
    &.quantity-minus {
      right: 10px;
      bottom: 5px;
    }
    &.quantity-plus {
      right: 10px;
      top: 5px;
    }
  }
}
.info-btn {
  font-size: 18px;
}
.size-info {
  display: inline;
}

.size-message {
  display: block !important;
  z-index: 10000;
  .tooltip-inner {
    width: auto;
    font-family: Futura;
    max-width: 300px;
  }
  .inst-link {
    text-decoration: underline;
    display: inline;
  }
}
.select-container {
  .hooper-next {
    padding-right: 0;
  }
  .hooper-prev {
    padding-left: 0;
  }
}
.stone-select-slider {
  .hooper-list {
    padding: 20px 0;
  }
}

@media screen and (max-width: 600px) {
  .form-error {
    position: relative;
    right: 0;
    top: 0;
    display: block;
    margin: 5px auto;
    margin-top: 20px;
    text-align: center;
    &::after {
      right: calc(50% - 4px);
      top: -4px;
    }
  }
}
.stone-message {
  font-size: 16px;
}
</style>