<template>
  <div>
    <div class="basket-body">
      <div v-if="products && products.length">
        <div
          class="product-mini-card"
          v-for="(product, index) in products"
          :key="index"
        >
          <img
            v-bind:src="'/' + product.options.image"
            alt
          >
          <div class="description">
            <p class="product-name">{{product.name}}</p>
            <p class="quantity">
              <span>количество:</span> {{product.qty}}
            </p>
            <p>{{addSpace(product.price)}},00 руб</p>
          </div>
          <span
            class="delete-good"
            v-on:click="deleteProduct(product)"
          ><img src="/images/icon/close.svg"/></span>
        </div>
         <a href="/store/cart">
          <div class="order-btn">{{text.buttonText}}</div>
        </a>
      </div>
      <div v-if="gems && gems.length">
        <div
          class="product-mini-card"
          v-for="(gem, index) in gems"
          :key="index"
        >
          <img
            v-bind:src="'/' + gem.options.image"
            alt
          >
          <div class="description">
            <p class="product-name">{{gem.name}}</p>
            <p class="quantity">
              <span>количество:</span> {{gem.qty}}
            </p>
            <p>{{addSpace(gem.price)}},00 руб</p>
          </div>
          <span
            class="delete-good"
            v-on:click="deleteProduct(gem)"
          ><img src="/images/icon/close.svg"/></span>
        </div>
        <a href="/store/cart/stone">
          <div class="order-btn">{{text.buttonText}}</div>
        </a>
      </div>
    </div>
    <div v-if="!products.length && !gems.length">
      <div class="empty-cart">{{text.empty}}</div>
    </div>
    <span
      class="sum-basket"
      v-if="products.length || gems.length"
    >Сумма {{addSpace(getSumPrice)}},00 руб</span>
  </div>
</template>

<script>
import text from '../../texts/sideCart.json';

export default {
  data: function() {
    return {
      sumPrice: 0
    };
  },
  methods: {
    deleteProduct: async function(product) {
      if (!product || !product.rowId) {
        return;
      }
      const rowId = product.rowId;
      const tag = product.options.category.tag;
      const { data } = await axios.get(`/remove-from-cart/${tag}/${rowId}`);
      this.$store.dispatch('updateCart', data);
    },
    addSpace(price) {
      const stringPrice = String(price);
      return stringPrice.replace(/(\d)(?=(\d{3})+(\D|$))/g, "$1 ");
    }
  },
  computed: {
    products: function() {
      return this.$store.state.jewelryCart;
    },
    gems: function() {
      return this.$store.state.gemsCart;
    },
    getSumPrice: function() {
      return this.$store.state.total;
    }
  },
  created: function () {
    this.text = text;
  }
};
</script>
<style>
  .empty-cart {
    text-align: center;
  } 
</style>