<template>
  <hooper :itemsToShow="4" :infiniteScroll="true">
    <slide>
       <div class="good">
        <div class="good-img">
          <img v-bind:src="'/' + this.product.images[0].path">
        </div>
        <p
          class="good-name"
        >{{this.product.category.title}} {{this.product.vendor}} {{this.product.title || this.product.collection.name}}</p>
      </div>
    </slide>
    <slide>
       <div class="good">
        <div class="good-img">
          <img v-bind:src="'/' + this.product.images[0].path">
        </div>
        <p
          class="good-name"
        >{{this.product.category.title}} {{this.product.vendor}} {{this.product.title || this.product.collection.name}}</p>
      </div>
    </slide>
    <slide>
       <div class="good">
        <div class="good-img">
          <img v-bind:src="'/' + this.product.images[0].path">
        </div>
        <p
          class="good-name"
        >{{this.product.category.title}} {{this.product.vendor}} {{this.product.title || this.product.collection.name}}</p>
      </div>
    </slide>
    <slide>
       <div class="good">
        <div class="good-img">
          <img v-bind:src="'/' + this.product.images[0].path">
        </div>
        <p
          class="good-name"
        >{{this.product.category.title}} {{this.product.vendor}} {{this.product.title || this.product.collection.name}}</p>
      </div>
    </slide>
    <slide>
       <div class="good">
        <div class="good-img">
          <img v-bind:src="'/' + this.product.images[0].path">
        </div>
        <p
          class="good-name"
        >{{this.product.category.title}} {{this.product.vendor}} {{this.product.title || this.product.collection.name}}</p>
      </div>
    </slide>

    <hooper-navigation slot="hooper-addons"></hooper-navigation>
  </hooper>
</template>

<script>
import { Hooper, Slide, Navigation as HooperNavigation } from "hooper";

export default {
  components: {
    Hooper,
    Slide,
    HooperNavigation
  },
  props: ['product']
};
</script>
<style lang="scss">
.similar-goods {
  .good {
    width: 100%;
    height: 100%;
    .good-name {
      text-align: center;
      text-transform: capitalize;
    }
    >.good-img {
      height: 80%;
      >img {
        width: 100%;
        height: auto;
      }
    }
  }
}
</style>

  