<template>
  <hooper>
    <slide v-for="(image, index) in images" v-bind:key="index">
      <img v-bind:src="'/' + image.path" alt="фото">
    </slide>
    <hooper-pagination slot="hooper-addons"></hooper-pagination>
  </hooper>
</template>

<script>
import { Hooper, Slide, Pagination as HooperPagination } from "hooper";

export default {
  components: {
    Hooper,
    Slide,
    HooperPagination
  },
  props: ["images"]
};
</script>

<style lang="scss">
.hooper {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}
.hooper * {
  box-sizing: border-box;
}
.hooper-list {
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.hooper-track {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0 auto;
}
.hooper.is-vertical .hooper-track {
  flex-direction: column;
  height: 400px;
}
.hooper.is-rtl {
  direction: rtl;
}
.hooper-sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.hooper-slide {
  flex-shrink: 0;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  >img {
    width: 100%;
    height: auto;
  }
}
.hooper-progress {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 4px;
  background-color: #efefef;
}
.hooper-progress-inner {
  height: 100%;
  background-color: #4285f4;
  transition: 0.3s;
}
.hooper-pagination {
  position: absolute;
  bottom: 0;
  right: calc(50% + 15px);
  transform: translateX(50%);
  display: flex;
  padding: 5px 10px;
}
.hooper-indicators {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 10px;
  height: 10px;
  border: 1p solid #333;
}
.hooper-indicator.is-active,
.hooper-indicator:hover {
  background-color: #333;
}
.hooper-indicator {
  margin: 0 2px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 2px solid #333;
  padding: 0;
  background-color: #fff;
  cursor: pointer;
}
.hooper-pagination.is-vertical {
  bottom: auto;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.hooper-pagination.is-vertical .hooper-indicators {
  flex-direction: column;
}
.hooper-pagination.is-vertical .hooper-indicator {
  width: 6px;
}
.hooper-next,
.hooper-prev {
  background-color: transparent;
  border: none;
  padding: 1em;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
.hooper-next.is-disabled,
.hooper-prev.is-disabled {
  opacity: 0.3;
  cursor: not-allowed;
}
.hooper-next {
  right: 0;
}
.hooper-prev {
  left: 0;
}
.hooper-navigation.is-vertical .hooper-next {
  top: auto;
  bottom: 0;
  transform: initial;
}
.hooper-navigation.is-vertical .hooper-prev {
  top: 0;
  bottom: auto;
  right: 0;
  left: auto;
  transform: initial;
}
.hooper-navigation.is-rtl .hooper-prev {
  left: auto;
  right: 0;
}
.hooper-navigation.is-rtl .hooper-next {
  right: auto;
  left: 0;
}
</style>
