<template>
  <div class="row">
    <div class="col-12">
      <h2 class="h2">Таблица украшений</h2>
      <div>
        <button
          class="btn btn-primary pull-right mb-3"
          :disabled="isLoading"
          @click.prevent="changeOrder"
        >{{enabled ? 'Изменить порядок' : 'Сохранить'}}</button>
      </div>
      <table
        id="example"
        class="table table-striped table-bordered"
        style="width:100%"
      >
        <thead class="thead-dark">
          <tr>
            <th
              scope="col"
              v-for="header in headers"
              :key="header"
            >{{header}}</th>
          </tr>
        </thead>
        <draggable
          v-model="list"
          tag="tbody"
          :disabled="enabled"
        >
          <tr
            v-for="product in list"
            :key="product.name"
            :class="{'on-drag': !enabled}"
          >
            <td scope="row">{{ product.list_order }}</td>
            <td>{{ product.name }}
              <i
                v-if="product.isOnSlider"
                class="fas fa-images on-slider"
                title="Товар на главной странице"
              ></i>
            </td>
            <td>{{ product.vendor }}</td>
            <td>{{ product.category.name }}</td>
            <td>{{ product.price }}</td>
            <td><img
                :src="'/' + product.images[0].path"
                class="img-fluid"
                style="width: 100px;"
              ></td>
            <td>
              {{product.in_stock ? 'В наличии' : 'Нет в наличии'}}
              <div>
                <button
                  @click.prevent="changeVisible(product.id)"
                  class="btn btn-primary pull-right mb-3"
                >
                  Изменить
                </button>
              </div>
            </td>
            <td>
              <div class="container">
                <div class="row">
                  <a
                    :href="`/admin/products/${product.id}/edit`"
                    title="Редактиовать товар"
                  ><i class="fas fa-edit"></i></a>
                  <button
                    style="border: none; color: #1f6fb2; background-color: transparent; outline: none;"
                    title="Удалить товар"
                    class="btn  btn-sm"
                    @click.prevent="deleteProduct(product.id)"
                  ><i class="fas fa-trash"></i>
                  </button>
                  <button
                    style="border: none; color: #1f6fb2; background-color: transparent; outline: none;"
                    title="Добавить на слайдер"
                    class="btn  btn-sm"
                    @click.prevent="addToSlider(product.id)"
                  >
                    <i class="far fa-image"></i>
                  </button>
                </div>
              </div>
            </td>
          </tr>
        </draggable>
      </table>
    </div>

  </div>
</template>

<script>
import draggable from "vuedraggable";

export default {
  display: "Table",
  order: 8,
  components: {
    draggable
  },
  props: {
    products: {
      default: () => [],
      type: Array
    }
  },
  data() {
    return {
      enabled: true,
      isLoading: false,
      list: this.products.sort((a, b) => a.list_order - b.list_order),
      dragging: false,
      headers: [
        "№",
        "Имя",
        "Артикул",
        "Категория",
        "Цена",
        "Изображение",
        "Наличие",
        "Управление"
      ]
    };
  },
  methods: {
    deleteProduct(id) {
      const isExactly = window.confirm("Вы уверены что хотите удалить товар?");
      if (!isExactly) {
        return;
      }
      axios
        .get(`/admin/delete/product/${id}`)
        .then(response => {
          this.list = this.list.filter(p => p.id !== id);
          this.$toast.success({
            title: "Успешно!",
            message: "Товар удалена."
          });
        })
        .catch(error => {
          this.$toast.error({
            title: "Ошибка.",
            message: "Неудалось удалить товар."
          });
        });
    },
    changeOrder() {
      if (this.enabled) {
        this.enabled = !this.enabled;
        return;
      }

      const data = {
        orderedProducts: this.list.map((product, index) => ({
          id: product.id,
          list_order: index
        }))
      };

      this.isLoading = true;
      axios
        .post("/admin/order/products", data)
        .then(response => {
          if (response.status === 200 && response.data === "ok") {
            this.list = this.list.map((product, index) => ({
              ...product,
              list_order: index
            }));
            this.$toast.success({
              title: "Успешно!",
              message: "Порядок товаров изменен."
            });
            this.enabled = !this.enabled;
          }
        })
        .catch(error => {
          this.$toast.error({
            title: "Ошибка.",
            message: "Неудалось изменить порядок товаров товаров."
          });
        });
      this.isLoading = false;
    },
    changeVisible(id) {
      axios
        .get(`/admin/change-visible/${id}`)
        .then(response => {
          this.list = this.list.map(p => {
            if (p.id === id) {
              p.in_stock = p.in_stock ? 0 : 1;
            }
            return p;
          });
        })
        .catch(error => {
          this.$toast.error({
            title: "Ошибка.",
            message: "Что то пошло не так!."
          });
        });
    },
    addToSlider(id) {
      axios
        .get(`/admin/add-to-slider/${id}`)
        .then(({ data, status }) => {
          if (status === 200) {
            if (data === "add") {
              this.list = this.list.map(p => {
                if (p.id === id) {
                  p.isOnSlider = true;
                }
                return p;
              });
              this.$toast.success({
                title: "Успешно!",
                message: "Товар добавлен на слайдер."
              });
              return;
            } else {
              this.list = this.list.map(p => {
                if (p.id === id) {
                  p.isOnSlider = false;
                }
                return p;
              });
              this.$toast.success({
                title: "Успешно!",
                message: "Товар убран из слайдера."
              });
              return;
            }
            throw new Error();
          }
        })
        .catch(error => {
          this.$toast.error({
            title: "Ошибка.",
            message: "Неудалось добавить на слайдер."
          });
        });
    }
  }
};
</script>
<style scoped>
.buttons {
  margin-top: 35px;
}
.on-drag {
  cursor: pointer;
}
.on-slider {
  color: rgb(4, 33, 87);
}
</style>