<template>
  <div :class="[{ 'col-md-6': column }, 'form-group']">
    <label for="name">
      <strong>{{title}}</strong>
    </label>
    <div class="input-group">
      <input
        type="text"
        class="form-control"
        v-bind:value="value"
        v-on:input="$emit('input', $event.target.value)"
        id="name"
        name="name"
        :placeholder="placeholder"
      >
      <div class="input-group-append" v-if="groopText">
        <span class="input-group-text">{{groopText}}</span>
      </div>
    </div>
    <div class="invalid-feedback">Please enter a message in the textarea</div>
    <small id="emailHelp" class="form-text text-muted" v-if="description">{{description}}</small>
  </div>
</template>
<script>
export default {
  props: [
    "value",
    "title",
    "placeholder",
    "description",
    "column",
    "content",
    "groopText"
  ]
};
</script>
