<template>
  <div :class="[{ 'col-md-6': column }, 'form-group']">
    <label for="name">
      <strong>{{title}}</strong>
    </label>
    <select class="form-control" id="category" v-model="category">
      <option
        v-for="category in categories"
        :key="category.name"
        v-bind:value="value"
        v-on:input="$emit('input', $event.target.value)"
      >{{category.name}}</option>
    </select>
    <div class="invalid-feedback">Please enter a message in the textarea</div>
    <small id="emailHelp" class="form-text text-muted" v-if="description">{{description}}</small>
  </div>
</template>
<script>
export default {
  props: [
    "value",
    "title",
    "placeholder",
    "description",
    "column",
    "content",
    "groopText"
  ]
};
</script>
