<template>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">
      <strong>{{title}}</strong>
    </label>
    <small id="emailHelp" class="form-text text-muted">{{description}}</small>
    <textarea
      class="form-control"
      id="exampleFormControlTextarea1"
      rows="3"
      v-bind:value="value"
      v-on:input="$emit('input', $event.target.value)"
    ></textarea>
  </div>
</template>
<script>
export default {
  props: ["value", "title", "description"]
};
</script>
