<template>
  <form>
    <div class="slide-control">
      <h3>{{!this.slide ? 'Добавьте новый слайд' : `Слайд № ${this.slide.slide_number}`}}</h3>
      <form v-if="index !== undefined">
        <button
            type="submit"
            title="Удалить слайд"
            class="btn btn-sm"
            @click.prevent="deleteSilde()"
        >
          <i class="fas fa-times"></i>
        </button>
      </form>
    </div>
    <Input
        v-model="number"
        title="Номер слайда"
        placeholder="Напишите номер по порядку для слайда"
        description
    />
    <Input
        v-model="header"
        title="Заголвок слайда"
        placeholder="Напишите заголовок для слайда"
        description
    />
    <Input
        v-model="buttonText"
        title="Текст для кнопки слайда"
        placeholder="Напишите текст для кнопки"
        description
    />
    <TextArea v-model="slideContent" title="Текст слайда" placeholder="Опишите содержимой слайда"/>
    <div class="form-row mb-5">
      <div class="form-group col-md-6">
        <label>
          <strong>Добавьте картинки*</strong>
        </label>
        <input type="file" class="form-control" 
          :id="this.slide ? `image${this.slide.id}` : 'image'" @change="processFile($event)">
      </div>
    </div>
    <span v-if="image">
      <strong>Изображение слайдера:</strong>
    </span>
    <img v-bind:src="image" class="img-fluid mb-3" alt="Адаптивные изображения" v-if="image">
    <button
        type="submit"
        class="btn btn-dark mb-5"
        @click.prevent="saveSlide"
        :disabled="isLoading"
    >{{isLoading ? 'Сохраняем...' : 'Сохранить'}}
    </button>
  </form>
</template>

<script>
  import Input from "../common/Input";
  import TextArea from "../common/TextArea";

  export default {
    components: {
      Input,
      TextArea
    },
    props: ["slide", "index"],
    data() {
      return {
        isLoading: false,
        header: "",
        number: "",
        slideContent: "",
        buttonText: "",
        image: null
      };
    },
    computed: {
      deleteRoute() {
        return `/admin/slider/${this.slide.id}`;
      }
    },
    methods: {
      init() {
        if (this.slide) {
          const {header, content, button_text, image, slide_number } = this.slide;
          this.header = header;
          this.number = slide_number;
          this.buttonText = button_text;
          this.slideContent = content;
          this.image = "/" + image;
        }
      },
      processFile(event) {
        const input = event.target;
        if (input.files && input.files[0]) {
          const file = input.files[0];
          const reader = new FileReader();
          reader.onload = e => {
            this.image = e.target.result;
          };
          reader.readAsDataURL(file);
        }
      },
      saveSlide() {
        const image = document.getElementById(this.slide ? `image${this.slide.id}` : 'image').files[0];
        if (!this.header || !this.slideContent || !this.buttonText || !this.image) {
          this.$toast.warn({
            title: "Внимание!",
            message: "Заполните все поля и добавьте фото!"
          });
          return;
        }
        const data = new FormData();
        data.append("image", image);
        data.append("header", this.header);
        data.append("slideContent", this.slideContent);
        data.append("buttonText", this.buttonText);
        data.append("number", this.number);
        this.isLoading = true;
        if (this.slide) {
          data.append("_method", "put");
          axios
            .post(`/admin/slider/${this.slide.id}`, data, {
              headers: {
                "Content-Type": "multipart/form-data"
              }
            })
            .then(response => {
              this.isLoading = false;
              if (response.status === 200) {
                this.$toast.success({
                  title: "Успешно!",
                  message: "Слайд добавлен."
                });
              }
            })
            .catch(error => {
              this.isLoading = false;
              this.$toast.error({
                title: "Ошибка.",
                message:
                  "Что-то пошло не так, слайд не сохранился(проверьте введенные данные)"
              });
            });
          return;
        }
        axios
          .post("/admin/slider", data, {
            headers: {
              "Content-Type": "multipart/form-data"
            }
          })
          .then(response => {
            this.isLoading = false;
            if (response.status === 200) {
              this.$toast.success({
                title: "Успешно!",
                message: "Слайд добавлен."
              });
            }
          })
          .catch(error => {
            this.isLoading = false;
            this.$toast.error({
              title: "Ошибка.",
              message:
                "Что-то пошло не так, слайд не сохранился(проверьте введенные данные)"
            });
          });
      },
      updateSlide() {
        const image = document.getElementById("image").files[0];
        if (!this.header || !this.slideContent || !this.buttonText || !image) {
          this.$toast.warn({
            title: "Внимание!",
            message: "Заполните все поля и добавьте фото!."
          });
          return;
        }
        const data = new FormData();
        data.append("image", image);
        data.append("header", this.header);
        data.append("slideContent", this.slideContent);
        data.append("buttonText", this.buttonText);
        data.append("number", this.number);
        this.isLoading = true;
        axios
          .post("/admin/slider", data, {
            headers: {
              "Content-Type": "multipart/form-data"
            }
          })
          .then(response => {
            this.isLoading = false;
            if (response.status === 200 && response.data === "ok") {
              this.$toast.success({
                title: "Успешно!",
                message: "Слайд добавлен."
              });
            }
          })
          .catch(error => {
            this.isLoading = false;
            this.$toast.error({
              title: "Ошибка.",
              message:
                "Что-то пошло не так, слайд не сохранился(проверьте введенные данные)"
            });
          });
      },
      deleteSilde(event) {
        const isExactly = window.confirm("Удалить слайд?");
        if (!isExactly) {
          event.preventDefault();
          return;
        }
        axios
          .delete(this.deleteRoute)
          .then(respnse => {
            window.location.reload();
          })
          .catch(error => {
            this.$toast.error({
              title: "Ошибка.",
              message: "Не удалось удалить слайд"
            });
          });
      }
    },
    mounted() {
      this.init();
    }
  };
</script>

<style lang='scss'>
  .slide-control {
    display: flex;
    form {
      margin-left: 20px;
    }
  }
</style>