<template>
  <div class="cart_page">
    <div class="cart_container">
      <div class="return_to_buy">
        <a href="/store"><i class="fas fa-chevron-left"></i> Продолжить покупки</a>
        <h2 v-if="products"> Мои покупки
          <span id="itemsAccount">({{products.length}})</span>
        </h2>
      </div>
      <div v-if="products && products.length">
        <div class="products_cart" v-if="products && products.length">
          <div class="product_in_cart"
            v-for="(product, pIndex) in products"
            :key="pIndex"
          >
            <!-- Описание -->
            <div class="product_description">
              <!-- Изображение -->
              <div class="product_image">
                <img v-bind:src="'/' + product.options.image" alt="Украшение"/>
              </div>
              <!-- Характеристики -->
              <div class="description">
                <!-- Название товара -->
                <p class="name_product" id="name-item">
                  {{product.name}}
                </p>
                <p class="name_product">
                  Цена: {{addSpace(product.options.defaultPrice)}} руб.
                </p>
                <!-- Материал -->
                <p>
                  Материал:
                  <span>{{product.options.material}}</span>
                </p>
                <!-- Проба золота -->
                <p>
                  Проба:
                  <span>{{product.options.gold}}</span>
                </p>
                <!-- Размер если кольцо -->
                <p v-if="!product.options.size">
                  Размер:
                  <span>{{product.options.size}}</span>
                </p>
                <p v-if="product.options.stones">Сменные камни:</p>
                <p
                  v-if="!product.options.stones.length"
                  class="error"
                >
                  Вы должны выбрать как минимум 1 сменный камень!</p>
                <ul>
                  <li
                    v-for="(stone, index) in product.options.stones"
                    :key="stone.name"
                  >
                    <span>{{index + 1}}. {{stone.name}}</span></li>
                </ul>
                <div
                  class="product_stones"
                  v-if="product.options.stones"
                >
                  <div
                    class="product_stone"
                    v-for="(stone, sIndex) in product.options.stones"
                    :key="sIndex"
                    :title="stone.name"
                    v-bind:style="{ backgroundImage: 'url('+ '/' +  stone.images[0].path + ')' }"
                  >
                    <span
                      @click="removeStone(product, sIndex)"
                      class="remove-stone-button"
                    >
                      <i class="fas fa-times"></i>
                    </span>
                  </div>
                  <stone-select
                    @add-stone="addStone"
                    :index="pIndex"
                    :stones="noSelectedStone(product.options.stones)"
                    :visible="noSelectedStone(product.options.stones).length"
                  ></stone-select>
                </div>
              </div>
            </div>
            <!-- цена -->
            <div class="item_price">
              <div class="product_price">{{addSpace(product.price)}},00 руб.</div>
            </div>
            <div class="delete_btn_container">
              <button
                v-on:click="deleteProduct(product)"
                class="delete_btn"
              >Удалить</button>
            </div>
          </div>
        </div>
        <div class="order_details">
          <div class="order_form">
            <h3 v-html="text.orderForm.contact.header"></h3>
            <form>
              <div
                class='input'
                :class="{'input-invalid': validateErrors.phone}"
              >
                <label v-html="text.orderForm.contact.phone"></label>
                <masked-input
                  type="text"
                  v-model="phone"
                  :mask="['+', /[1-9]/, /\d/, /\d/,/\d/, '-', /\d/, /\d/, /\d/, '-', /\d/, /\d/, /\d/, /\d/]"
                  placeholder="Ваш номер телефона"
                  required
                >
                </masked-input>
              </div>
              <div
                class='input'
                :class="{'input-invalid': validateErrors.email}"
              >
                <label v-html="text.orderForm.contact.email"></label>
                <input
                  type="email"
                  placeholder="Ваш email"
                  v-model.trim="email"
                  required
                >
              </div>
              <div
                class='input'
                :class="{'input-invalid': validateErrors.name}"
              >
                <label v-html="text.orderForm.contact.name"></label>
                <input
                  type="text"
                  placeholder="Ваше имя"
                  v-model.trim="name"
                  required
                >
              </div>
              <div
                class='input'
                :class="{'input-invalid': validateErrors.surname}"
              >
                <label v-html="text.orderForm.contact.secondName"></label>
                <input
                  type="text"
                  placeholder="Ваше фамилия"
                  v-model.trim="surname"
                  required
                >
              </div>
            </form>
            <div
              class='error-message'
              v-if="errorMessage.length"
            >
              <p
                v-for="(error, index) in errorMessage"
                :key="index"
              >{{error}}</p>
            </div>
            <div class='payment-info'>
              <h3 v-html="text.orderForm.payment.header"></h3>
              <section class="instructions-part payment-instructions">
                <p><b v-html="text.orderForm.payment.box1"></b></p>
                <p v-html="text.orderForm.payment.box2"></p>
              </section>
            </div>
            <div class='delivery-info'>
              <h3 v-html="text.orderForm.shipping.header"></h3>
              <div class='shipping-options'>
                <div class='option delivery'>
                  <label for="delivery">
                    <input
                      type="radio"
                      id='delivery'
                      value="самовывоз"
                      v-model="shipping"
                      name="shipping"
                    >
                    <span class="shipping-radio"></span>
                    <section class='shippig-description'>
                      <p v-html="text.orderForm.shipping.pickupHeader"></p>
                      <p v-html="text.orderForm.shipping.pickupAddress"></p>
                    </section>
                    <p>Бесплатно</p>
                  </label>
                </div>
              </div>
              <section class="instructions-part shipping-instructions">
                <p v-html="text.orderForm.shipping.instruction1"></p>
                <p v-html="text.orderForm.shipping.instruction2"></p>
              </section>
            </div>
            <div class='payment-info'>
              <h3 v-html="text.orderForm.orderDeal.header"></h3>
              <section class="instructions-part">
                <p v-html="text.orderForm.orderDeal.box1"></p>
                <p v-html="text.orderForm.orderDeal.box2"></p>
              </section>
            </div>
            <div class="politics">
              <p v-html="text.orderForm.orderDeal.box3"></p>
              <label>
                <input
                  type="checkbox"
                  v-model="politics"
                >
                <span class='politics-checkbox'></span>
                <p  v-html="text.orderForm.orderDeal.agreement.terms"></p>
              </label>
               <label>
                <input
                  type="checkbox"
                  v-model="offer"
                >
                <span class='politics-checkbox'></span>
                <p v-html="text.orderForm.orderDeal.agreement.offer"></p>
              </label>
              <label>
                <input
                  type="checkbox"
                  v-model="shippingReurns"
                >
                <span class='politics-checkbox'></span>
                <p v-html="text.orderForm.orderDeal.agreement.storePolicy"></p>
              </label>
              <label>
                <input
                  type="checkbox"
                  v-model="subscribe"
                >
                <span class='politics-checkbox'></span>
                <p v-html="text.orderForm.orderDeal.agreement.subscribe"></p>
              </label>
            </div>
          </div>
          <div>
            <div class="additional-form">
              <div class="additional">
                <span @click="() => couponVisible = !couponVisible">
                  <i class="fas fa-tag"></i>Использовать купон
                </span>
                <div class="coupon-input" v-if="couponVisible">
                  <input
                    type="text"
                    placeholder="Введите промокод"
                    v-model="coupon"
                  >
                  <button>ок</button>
                </div>
              </div>
              <div class="additional">
                <span @click="() => commentVisible = !commentVisible">
                  <i class="far fa-comment-dots"></i>Добавить пожелание
                </span>
                <div class="comment-input" v-if="commentVisible">
                  <textarea
                    placeholder="Особые пожелания? Комментарии? Напишите их здесь."
                    class="comment"
                    v-model="comment"
                  > </textarea>
                </div>
              </div>
            </div>
            <div class="order_checkout">
              <div class="payment_details">
                <div>
                  <section class="details-part">
                    <p>Урашения</p>
                    <span>{{addSpace(getSumPrice)}} ,00 руб.</span>
                  </section>
                  <section class="details-part">
                    <p>НДC</p>
                    <span>00,00 руб.</span>
                  </section>
                </div>
                <div class="sum_payment">
                  <p>Итого:</p>
                  <div class='sum-price'>
                    <span>{{addSpace(getSumPrice)}}</span>,00 руб.
                  </div>
                </div>
                <div class="payment_method">
                  <button
                    :disabled="!politics || !shippingReurns"
                    class="get_order"
                    @click="getOrder"
                  >{{text.buttonText}}</button>
                </div>
                <span
                  v-if="errorMessage.length"
                  class='error-message'
                >Укажите ваши данные!</span>
                <span
                  v-if="orderError"
                  class='error-message'
                  v-html="orderError"
                ></span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        v-else
        class="empty-card"
      >Вы еще не выбрали украшения
      </div>
    </div>
    <div
      class="preloader_container"
      v-if="loading"
    >
      <pre-loader></pre-loader>
    </div>
  </div>
</template>

<script>
import MaskedInput from "vue-text-mask";
import PreLoader from "../PreLoader.vue";
import vSelect from "vue-select";
import "vue-select/dist/vue-select.css";
import CartInput from "../common/CartInput.vue";
import StoneSelect from "../common/StoneSelect.vue";
import { categoryConstants, STONE_PRICE } from '../../constants';
import text from '../../../texts/cart.json';


export default {
  components: {
    MaskedInput,
    PreLoader,
    "v-select": vSelect,
    "cart-input": CartInput,
    "stone-select": StoneSelect
  },
  props: ["stones"],
  data: function() {
    return {
      couponVisible: false,
      commentVisible: false,
      completed: false,
      politics: false,
      offer: false,
      shippingReurns: false,
      sumPrice: 0,
      name: "",
      surname: "",
      phone: "",
      email: "",
      comment: "",
      shipping: "самовывоз",
      subscribe: false,
      coupon: "",
      orderError: "",
      errorMessage: [],
      validateErrors: {
        phone: false,
        email: false,
        name: false,
        surname: false,
      },
      loading: false,
      paymentInfo: [
        {
          content:
            "Заказ подтверждается после внесения предоплаты в размере 50% от стоимости изделия. Остальная часть суммы оплачивается при получении.&nbsp;"
        },
        {
          content:
            'До завершения оформления заказа, Вам необходимо ознакомиться с подробными <a href="/shipping">условиями покупки, доставки и возврата украшений</a>'
        },
        {
          content:
            "После размещения заказа мы свяжемся с Вами для согласования всех деталей. По Вашему желанию, будем рады назначить встречу в нашем офисе для показа и примерки образцов украшений.&nbsp;"
        }
      ]
    };
  },
  methods: {
    noSelectedStone(selective) {
      const notSelective = this.stones.filter(stone => {
        return !selective.some(s => s.id === stone.id);
      });
      return notSelective;
    },
    addSpace(price) {
      const stringPrice = String(price);
      return stringPrice.replace(/(\d)(?=(\d{3})+(\D|$))/g, "$1 ");
    },
    validateForm: function() {
      this.errorMessage = [];
      Object.keys(this.validateErrors).forEach(area => {
        this.validateErrors[area] = false;
      });
      if (!this.name && !this.surname && !this.phone && !this.email) {
        Object.keys(this.validateErrors).forEach(area => {
          this.validateErrors[area] = true;
        });
        this.errorMessage.push("Зполните все поля!");
        return false;
      }
      if (!this.name || this.name.length < 2) {
        this.validateErrors.name = true;
        this.errorMessage.push("Укажите ваше имя!");
      }
      if (!this.surname || this.surname.length < 2) {
        this.validateErrors.surname = true;
        this.errorMessage.push("Укажите вашу фамилию!");
      }
      const isPhoneValid = this.phone.replace(/_/g, " ").trim().length;
      if (isPhoneValid < 14) {
        this.validateErrors.phone = true;
        this.errorMessage.push("Укажите ваш телефон!");
      }
      if (!this.email) {
        this.validateErrors.email = true;
        this.errorMessage.push("Укажите ваш адрес электронной почты!");
      } else if (!this.validEmail(this.email)) {
        this.validateErrors.email = true;
        this.errorMessage.push("Укажите корректный адрес электронной почты.");
      }
      if (this.errorMessage.length) {
        return false;
      } else {
        return true;
      }
    },
    validEmail: function(email) {
      const emailPattern = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
      return emailPattern.test(email);
    },
    deleteProduct: async function(product) {
      const rowId = product.rowId;
      const tag = product.options.category.tag;
      const { data } = await axios.get(`/remove-from-cart/${tag}/${rowId}`);
      this.$store.dispatch('updateCart', data);
    },
    plusQuantity: function(index) {
      this.products[index].quantity++;
      localStorage.setItem("cart", JSON.stringify(this.products));
      // this.$store.dispatch("update");
    },
    minusQuantity: function(index) {
      if (this.products[index].quantity == 1) {
        return;
      }
      this.products[index].quantity--;
      localStorage.setItem("cart", JSON.stringify(this.products));
      // this.$store.dispatch("update");
    },
    getOrder: async function() {
      const isValid = this.validateForm();
      if (!isValid || !this.checkStone) {
        return;
      }
      const detalis = {
        products: this.products,
        address: '',
        city: ''
      }
      const order = {
        comment: this.comment,
        products: this.products,
        sum: this.getSumPrice,
        subscribe: this.subscribe,
        delivery: this.shipping,
        detalis: JSON.stringify(detalis),
        type: 'jewelry',
        customer: {
          name: this.name,
          surname: this.surname,
          phone: this.phone,
          email: this.email,
          city: '',
          address: ''
        }
      };
      try {
        this.loading = true;
        const res = await axios.post("/order", {
          order
        });
        const routeSuccess = res.data;
        if (res.status === 200) {
          this.completed = true;
          const orderNumber = res.data;
          window.location = `/store/order-success/${orderNumber}`;
        } else {
          this.orderError = "Что-то пошло не так, попробуйте еще раз.";
        }
      } catch (error) {
        if (error.response && error.response.status === 404) {
          this.orderError = "Что-то пошло не так, попробуйте еще раз.";
        } else {
          this.orderError = "Что-то пошло не так, свяжитесь с нами для оформления заказа.";
        }
      } finally {
        this.loading = false;
      }
    },
    removeStone: async function (product, stoneIndex) {
      if(!product) {
        return;
      }
      product.options.stones.splice(stoneIndex, 1);
      product.price = product.price = this.setOfProductsPrice(product);
      const { data } = await axios.post('/update-cart', {
        id: product.rowId,
        payload: {
          options: product.options,
          price: product.price
        }
      });
      this.$store.dispatch('updateCart', data);
    },
    async addStone(stone, index) {
      const product = this.products[index];
      if(!product) {
        return;
      }
      product.options.stones.push(stone);
      product.price = this.setOfProductsPrice(product);
      const { data } = await axios.post('/update-cart', {
        id: product.rowId,
        payload: {
          options: product.options,
          price: product.price
        }
      });
      this.$store.dispatch('updateCart', data);
    },
    fixForm() {
      const fixedForm = document.querySelector(".order_checkout");
      if (fixedForm) {
        const formSourceTop =
          fixedForm.getBoundingClientRect().top + window.pageYOffset;
        window.onscroll = function() {
          if (
            fixedForm.classList.contains("fixed") &&
            window.pageYOffset < formSourceTop
          ) {
            fixedForm.classList.remove("fixed");
          } else if (window.pageYOffset > formSourceTop) {
            fixedForm.classList.add("fixed");
          }
        };
      }
    },
    setOfProductsPrice(product) {
      return Number(product.options.defaultPrice) +
        (product.options.stones
          ? product.options.stones.reduce(
              (sum, stone, index) =>
                index === 0
                  ? sum + Number(stone.price) - STONE_PRICE
                  : sum + Number(stone.price),
              0
            )
          : 0);
    },
  },
  computed: {
    getSumPrice() {
      return this.$store.state.jewelryCart.reduce((sum, item) => {
        return Number(sum) + Number(item.price) 
      }, 0);
    },
    products: function() {
      return this.$store.state.jewelryCart.sort((a, b) => a.options.time - b. options.time);
    },
    checkStone() {
      return this.products.some(product => {
        if (Object.keys(product.options).length) {
          return product.options.stones.length > 0;
        }
        return true;
      });
    }
  },
  mounted() {
    this.text = text;
    this.fixForm();
    
  }
};
</script>
<style lang="scss">
.page-of-thanks {
  p {
    font-size: 18px;
  }
}
.preloader_container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.error-message {
  color: red;
  margin-top: 10px;
  width: 100%;
}

.product_stone {
  position: relative;
  .remove-stone-button {
    color: rgb(94, 91, 91);
    font-size: 12px;
    position: absolute;
    right: 2px;
    top: 2px;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.2s linear;
  }
  &:hover {
    .remove-stone-button {
      opacity: 1;
    }
  }
}
</style>