<template>
  <div class="cart_page">
    <div class="cart_container">
      <div class="return_to_buy">
        <a href="/store">
          <i class="fas fa-chevron-left"></i> Продолжить покупки
        </a>
        <h2 v-if="products && products.length">
          Мои покупки
          <span id="itemsAccount">({{products.length}})</span>
        </h2>
      </div>
      <div v-if="products && products.length">
        <div
          class="products_cart"
          v-if="products && products.length"
        >
          <div
            class="product_in_cart"
            v-for="(product, pIndex) in products"
            :key="pIndex"
          >
            <!-- Описание -->
            <div class="product_description">
              <!-- Изображение -->
              <div class="product_image">
                <img
                  v-bind:src="'/' + product.options.image"
                  alt="Украшение"
                >
              </div>
              <!-- Характеристики -->
              <div class="description">
                <!-- Название товара -->
                <p
                  class="name_product"
                  id="name-item"
                >
                  {{product.name}}
                </p>
                <p class="name_product">
                  Цена: {{addSpace(product.price)}} руб.
                </p>
                 <p class="name_product">
                  Количество: 1
                </p>
              </div>
            </div>
            <div class="item_price">
              <div class="product_price">{{addSpace(product.price)}},00 руб.</div>
            </div>
            <div class="delete_btn_container">
              <button
                v-on:click="deleteProduct(product)"
                class="delete_btn"
              >Удалить</button>
            </div>
          </div>
        </div>
        <div class="order_details">
          <div class="order_form">
            <h3 v-html="text.orderForm.contact.header"></h3>
            <form>
              <div
                class='input'
                :class="{'input-invalid': validateErrors.phone}"
              >
                <label v-html="text.orderForm.contact.phone"></label>
                <masked-input
                  type="text"
                  v-model="phone"
                  :mask="['+', /[1-9]/, /\d/, /\d/,/\d/, '-', /\d/, /\d/, /\d/, '-', /\d/, /\d/, /\d/, /\d/]"
                  placeholder="Ваш номер телефона"
                  required
                >
                </masked-input>
              </div>
              <div
                class='input'
                :class="{'input-invalid': validateErrors.email}"
              >
                <label v-html="text.orderForm.contact.email"></label>
                <input
                  type="email"
                  placeholder="Ваш email"
                  v-model.trim="email"
                  required
                >
              </div>
              <div
                class='input'
                :class="{'input-invalid': validateErrors.name}"
              >
                <label v-html="text.orderForm.contact.name"></label>
                <input
                  type="text"
                  placeholder="Ваше имя"
                  v-model.trim="name"
                  required
                >
              </div>
              <div
                class='input'
                :class="{'input-invalid': validateErrors.surname}"
              >
                <label v-html="text.orderForm.contact.secondName"></label>
                <input
                  type="text"
                  placeholder="Ваше фамилия"
                  v-model.trim="surname"
                  required
                >
              </div>
            </form>
            <div
              class='error-message'
              v-if="errorMessage.length"
            >
              <p
                v-for="(error, index) in errorMessage"
                :key="index"
              >{{error}}</p>
            </div>
            <div class='payment-info'>
              <h3 v-html="text.orderForm.payment.header"></h3>
              <section class="instructions-part payment-instructions">
                <p><b v-html="text.orderForm.payment.box1"></b></p>
                <p v-html="text.orderForm.payment.box2"></p>
              </section>
            </div>
            <div class='delivery-info'>
              <h3 v-html="text.orderForm.shipping.header"></h3>
              <div class='shipping-options'>
                <div class='option delivery'>
                  <label for="delivery">
                    <input
                      type="radio"
                      id='delivery'
                      value="самовывоз"
                      v-model="shipping"
                      name="shipping"
                    >
                    <span class="shipping-radio"></span>
                    <section class='shippig-description'>
                      <p v-html="text.orderForm.shipping.pickupHeader"></p>
                      <p v-html="text.orderForm.shipping.pickupAddress"></p>
                    </section>
                    <p>Бесплатно</p>
                  </label>
                </div>
              </div>
              <section class="instructions-part shipping-instructions">
                <p v-html="text.orderForm.shipping.instruction1"></p>
                <p v-html="text.orderForm.shipping.instruction2"></p>
              </section>
            </div>
            <div class='payment-info'>
              <h3 v-html="text.orderForm.orderDeal.header"></h3>
              <section class="instructions-part">
                <p v-html="text.orderForm.orderDeal.box1"></p>
                <p v-html="text.orderForm.orderDeal.box2"></p>
              </section>
            </div>
            <div class="politics">
              <p v-html="text.orderForm.orderDeal.box3"></p>
              <label>
                <input
                  type="checkbox"
                  v-model="politics"
                >
                <span class='politics-checkbox'></span>
                <p  v-html="text.orderForm.orderDeal.agreement.terms"></p>
              </label>
               <label>
                <input
                  type="checkbox"
                  v-model="offer"
                >
                <span class='politics-checkbox'></span>
                <p v-html="text.orderForm.orderDeal.agreement.offer"></p>
              </label>
              <label>
                <input
                  type="checkbox"
                  v-model="shippingReurns"
                >
                <span class='politics-checkbox'></span>
                <p v-html="text.orderForm.orderDeal.agreement.storePolicy"></p>
              </label>
              <label>
                <input
                  type="checkbox"
                  v-model="subscribe"
                >
                <span class='politics-checkbox'></span>
                <p v-html="text.orderForm.orderDeal.agreement.subscribe"></p>
              </label>
            </div>
          </div>
          <div>
            <div class="additional-form">
              <div class="additional">
                <span @click="() => couponVisible = !couponVisible">
                  <i class="fas fa-tag"></i>Использовать купон
                </span>
                <div
                  class="coupon-input"
                  v-if="couponVisible"
                >
                  <input
                    type="text"
                    placeholder="Введите промокод"
                    v-model="coupon"
                  >
                  <button>ок</button>
                </div>
              </div>
              <div class="additional">
                <span @click="() => commentVisible = !commentVisible">
                  <i class="far fa-comment-dots"></i>Добавить пожелание
                </span>
                <div
                  class="comment-input"
                  v-if="commentVisible"
                >
                  <textarea
                    placeholder="Особые пожелания? Комментарии? Напишите их здесь."
                    class="comment"
                    v-model="comment"
                  >
                </textarea>
                </div>
              </div>
            </div>
            <div class="order_checkout">
              <div class="payment_details">
                <div>
                  <section class="details-part">
                    <p>Урашения</p>
                    <span>{{addSpace(getSumPrice)}} ,00 руб.</span>
                  </section>
                  <section class="details-part">
                    <p>НДC</p>
                    <span>00,00 руб.</span>
                  </section>
                </div>
                <div class="sum_payment">
                  <p>Итого:</p>
                  <div class='sum-price'>
                    <span>{{addSpace(getSumPrice)}}</span>,00 руб.
                  </div>
                </div>
                <div class="payment_method">
                  <button
                    :disabled="!politics || !shippingReurns || !offer"
                    class="get_order"
                    @click="getOrder"
                  >{{text.buttonText}}</button>
                  <div class='paymnet-form'  v-if="orderId && crc">
                    <form action='https://auth.robokassa.ru/Merchant/Index.aspx' method='POST'>
                      <input type=hidden name=MerchantLogin value="perborupdesign">
                      <input type=hidden name=OutSum :value="getSumPrice">
                      <input type=hidden name=InvId :value="orderId">
                      <input type=hidden name=Description value='Покупка камней'>
                      <input type=hidden name=SignatureValue :value="crc">
                      <!-- <input type=hidden name=Shp_item value='$shp_item'> -->
                      <!-- <input type=hidden name=IncCurrLabel value=$in_curr> -->
                      <!-- <input type=hidden name=Culture value=$culture> -->
                      <input type=hidden name=Email :value="email">
                      <!-- <input type=hidden name=ExpirationDate value=$ExpirationDate> -->
                      <input type=hidden name=OutSumCurrency value="RUB">
                      <input type=submit value='Оплатить' class="paymnet-button" :disabled="!politics || !shippingReurns || !offer || !orderId || !crc">
                    </form>
                  </div>
                  <!-- <iframe target="_blank"  allowtransparency="true" src="https://auth.robokassa.ru/Merchant/PaymentForm/FormMS.if?MerchantLogin=demo&amp;OutSum=11.00&amp;InvId=&amp;Description=%D0%9E%D0%BF%D0%BB%D0%B0%D1%82%D0%B0%20%D0%B7%D0%B0%D0%BA%D0%B0%D0%B7%D0%B0%20%D0%B2%20%D0%A2%D0%B5%D1%81%D1%82%D0%BE%D0%B2%D0%BE%D0%BC%20%D0%BC%D0%B0%D0%B3%D0%B0%D0%B7%D0%B8%D0%BD%D0%B5%20ROBOKASSA&amp;shp_Item=1&amp;Culture=ru&amp;Encoding=utf-8&amp;Receipt=%7B%22sno%22%3A%22osn%22%2C%22items%22%3A%5B%7B%22name%22%3A%22%D0%A2%D0%B5%D1%85%D0%BD%D0%B8%D1%87%D0%B5%D1%81%D0%BA%D0%B0%D1%8F%20%D0%B4%D0%BE%D0%BA%D1%83%D0%BC%D0%B5%D0%BD%D1%82%D0%B0%D1%86%D0%B8%D1%8F%20%D0%BF%D0%BE%20ROBOKASSA%22%2C%22quantity%22%3A1.0%2C%22sum%22%3A6.0%2C%22tax%22%3A%22vat18%22%7D%2C%7B%22name%22%3A%22%D0%A2%D0%B5%D1%85%D0%BD%D0%B8%D1%87%D0%B5%D1%81%D0%BA%D0%B0%D1%8F%20%D0%B4%D0%BE%D0%BA%D1%83%D0%BC%D0%B5%D0%BD%D1%82%D0%B0%D1%86%D0%B8%D1%8F%20%D0%BF%D0%BE%20Robo.market%22%2C%22quantity%22%3A1.0%2C%22sum%22%3A5.0%2C%22tax%22%3A%22vat18%22%7D%5D%7D&amp;SignatureValue=3925b771e47d405cbcbb492daa936824">
                  </iframe> -->
                </div>
                <span
                  v-if="errorMessage.length"
                  class='error-message'
                >Укажите ваши данные!</span>
                <span
                  v-if="orderError"
                  class='error-message'
                  v-html="orderError"
                ></span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        v-else
        class="empty-card"
      >Вы еще не выбрали украшения
      </div>
    </div>
    <div
      class="preloader_container"
      v-if="loading"
    >
      <pre-loader></pre-loader>
    </div>
  </div>
</template>

<script>
import MaskedInput from "vue-text-mask";
import PreLoader from "../PreLoader.vue";
import vSelect from "vue-select";
import "vue-select/dist/vue-select.css";
import CartInput from "../common/CartInput.vue";
import { categoryConstants, STONE_PRICE } from '../../constants';
import text from '../../../texts/cart.json';
import md5 from 'md5';


export default {
  components: {
    MaskedInput,
    PreLoader,
    "v-select": vSelect,
    "cart-input": CartInput,
  },
  data: function() {
    return {
      couponVisible: false,
      commentVisible: false,
      completed: false,
      politics: false,
      shippingReurns: false,
      offer: false,
      sumPrice: 0,
      name: "",
      surname: "",
      phone: "",
      email: "",
      comment: "",
      shipping: "самовывоз",
      subscribe: false,
      coupon: "",
      errorMessage: [],
      orderError: "",
      orderId: '',
      crc: '',
      validateErrors: {
        phone: false,
        email: false,
        name: false,
        surname: false,
      },
      loading: false,
    };
  },
  methods: {
    noSelectedStone(selective) {
      const notSelective = this.stones.filter(stone => {
        return !selective.some(s => s.id === stone.id);
      });
      return notSelective;
    },
    addSpace(price) {
      const stringPrice = String(price);
      return stringPrice.replace(/(\d)(?=(\d{3})+(\D|$))/g, "$1 ");
    },
    validateForm: function() {
      this.errorMessage = [];
      Object.keys(this.validateErrors).forEach(area => {
        this.validateErrors[area] = false;
      });
      if (!this.name && !this.surname && !this.phone && !this.email) {
        Object.keys(this.validateErrors).forEach(area => {
          this.validateErrors[area] = true;
        });
        this.errorMessage.push("Зполните все поля!");
        return false;
      }
      if (!this.name || this.name.length < 2) {
        this.validateErrors.name = true;
        this.errorMessage.push("Укажите ваше имя!");
      }
      if (!this.surname || this.surname.length < 2) {
        this.validateErrors.surname = true;
        this.errorMessage.push("Укажите вашу фамилию!");
      }
      const isPhoneValid = this.phone.replace(/_/g, " ").trim().length;
      if (isPhoneValid < 14) {
        this.validateErrors.phone = true;
        this.errorMessage.push("Укажите ваш телефон!");
      }
      if (!this.email) {
        this.validateErrors.email = true;
        this.errorMessage.push("Укажите ваш адрес электронной почты!");
      } else if (!this.validEmail(this.email)) {
        this.validateErrors.email = true;
        this.errorMessage.push("Укажите корректный адрес электронной почты.");
      }
      if (this.errorMessage.length) {
        return false;
      } else {
        return true;
      }
    },
    validEmail: function(email) {
      const emailPattern = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
      return emailPattern.test(email);
    },
    deleteProduct: async function(product) {
      const rowId = product.rowId;
      const tag = product.options.category.tag;
      const { data } = await axios.get(`/remove-from-cart/${tag}/${rowId}`);
      this.$store.dispatch('updateCart', data);
    },
    plusQuantity: function(index) {
      this.products[index].quantity++;
      localStorage.setItem("cart", JSON.stringify(this.products));
      this.$store.dispatch("update");
    },
    minusQuantity: function(index) {
      if (this.products[index].quantity == 1) {
        return;
      }
      this.products[index].quantity--;
      localStorage.setItem("cart", JSON.stringify(this.products));
      this.$store.dispatch("update");
    },
    getOrder: async function() {
      const isValid = this.validateForm();
      if (!isValid) {
        return;
      }
      const detalis = {
        products: this.products,
        address: '',
        city: ''
      }
      const order = {
        comment: this.comment,
        products: this.products,
        sum: this.getSumPrice,
        subscribe: this.subscribe,
        delivery: this.shipping,
        detalis: JSON.stringify(detalis),
        type: 'gems',
        customer: {
          name: this.name,
          surname: this.surname,
          phone: this.phone,
          email: this.email,
          city: '',
          address: ''
        }
      };
      try {
        this.loading = true;
        const res = await axios.post("/order", {
          order
        });
        const routeSuccess = res.data;
        if (res.status === 200) {
          this.completed = true;
          const orderNumber = res.data;
          // window.location = `/store/order-success/${orderNumber}`;
          this.orderId = orderNumber;
          const mrh_login = 'perborupdesign' ;
          const out_summ = this.getSumPrice;
          const inv_id = this.orderId;
          const OutSumCurrency = 'RUB';
          const mrh_pass1 = 'F1HZMkI0wX11E2BdUWim'
          this.crc = md5(`${mrh_login}:${out_summ}:${inv_id}:${OutSumCurrency}:${mrh_pass1}`);
        } else {
          this.orderError = "Что-то пошло не так, попробуйте еще раз.";
        }
      } catch (error) {
        if (error.response && error.response.status === 404) {
          this.orderError = "Что-то пошло не так, попробуйте еще раз.";
        } else {
          this.orderError = "Что-то пошло не так, свяжитесь с нами для оформления заказа.";
        }
      } finally {
        this.loading = false;
      }
    },
    fixForm() {
      const fixedForm = document.querySelector(".order_checkout");
      if (fixedForm) {
        const formSourceTop =
          fixedForm.getBoundingClientRect().top + window.pageYOffset;
        window.onscroll = function() {
          if (
            fixedForm.classList.contains("fixed") &&
            window.pageYOffset < formSourceTop
          ) {
            fixedForm.classList.remove("fixed");
          } else if (window.pageYOffset > formSourceTop) {
            fixedForm.classList.add("fixed");
          }
        };
      }
    },
    setOfProductsPrice(index) {
      const product = this.products[index];
      let price =
        product.productPrice * product.quantity +
        (product.props.stones
          ? product.props.stones.reduce(
              (sum, stone, index) =>
                index === 0
                  ? sum + Number(stone.price) - STONE_PRICE
                  : sum + Number(stone.price),
              0
            )
          : 0);
      return price;
    },
  },
  computed: {
    products: function() {
      return this.$store.state.gemsCart;
    },
    getSumPrice() {
      return this.$store.state.gemsCart.reduce((sum, item) => {
        return sum + Number(item.price);
      }, 0) 
    }
  },
  mounted() {
    this.fixForm();
    this.text = text;
  }
};
</script>
<style lang="scss">
.page-of-thanks {
  p {
    font-size: 18px;
  }
}
.preloader_container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.error-message {
  color: red;
  margin-top: 10px;
  width: 100%;
}

.payment_button {
  width: 304px;
  height: 67px;
  border: none;
  margin: 0 auto;
}

.product_stone {
  position: relative;
  .remove-stone-button {
    color: rgb(94, 91, 91);
    font-size: 12px;
    position: absolute;
    right: 2px;
    top: 2px;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.2s linear;
  }
  &:hover {
    .remove-stone-button {
      opacity: 1;
    }
  }
}
.paymnet-form {
  width: 100%;
}
.paymnet-button {
  background-color: black;
  color: white;
  height: 45px;
  width: 100%;
  border: none;
  cursor: pointer;
  &:disabled {
    background-color: #aaaa;
  }
  &:hover:not(:disabled) {
	color: #333;
	background-color: #FAE39B;
}
}
</style>