<template>
  <div class="order_details">
    <div class="order_form">
      <h3>Контактная информация</h3>
      <form>
        <div
          class='input'
          :class="{'input-invalid': validateErrors.phone}"
        >
          <label>Телефон</label>
          <masked-input
            type="text"
            v-model="phone"
            :mask="['+', /[1-9]/, /\d/, /\d/,/\d/, '-', /\d/, /\d/, /\d/, '-', /\d/, /\d/, /\d/, /\d/]"
            placeholder="Ваш номер телефона"
            required
          >
          </masked-input>
        </div>
        <div
          class='input'
          :class="{'input-invalid': validateErrors.email}"
        >
          <label>Email</label>
          <input
            type="email"
            placeholder="Ваш email"
            v-model.trim="email"
            required
          >
        </div>
        <div
          class='input'
          :class="{'input-invalid': validateErrors.name}"
        >
          <label>Имя</label>
          <input
            type="text"
            placeholder="Имя"
            v-model.trim="name"
            required
          >
        </div>
        <div
          class='input'
          :class="{'input-invalid': validateErrors.surname}"
        >
          <label>Фамилия</label>
          <input
            type="text"
            placeholder="Фамилия"
            v-model.trim="surname"
            required
          >
        </div>
        <div
          class='input'
          :class="{'input-invalid': validateErrors.address}"
        >
          <label>Адрес</label>
          <input
            type="text"
            v-model.trim="address"
            required
            placeholder="Адрес"
          >
        </div>
        <div
          class="form-select"
          :class="{'input-invalid': validateErrors.sity}"
        >
          <label>Город</label>
          <v-select
            :options="['Москва', 'Санкт-Петербург']"
            v-model="sity"
            class='sity-select'
            :searchable="false"
          ></v-select>
        </div>
      </form>
      <div
        class='error-message'
        v-if="errorMessage.length"
      >
        <p
          v-for="(error, index) in errorMessage"
          :key="index"
        >{{error}}</p>
      </div>
      <div class='delivery-info'>
        <h3>Способ доставки</h3>
        <div class='shipping-options'>
          <div class='option delivery'>
            <label for="delivery">
              <input
                type="radio"
                id='delivery'
                value="доставка"
                v-model="shipping"
                name="shipping"
              >
              <span class="shipping-radio"></span>
              <section class='shippig-description'>
                <p>Доставим украшение лично в руки </p>
                <p>От 30 до 60 календарных дней</p>
              </section>
              <p>Бесплатно</p>
            </label>
          </div>
          <div class='option pickup'>
            <label for="pickup">
              <input
                type="radio"
                id="pickup"
                name="shipping"
                value="самовывоз"
                v-model="shipping"
              >
              <span class="shipping-radio"></span>
              <section class='shippig-description'>
                <p>Получите украшение в нашем офисе</p>
                <p>Невский проспект, 55, Санкт-Петербург, </p>
                <p>Санкт-Петербург, 197198, Россия</p>
              </section>
              <p>Бесплатно</p>
            </label>
          </div>
        </div>
      </div>
      <div class='payment-info'>
        <h3>Оплата</h3>
        <section>
          <p
            v-for="(item, index) in paymentInfo"
            :key="index"
          >
            <span v-html="item.content"></span>
          </p>
        </section>
      </div>
      <div class="politics">
        <p>Пожалуйста, проверьте детали заказа. Когда будете готовы, нажмите «Разместить заказ».</p>
        <label>
          <input
            type="checkbox"
            v-model="politics"
          >
          <span class='politics-checkbox'></span>
          <p>Я принимаю <a href="/store-policy">политику конфиденциальности</a></p>
        </label>
        <label>
          <input
            type="checkbox"
            v-model="subscribe"
          >
          <span class='politics-checkbox'></span>
          <p>Я хочу получать новости</p>
        </label>
      </div>
    </div>
    <div>
      <div class="additional-form">
        <div class="additional">
          <span @click="() => couponVisible = !couponVisible">
            <i class="fas fa-tag"></i>Использовать купон
          </span>
          <div
            class="coupon-input"
            v-if="couponVisible"
          >
            <input
              type="text"
              placeholder="Введите промокод"
              v-model="coupon"
            >
            <button>ок</button>
          </div>
        </div>
        <div class="additional">
          <span @click="() => commentVisible = !commentVisible">
            <i class="far fa-comment-dots"></i>Добавить пожелание
          </span>
          <div
            class="comment-input"
            v-if="commentVisible"
          >
            <textarea
              placeholder="Особые пожелания? Комментарии? Напишите их здесь."
              class="comment"
              v-model="comment"
            >
                </textarea>
          </div>
        </div>
      </div>
      <div class="order_checkout">
        <div class="payment_details">
          <div class="sum_payment">
            <p>Сумма:</p>
            <div class='sum-price'>
              <span>{{getSumPrice}}</span>,00 руб.
            </div>
          </div>
          <p>
            Внимание! Украшение изготавливается и доставляется в срок от 30 до 60 календарных дней.
          </p>
          <div class="payment_method">
            <button
              :disabled="!politics"
              class="get_order"
              @click="getOrder"
            >Разместить заказ</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "OrderFrom",
  props: [],
  data() {
    return {
      paymentInfo: [
        {
          content:
            "Заказ подтверждается после внесения предоплаты в размере 50% от стоимости изделия. Остальная часть суммы оплачивается при получении.&nbsp;"
        },
        {
          content:
            'До завершения оформления заказа, Вам необходимо ознакомиться с подробными <a href="/shipping">условиями покупки, доставки и возврата украшений</a>'
        },
        {
          content:
            "После размещения заказа мы свяжемся с Вами для согласования всех деталей. По Вашему желанию, будем рады назначить встречу в нашем офисе для показа и примерки образцов украшений.&nbsp;"
        }
      ],
      couponVisible: false,
      commentVisible: false,
      politics: false,
      sumPrice: 0,
      name: "",
      surname: "",
      phone: "",
      email: "",
      comment: "",
      address: "",
      sity: "",
      shipping: "доставка",
      subscribe: false,
      coupon: "",
      errorMessage: [],
      validateErrors: {
        phone: false,
        email: false,
        name: false,
        surname: false,
        sity: false,
        address: false
      },
      loading: false
    };
  }
};
</script>

<style scoped>
</style>