<template>
  <div
    class="products_cart"
    v-if="products && products.length"
  >
    <div
      class="product_in_cart"
      v-for="(product, index) in products"
      :key="index"
    >
      <!-- Описание -->
      <div class="product_description">
        <!-- Изображение -->
        <div class="product_image">
          <img
            v-bind:src="'/' + product.image"
            alt="Украшение"
          >
        </div>
        <!-- Характеристики -->
        <div class="description">
          <!-- Название товара -->
          <p
            class="name_product"
            id="name-item"
          >
            {{product.name}}
          </p>
          <p class="name_product">
            Цена: {{product.price}} руб.
          </p>
          <!-- Материал -->
          <p v-if="!isStone(index)">
            Материал:
            <span>{{product.props.material}}</span>
          </p>
          <!-- Проба золота -->
          <p v-if="!isStone(index)">
            Проба:
            <span>{{product.props.gold}}</span>
          </p>
          <!-- Размер если кольцо -->
          <p v-if="!isStone(index) && product.props.size">
            Размер:
            <span>{{product.props.size}}</span>
          </p>
          <p v-if="product.props.stones">Сменные камни:</p>
          <div
            class="product_stones"
            v-if="product.props.stones"
          >
            <div
              class="product_stone"
              v-for="(stone, index) in product.props.stones"
              :key="index"
              :title="stone.name"
              v-bind:style="{ backgroundImage: 'url('+ '/' +  stone.images[0].path + ')' }"
            >
            </div>
          </div>
        </div>
      </div>
      <!-- цена -->
      <div class="item_price">
        <div class="quantity_block">
          <button
            class="quantity_button"
            @click="minusQuantity(index)"
          >-</button>
          <input
            class="quantity-num"
            type="text"
            v-bind:value="product.quantity"
            disabled
          >
          <button
            class="quantity_button"
            @click="plusQuantity(index)"
          >+</button>
        </div>
        <div class="product_price">{{product.price * product.quantity}},00 руб.</div>
      </div>
      <div class="delete_btn_container">
        <button
          @click="removeProduct(index)"
          class="delete_btn"
        >Удалить</button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "ProductList",
  props: ['products'],
  data() {
    return {};
  },
  computed: {
  },
  methods: {
    removeProduct: function(index) {
       this.$emit('remove', index);
    },
    plusQuantity: function(index) {
       this.$emit('plus', index);
    },
    minusQuantity: function(index) {
       this.$emit('minus', index);
    },
    isStone(i) {
      return !Object.keys(this.products[i].props).length;
    }
  }
};
</script>

<style scoped>
</style>