<template>
  <div
    class='order-form-input'
    :class="{'input-invalid': validateErrors.email}"
  >
    <label>{{label}}</label>
    <input
      type
      placeholder
      v-bind:value="value"
      v-on:input="$emit('input', $event.target.value)"
      required
    >
  </div>
</template>

<script>
export default {
  name: "CartInput",
  props: ["validError", "placeholder", 'value', 'label', 'type'],
  data() {
    return {};
  }
};
</script>

<style scoped>
.order-form-input > label {
	margin-bottom: 5px;
	margin-top: 10px;
}

.order-form-input input {
  border: 1px solid #D1D1D1;
  width: 90%;
	padding: 0 5px;
	height: 30px;
	height: 40px;
}

.order-form-input.input-invalid input {
	border: 1px solid red;
}
</style>