<template>
  <v-popover
    offset="10"
    placement='right'
    v-if="visible"
    popoverClass="stone-select"
  >
    <button
      class="add-stone-btn"
      v-tooltip="tooltipOptions"
    ><i class="fas fa-plus"></i></button>

    <template slot="popover">
      <ul class='stone-list'>
        <li
          class='list-item'
          v-for="(stone, index) in stones"
          :key="index"
        >
          <span
            @click="addStone(stone)"
            class="stone-item"
            v-bind:style="{ backgroundImage: 'url('+ '/' + stone.images[0].path + ')' }"
            :title="stone.name"
            v-close-popover
          ></span>
          <p class='stone-name'>{{stone.name}}</p>
        </li>
      </ul>
    </template>
  </v-popover>
</template>

<script>
export default {
  name: "StoneSelect",
  props: ["visible", "stones", "index"],
  data() {
    return {
      tooltipOptions: {
        content: "Добавить сменный камень",
        classes: ["tooltip-light"],
        placement: "top-center",
        offset: 10
      }
    };
  },
  methods: {
    addStone(stone) {
      this.$emit("add-stone", stone, this.index);
    }
  }
};
</script>

<style lang="scss">
.add-stone-btn {
  width: 50px;
  height: 50px;
  background-color: #fff;
  border: 1px solid #d1d1d1;
  color: #d1d1d1;
  margin: 2px;
  cursor: pointer;
  transition: all 0.2s linear;
  &:hover {
    background-color: rgba(0, 0, 0, 0.1);
    color: #333;
  }
}
.tooltip {
  $color: rgba(255, 255, 255, 0.9);
  &.tooltip-light {
    .tooltip-inner {
      background: $color;
      color: #242424;
      padding: 15px;
      font-family: Arial;
      font-size: 14px;
      border-radius: 5px;
      box-shadow: 0 5px 30px rgba(black, 0.1);
      border-color: #242424;
    }

    .tooltip-arrow {
      border-color: #242424;
    }
  }
  &.popover {
    .popover-inner {
      background: $color;
      padding: 8px;
      border-radius: 5px;
      box-shadow: 0 10px 30px rgba(black, 0.1);
    }
    .popover-arrow {
      border-color: $color;
    }
  }
}
.stone-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 400px;
  .list-item {
    margin: 0;
    padding: 5px;
  }
  .stone-item {
    display: block;
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-size: 250%;
    background-position: center center;
    cursor: pointer;
    transition: all 0.2s linear;
    margin: 0 auto;
    &:hover {
      box-shadow: 0 0 5px 1px rgba(black, 0.1);
    }
  }
  .stone-name {
    font-size: 12px;
    width: 50px;
    font-family: Futura;
    text-align: center;
  }
}
</style>