<template>
  <form>
    <h4>Основные поля</h4>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="category">
          <strong>Категория*</strong>
        </label>
        <select
          class="form-control"
          id="category"
          v-model="category"
        >
          <option
            v-for="category in categories"
            :key="category.name"
            :value="category.tag"
          >{{category.name}}</option>
        </select>
        <small
          id="emailHelp"
          class="form-text text-muted"
        >Выберите категорию товара</small>
      </div>
      <Input
        v-model="name"
        title="Название"
        placeholder="Название"
        description="Для категории сменных камней название обязательно"
        column="true"
      />
    </div>
    <div class="form-row">
      <Input
        v-model="price"
        title="Цена*"
        placeholder="Цена товара (только числа)"
        column="true"
        groopText="руб."
      />
      <Input
        v-model="maxPrice"
        title="Максимальная цена"
        placeholder="Цена для изделий при выборе 750 пробы золота (только числа)"
        column="true"
        groopText="руб."
      />
    </div>
    <hr class="mb-5">
    <h4>CEO</h4>
    <div class="form-group">
      <label for="exampleFormControlTextarea1">
        <strong>Описание товара</strong>
      </label>
      <small
        id="emailHelp"
        class="form-text text-muted"
      >Описние будет видно на странице товара</small>
      <ckeditor
        :editor="editor"
        v-model="description"
      ></ckeditor>
    </div>
    <TextArea
      title="Описание товара для CEO"
      description="Для показа в поисковой выдаче"
      v-model="meta_description"
    />
    <TextArea title="Ключевые слова для поиска" v-model="meta_keywords"/>
    <hr class="mb-5">
    <div v-if="category !== 'gems'">
      <div class="form-group">
        <label for="vendor">
          <strong>Артикул товара</strong>
        </label>
        <input
          type="text"
          class="form-control"
          id="vendor"
          name="vendor"
          placeholder="Артикул товара"
          v-model="vendor"
        >
        <small id="emailHelp" class="form-text text-muted">Напишите артикул товара если он есть</small>
      </div>
      <div class="form-group">
        <label for="collection">
          <strong>Коллекция</strong>
        </label>
        <v-select id="collection" 
          :options="collections" 
          :reduce="collection => collection.id" 
          label="name"
          v-model="collection" 
          :multiple="true"
          :searchable="false"
          :close-on-select="false"
           />
      </div>
      <div class="form-group">
        <label for="category">
          <strong>Повод</strong>
        </label>
        <v-select id="category" 
          :options="targets" 
          :reduce="target => target.id" 
          label="name"
          v-model="target" 
          :multiple="true"
          :searchable="false"
          :close-on-select="false"
           />
      </div>
      <div class="form-group">
        <label for="material">
          <strong>Материал</strong>
        </label>
        <select class="form-control" id="material" v-model="metal">
          <option v-for="material in metals" :key="material.tag" :value="material.id">{{material.name}}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="insertions">
          <strong>Вставки</strong>
        </label>
          <v-select id="insertions" 
          :options="insertions" 
          :reduce="insertion => insertion.id" 
          label="name"
          v-model="insertion" 
          :multiple="true"
          :searchable="false"
          :close-on-select="false"
           />
      </div>
      <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="has_stone" v-model="has_stone">
        <label class="form-check-label" for="has_stone">
          <strong>Сменные камни</strong>
        </label>
      </div>
      <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="diamonds" v-model="diamonds">
        <label class="form-check-label" for="diamonds">
          <strong>Бриллианты</strong>
        </label>
      </div>
    </div>
    <div class="row mb-3" v-for="(photo, index) in images" :key="index">
      <div class="col-md-2" style="width: 10rem;">
        <img v-bind:src="photo.src" class="img-thumbnail">
      </div>
      <div class="form-group col-md-9" v-if="category !== 3">
        <label for="material">Материал</label>
        <select
          class="form-control"
          id="material"
          v-model="material[index]"
          @change="addMaterialForImage($event, index)"
        >
        <option value="">Без привязки к материалу</option>
          <option
            v-for="material in materialTypes"
            :key="material.name"
            :value="material.id"
            :style="{color: material.color}"
          >{{material.name}}</option>
        </select>
      </div>
      <div class="col-md-1">
        <button class="btn btn-light" @click="() => images.splice(index)">
          <strong>X</strong>
        </button>
      </div>
    </div>
    <div class="form-row mb-5">
      <div class="form-group col-md-6">
        <label for="image">
          <strong>Добавьте картинки*</strong>
        </label>
        <input type="file" class="form-control" id="image" @change="processFile($event)" multiple>
      </div>
    </div>
    <button
      type="submit"
      class="btn btn-dark mb-2"
      @click.prevent="sendProductData"
      :disabled="isLoading"
    >{{isLoading ? 'Сохраняем...' : 'Сохранить'}}</button>
  </form>
</template>

<script>
import Input from "../common/Input";
import TextArea from "../common/TextArea";
import "cxlt-vue2-toastr/dist/css/cxlt-vue2-toastr.css";
import ClassicEditor from "@ckeditor/ckeditor5-build-classic";
import vSelect from "vue-select";
import "vue-select/dist/vue-select.css";

export default {
  components: {
    Input,
    TextArea,
    "v-select": vSelect
  },
  props: [
    "categories",
    "collections",
    "targets",
    "metals",
    "insertions",
    "materials"
  ],
  name: "CreateProduct",
  data: function() {
    return {
      isLoading: false,
      category: "",
      name: "",
      price: "",
      maxPrice: "",
      description: "",
      meta_description: "",
      meta_keywords: "",
      collection: [],
      target: [],
      material: [],
      metal: "",
      images: [],
      vendor: "",
      insertion: [],
      has_stone: false,
      diamonds: false,
      editor: ClassicEditor
    };
  },
  computed: {
    materialTypes() {
      return this.materials.filter(m => m.material_id == this.metal);
    }
  },
  methods: {
    processFile(event) {
      const input = event.target;
      if (input.files && input.files[0]) {
        this.images = [];
        const files = input.files;
        Object.keys(files).forEach(i => {
          const file = files[i];
          const reader = new FileReader();
          reader.onload = e => {
            this.images.push({
              src: e.target.result,
              material: "",
              file: i
            });
          };
          reader.readAsDataURL(file);
        });
      }
    },
    addMaterialForImage(event, index) {
      this.images[index].material = event.target.value;
    },
    sendProductData() {
      if (!this.category || !this.name || !this.price) {
        this.$toast.warn({
          title: "Внимание!",
          message: "Заполните обязательные поля."
        });
        return;
      }
      if (!this.images.length) {
        this.$toast.warn({
          title: "Внимание!",
          message: "Добавьте фото."
        });
        return;
      }
      const data = {
        category_id: this.category,
        name: this.name,
        price: this.price,
        maxPrice: this.maxPrice,
        description: this.description,
        meta_description: this.meta_description,
        meta_keywords: this.meta_keywords,
        collection: JSON.stringify(this.collection),
        images: JSON.stringify(
          this.images.map(img => ({
            material: img.material || null,
            file: img.file
          }))
        ),
        vendor: this.vendor,
        properties: JSON.stringify({
          insertions: this.insertion,
          has_stone: this.has_stone ? 1 : 0,
          targets: this.target,
          material: this.metal,
          diamonds: this.diamonds ? 1 : 0
        })
      };
      const formData = new FormData();
      const images = document.getElementById("image").files;
      Object.keys(images).forEach(i => {
        formData.append(`image${i}`, images[i]);
      });
      Object.keys(data).forEach(input => {
        formData.append(input, data[input]);
      });
      this.isLoading = true;
      axios
        .post("/admin/products", formData, {
          headers: {
            "Content-Type": "multipart/form-data"
          }
        })
        .then(response => {
          this.isLoading = false;
          if (response.status === 200 && response.data == "ok") {
            this.$toast.success({
              title: "Успешно!",
              message: "Товар добвлен."
            });
          }
        })
        .catch(error => {
          this.isLoading = false;
          this.$toast.error({
            title: "Ошибка.",
            message: "Упс, что-то пошло не так!(проверьте введенные данные)"
          });
        });
    }
  },

  mounted() {}
};
</script>

<style lang="scss">
.picker-color {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
</style>