<template>
  <form>
    <h4>Основные поля</h4>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="category">
          <strong>Категория*</strong>
        </label>
        <select
          class="form-control"
          id="category"
          v-model="category"
          disabled
        >
          <option
            v-for="category in categories"
            :key="category.name"
            :value="category.tag"
          >{{category.name}}</option>
        </select>
        <small
          id="emailHelp"
          class="form-text text-muted"
        >Выберите категорию товара</small>
      </div>
      <Input
        v-model="name"
        title="Название"
        placeholder="Название"
        description="Для категории сменных камней название обязательно"
        column="true"
      />
    </div>
    <div class="form-row">
      <Input
        v-model="price"
        title="Цена*"
        placeholder="Цена товара (только числа)"
        column="true"
        groopText="руб."
      />
      <Input
        v-model="maxPrice"
        title="Максимальня цена*"
        placeholder="Цена товара (только числа)"
        column="true"
        groopText="руб."
      />
    </div>
    <hr class="mb-5">
    <h4>CEO</h4>
    <div class="form-group">
      <label for="exampleFormControlTextarea1">
        <strong>Описание товара</strong>
      </label>
      <small
        id="emailHelp"
        class="form-text text-muted"
      >Описние будет видно на странице товара</small>
      <ckeditor
        :editor="editor"
        v-model="description"
      ></ckeditor>
    </div>
    <TextArea
      title="Описание товара для CEO"
      description="Если не заполнить, то значение будет как у поля 'Описание товара'"
      v-model="meta_description"
    />
    <TextArea title="Ключевые слова для поиска" v-model="meta_keywords"/>
    <hr class="mb-5">
    <div v-if="product.category.tag !== 'gems'">
      <div class="form-group">
        <label for="vendor">
          <strong>Артикул товара</strong>
        </label>
        <input
          type="text"
          class="form-control"
          id="vendor"
          name="vendor"
          placeholder="Артикул товара"
          v-model="vendor"
        >
        <small class="form-text text-muted">Напишите артикул товара если он есть</small>
      </div>
      <div class="form-group">
        <label for="collection">
          <strong>Коллекция</strong>
        </label>
        <v-select id="collection" 
          :options="collections"
          value="id"
          label="name"
          v-model="collection" 
          :multiple="true"
          :searchable="false"
          :close-on-select="false"
           />
      </div>
      <div class="form-group">
        <label for="target">
          <strong>Повод</strong>
        </label>
          <v-select id="target" 
          :options="targets"
          value="id"
          label="name"
          v-model="target" 
          :multiple="true"
          :searchable="false"
          :close-on-select="false"
           />
      </div>
      <div class="form-group">
        <label for="material">
          <strong>Материал</strong>
        </label>
        <select class="form-control" id="material" v-model="metal">
          <option v-for="material in metals" :key="material.tag" :value="material.id">{{material.name}}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="insertion">
          <strong>Вставки</strong>
        </label>
          <v-select id="insertion" 
          :options="insertions"
          value="id"
          label="name"
          v-model="insertion" 
          :multiple="true"
          :searchable="false"
          :close-on-select="false"
           />
      </div>
      <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="has_stone" v-model="has_stone">
        <label class="form-check-label" for="has_stone">
          <strong>Сменные камни</strong>
        </label>
      </div>
      <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="diamonds" v-model="diamonds">
        <label class="form-check-label" for="diamonds">
          <strong>Бриллианты</strong>
        </label>
      </div>
    </div>
    <div :class="{disabled: imgLoading, imageContainer: true}">
      <h3 v-if="images.length">Изображения товара:</h3>
      <div class="row mb-3" v-for="(photo, index) in images" :key="index">
        <div class="col-md-2" style="width: 10rem;">
          <img v-bind:src="photo.src" class="img-thumbnail">
        </div>
        <div class="form-group col-md-9" v-if="product.category.tag !== 'gems'">
          <label for="material">Материал</label>
          <select
            class="form-control"
            id="material"
            v-model="material[index]"
            @change="addMaterialForImage($event, index)"
          > 
          <option value="">Без привязки к материалу</option>
          <option
              v-for="material in materialTypes"
              :key="material.name"
              :value="material.id"
              :style="{color: material.color}"
            >{{material.name}}</option>
          </select>
        </div>
        <div class="col-md-1">
          <button
            class="btn btn-light"
            v-if="images.length > 1"
            @click.prevent="deleteProductImage(photo.id, index)"
          >
            <strong>X</strong>
          </button>
        </div>
      </div>
    </div>
    <div class="form-row mb-5">
      <div class="form-group col-md-6">
        <label for="image">
          <strong>Добавьте картинки*</strong>
        </label>
        <input type="file" class="form-control" id="image" @change="processFile($event)" multiple>
      </div>
    </div>
    <button
      type="submit"
      class="btn btn-dark mb-2"
      @click.prevent="sendProductData"
      :disabled="isLoading"
    >{{isLoading ? 'Сохраняем...' : 'Сохранить'}}</button>
  </form>
</template>

<script>
import Input from "../common/Input";
import TextArea from "../common/TextArea";
import "cxlt-vue2-toastr/dist/css/cxlt-vue2-toastr.css";
import ClassicEditor from "@ckeditor/ckeditor5-build-classic";
import vSelect from "vue-select";
import "vue-select/dist/vue-select.css";

export default {
  components: {
    Input,
    TextArea,
    "v-select": vSelect
  },
  props: [
    "categories",
    "collections",
    "targets",
    "product",
    "materials",
    "metals",
    "insertions"
  ],
  name: "EditProduct",
  data: function() {
    return {
      isLoading: false,
      imgLoading: false,
      category: "",
      name: "",
      price: "",
      maxPrice: "",
      description: this.product.description,
      meta_description: "",
      meta_keywords: "",
      collection: [],
      target: "",
      material: [],
      images: [],
      vendor: "",
      insertion: "",
      metal: "",
      has_stone: false,
      diamonds: false,
      editor: ClassicEditor
    };
  },
  computed: {
    materialTypes() {
      return this.materials.filter(m => m.material_id == this.metal);
    }
  },
  methods: {
    init() {
      const selectedCAtegory = this.categories.find(
        category => category.id == this.product.category_id
      );
      const {
        name,
        price,
        meta_description,
        meta_keywords,
        description,
        vendor,
        images,
        property,
        max_price
      } = this.product;
      this.category = selectedCAtegory.tag;
      this.name = name;
      this.price = price;
      this.maxPrice = max_price;
      this.collection = this.product.collections;
      this.vendor = vendor;
      this.meta_description = meta_description;
      this.meta_keywords = meta_keywords;
      this.images = images.map(img => ({
        src: "/" + img.path,
        material: img.material_type_id,
        file: "",
        id: img.id
      }));
      this.material = this.product.images.map(img => img.material_type_id);
      if (property) {
        const { has_stone, insertions, targets, material_id, diamonds } = property;
        this.has_stone = has_stone ? true : false;
        this.target = targets;
        this.insertion = insertions;
        this.metal = material_id;
        this.diamonds = diamonds;
      }
    },
    processFile(event) {
      const input = event.target;
      if (input.files && input.files[0]) {
        const files = input.files;
        Object.keys(files).forEach(i => {
          const file = files[i];
          const reader = new FileReader();
          reader.onload = e => {
            this.images.push({
              src: e.target.result,
              material: "",
              file: i
            });
          };
          reader.readAsDataURL(file);
        });
      }
    },
    addMaterialForImage(event, index) {
      this.images[index].material = event.target.value;
    },
    deleteProductImage(id, index) {
      this.imgLoading = true;
      if (!id) {
        this.images = this.images.filter((img, i) => i !== index);
        return;
      }
      axios
        .get(`/admin/deleteImage/${id}`)
        .then(response => {
          this.imgLoading = false;
          this.images = this.images.filter((img, i) => i !== index);
          this.$toast.success({
            title: "Успешно!",
            message: "Фотогрфия удалена."
          });
        })
        .catch(error => {
          this.imgLoading = false;
          this.$toast.error({
            title: "Ошибка.",
            message: "Неудалось удалить фотографию."
          });
        });
    },
    sendProductData() {
      if (!this.category || !this.name || !this.price) {
        this.$toast.warn({
          title: "Внимание!",
          message: "Заполните обязательные поля."
        });
        return;
      }
      const data = {
        category_id: this.category,
        name: this.name,
        price: this.price,
        description: this.description || "",
        meta_description: this.meta_description || "",
        meta_keywords: this.meta_keywords || "",
        collection: JSON.stringify(this.collection.map(c => c.id)),
        images: JSON.stringify(
          this.images.map(img => ({
            material: +img.material || "",
            file: img.file,
            id: img.id || ""
          }))
        ),
        vendor: this.vendor || "",
        properties: JSON.stringify({
          insertions: JSON.stringify(this.insertion.map(i => i.id)),
          has_stone: this.has_stone ? 1 : 0,
          targets: JSON.stringify(this.target.map(t => t.id)),
          material: this.metal,
          diamonds: this.diamonds ? 1 : 0
        })
      };
      const formData = new FormData();
      const images = document.getElementById("image").files;
      Object.keys(images).forEach(i => {
        formData.append(`image${i}`, images[i]);
      });
      Object.keys(data).forEach(input => {
        formData.append(input, data[input]);
      });
      formData.append("_method", "put");
      this.isLoading = true;
      axios
        .post(`/admin/products/${this.product.id}`, formData, {
          headers: {
            "Content-Type": "multipart/form-data"
          }
        })
        .then(response => {
          this.isLoading = false;
          if (response.status === 200 && response.data == "ok") {
            this.$toast.success({
              title: "Успешно!",
              message: "Товар сохранен."
            });
          }
        })
        .catch(error => {
          this.isLoading = false;
          this.$toast.error({
            title: "Ошибка.",
            message: "Упс, что-то пошло не так!(проверьте введенных данные)."
          });
        });
    }
  },
  mounted() {
    this.init();
  }
};
</script>

<style lang="scss">
.imageContainer {
  position: relative;
  &.disabled::after {
    content: "Подождите...";
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    font-size: 20px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgba(255, 255, 255, 0.5);
  }
}
</style>