<template>
  <div class="p-a-c">
    <div class="personal-menu">
      <div class="account-side-bar">
        <div class="user-logo">
          <div
            class="user-image"
            :style="{backgroundImage: `url(${uploadImage ? uploadImage.src :  user.avatar.path})`}"
          >
          </div>
          <label
            class="input-avatar"
            v-if="editAvatar"
          >
            Загрузите новое фото
            <input
              type="file"
              @change="processFile($event)"
              accept=".png, .jpg, .jpeg, .gif, .webp"
            >
          </label>
          <span>{{fullName}}</span>
        </div>
        <button
          class="edit-btn"
          @click.prevent="saveAvatar"
        >
          {{editAvatar ? 'Сохранить' :'Редактировать'}}</button>
      </div>
      <nav class="account-nav">
        <ul>
          <li @click="() => activeTab = 'orders'">Мои заказы</li>
          <li @click="() => activeTab = 'profile'">Мой профиль</li>
        </ul>
      </nav>
    </div>
    <div
      class="personal-info"
      v-if="activeTab === 'profile'"
    >
      <div class="account-headline">
        <h1>Мой аккаунт</h1>
        <p>Проверьте и отредактируйте личную информацию ниже.</p>
      </div>
      <div class="invariable-info">
        <p>Эл. почта логина:</p>
        <span>{{user.email}}</span><span class="info-flag"><i class="fas fa-info-circle"></i></span>
      </div>
      <form class="account-info-form ">
        <div class="row-container form-input-container">
          <div class="input-container">
            <label for="">Имя</label>
            <div><input
                type="text"
                name="name"
                v-model="name"
              ></div>
          </div>
          <div class="input-container">
            <div><label for="">Фамилия</label></div>
            <div><input
                type="text"
                name="surname"
                v-model="surname"
              ></div>
          </div>
          <div class="input-container">
            <div><label for="">Телефон</label></div>
            <masked-input
              type="text"
              v-model="phone"
              :mask="['+', /[1-9]/, /\d/, /\d/,/\d/, '-', /\d/, /\d/, /\d/, '-', /\d/, /\d/, /\d/, /\d/]"
              required
            >
            </masked-input>
          </div>
        </div>
        <p class="success-message">{{message}}</p>
        <button
          class="update-info"
          @click.prevent="updateInfo"
          :disabled="loading"
        >{{loading ? 'Обновляем..' : 'Обновить'}}</button>
      </form>
    </div>
    <div
      v-else
      class='users-orders'
    >
      <div v-if="!orders || !orders.length">
        Вы еще не оформили заказ.
      </div>
      <div v-else>
        <ul class="order-list">
          <li
            v-for="(order, index) in userOrders"
            :key="index"
          >
            <div class="order">
              <header class='order-header'>
                <span class="header-elem">Заказ № {{order.id}}</span>
                <span class="header-elem">Сумма заказа: {{order.sum_price}},00 руб.</span>
                <span class="header-elem">Дата оформления: {{formatDate(order.created_at)}}</span>
              </header>
              <div class='order-products'>
                <div
                  class='order-product'
                  v-for="product in order.details.products"
                  :key="product.name"
                >
                  <div
                    class='product-image'
                    :style="{backgroundImage: `url(${'/' + product.image})`}"
                  ></div>
                  <div class="product-description">
                    <p>{{product.name}}</p>
                    <p>Цена: {{product.price}}</p>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
import MaskedInput from "vue-text-mask";
import moment from "moment";

export default {
  components: {
    MaskedInput
  },
  props: ["user", "orders"],
  data() {
    return {
      name: "",
      surname: "",
      phone: "",
      editAvatar: false,
      activeTab: "profile",
      uploadImage: null,
      userForUpdate: this.user,
      message: "",
      loading: false
    };
  },
  computed: {
    fullName() {
      return `${this.userForUpdate.name} ${this.userForUpdate.surname}`;
    },
    userOrders() {
      return this.orders.map(order => {
        return {
          ...order,
          details: JSON.parse(order.details)
        };
      });
    }
  },
  methods: {
    init() {
      this.name = this.user.name;
      this.surname = this.user.surname;
      this.phone = this.user.phone;
    },
    formatDate(date) {
      moment.locale("ru");
      const newDate = moment(date)
        .utcOffset(6)
        .format("LL");
      return newDate;
    },
    saveAvatar() {
      if (!this.editAvatar) {
        this.editAvatar = !this.editAvatar;
        return;
      }
      if (!this.uploadImage) {
        return;
      }
      const data = new FormData();
      data.append("avatar", this.uploadImage.file);
      data.append("email", this.user.email);
      axios
        .post("/account/avatar", data, {
          headers: {
            "Content-Type": "multipart/form-data"
          }
        })
        .then(response => {
          if (response.status === 200) {
            this.editAvatar = false;
          }
        })
        .catch(error => {
          console.log(error);
        });
    },
    processFile(event) {
      const input = event.target;
      if (input.files && input.files[0]) {
        const file = input.files[0];
        const reader = new FileReader();
        reader.onload = e => {
          this.uploadImage = {
            src: e.target.result,
            file
          };
        };
        reader.readAsDataURL(file);
      }
    },
    updateInfo() {
      this.message = "";
      const isPhoneValid = this.phone.replace(/_/g, " ").trim().length;
      if (!this.name || !this.surname || isPhoneValid < 14) {
        this.message = "Проверьте введенные данные!";
        return;
      }
      this.loading = true;
      axios
        .post("/account/update", {
          email: this.user.email,
          name: this.name,
          surname: this.surname,
          phone: this.phone
        })
        .then(({ data }) => {
          this.loading = false;
          this.message = data.message;
          this.userForUpdate = { ...this.userForUpdate, ...data.user };
        })
        .catch(error => {
          this.loading = false;
          // console.log(error);
        });
    }
  },
  created() {
    this.init();
  }
};
</script>

<style lang="scss">
.success-message {
  margin: 10px 0;
}

.disabled {
  background-color: gray;
}
</style>
